<header class="site-header site-header--fixed">
  <div class="site-header__content">
    <div class="site-header__logo">
      <a aria-current="page" class="nav-link" href="/">
        <!-- @TODO: Use usa-sr-only. -->
        <h1 class="visually-hidden">Bixal</h1>
        <img src="https://bixal.com/static/e90efae7e816749d805876341ba16f9a/bixal-logo-full.svg" alt="Bixal Logo">
      </a>
    </div>
    <nav class="main-nav">
      <ul>
        <li class="main-nav__item">
          <a class="nav-link" href="/our-work/">
            <span class="nav-link__inner"
            >Our
              Work</span></a></li>
        <li class="main-nav__item">
          <a class="nav-link" href="/contract-vehicles/">
            <span class="nav-link__inner">Contract Vehicles</span>
          </a>
        </li>
        <li class="main-nav__item">
          <a class="nav-link" href="/careers/">
            <span class="nav-link__inner">Careers</span>
          </a>
        </li>
        <li class="main-nav__item">
          <a class="nav-link" href="/blog/">
            <span class="nav-link__inner">Blog</span>
          </a>
        </li>
        <li class="main-nav__item">
          <a class="nav-link" href="/about/">
            <span class="nav-link__inner">About Bixal</span>
          </a>
        </li>
        <li class="main-nav__item">
          <!-- @TODO: Refactor this button -->
          <a href="https://jobs.lever.co/bixal" class="nav-link nav-link--btn">
            <button data-test-id="contact">Join Us</button>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
