{% extends "@pages/base/base.html.twig" %}

{% block content %}
  <div class="bix-section">
    <div class="bix-container">
      <h2>
        Explore the latest Bixal news and insights from our thought leaders.
      </h2>
      Blog post
    </div>
  </div>
{% endblock %}
