{% extends "@pages/base/base.html.twig" %}


{% block content %}
  {% embed "@components/section/section.html.twig" %}
    {% block header %}
      <h2>{{ blog.title }}</h2>
      <time datetime="{{ date | date(" m-d-Y") }}">
        {{ blog.date }}
      </time>
      {% if blog.author %}
      <div class="bix-author">
        {{ blog.author }}
      </div>
      {% endif %}
    {% endblock %}

    {% block description %}
      {% include "@components/prose/prose.html.twig" with {
        content: blog.content
      } %}
    {% endblock %}
  {% endembed %}
{% endblock %}
