{% if blurb_collection %}
  {% if attributes is empty %}
    {% set attributes = create_attribute() %}
  {% endif %}

  {% set ulAttributes = create_attribute() %}
  {% set blurb_classes = [
    "bix-blurbs",
    (variant ? "bix-blurbs--" ~ variant | default("two-up")),
    (featured ? "bix-blurbs--featured"),
  ] %}

  {# @TODO: Support lazy loading after X amount of items. #}
  <div {{ attributes.addClass(additional_classes | default([])) }}>
    {{ content.contextual_links }}
    <ul {{ ulAttributes.addClass(blurb_classes) }}>
      {{ blurb_collection }}
    </ul>
  </div>
{% endif %}
