<div class="bix-blurb">
  <div class="bix-blurb__image">
    <div>
      <div data-placeholder-image=""></div>
      <picture>
        <!-- @TODO: Cleanup images, not all are needed. -->
        <source
          type="image/webp"
          sizes="100vw"
          srcset="
            https://bixal.com/static/ff0d561dd14923cd599238ab42a7745e/4e534/people-first.webp  750w,
            https://bixal.com/static/ff0d561dd14923cd599238ab42a7745e/e5dd4/people-first.webp 1080w,
            https://bixal.com/static/ff0d561dd14923cd599238ab42a7745e/e8906/people-first.webp 1366w,
            https://bixal.com/static/ff0d561dd14923cd599238ab42a7745e/4ef17/people-first.webp 1376w
          "
        />
        <img
          data-main-image=""
          style="opacity: 1"
          sizes="100vw"
          decoding="async"
          loading="lazy"
          alt=""
          src="https://bixal.com/static/ff0d561dd14923cd599238ab42a7745e/b1f72/people-first.png"
          srcset="
            https://bixal.com/static/ff0d561dd14923cd599238ab42a7745e/f95e9/people-first.png  750w,
            https://bixal.com/static/ff0d561dd14923cd599238ab42a7745e/34087/people-first.png 1080w,
            https://bixal.com/static/ff0d561dd14923cd599238ab42a7745e/4a9a9/people-first.png 1366w,
            https://bixal.com/static/ff0d561dd14923cd599238ab42a7745e/b1f72/people-first.png 1376w
          "
        />
      </picture>
      <noscript>
        <picture>
          <source
            type="image/webp"
            srcSet="https://bixal.com/static/ff0d561dd14923cd599238ab42a7745e/4e534/people-first.webp 750w,https://bixal.com/static/ff0d561dd14923cd599238ab42a7745e/e5dd4/people-first.webp 1080w,https://bixal.com/static/ff0d561dd14923cd599238ab42a7745e/e8906/people-first.webp 1366w,https://bixal.com/static/ff0d561dd14923cd599238ab42a7745e/4ef17/people-first.webp 1376w"
            sizes="100vw"
          />
          <img
            data-gatsby-image-ssr=""
            data-main-image=""
            style="opacity: 0"
            sizes="100vw"
            decoding="async"
            loading="lazy"
            src="https://bixal.com/static/ff0d561dd14923cd599238ab42a7745e/b1f72/people-first.png"
            srcSet="https://bixal.com/static/ff0d561dd14923cd599238ab42a7745e/f95e9/people-first.png 750w,https://bixal.com/static/ff0d561dd14923cd599238ab42a7745e/34087/people-first.png 1080w,https://bixal.com/static/ff0d561dd14923cd599238ab42a7745e/4a9a9/people-first.png 1366w,https://bixal.com/static/ff0d561dd14923cd599238ab42a7745e/b1f72/people-first.png 1376w"
            alt=""
          />
        </picture>
      </noscript>
    </div>
  </div>
  <h3 class="bix-blurb__title">People-absolutely-first.</h3>
  <p class="bix-blurb__description">
    We care deeply about our team members, our clients and the diverse
    communities we serve. We value kindness, humility and collaboration. Our
    culture is felt the moment you walk in the door, and it is reflected across
    our entire team.
  </p>
</div>
