<ul class="bix-blurbs bix-blurbs--{{ variant | default("two-up") }}">
  {% for blurb in blurbs %}
    <li>
      {% include "@components/blurb/blurb.html.twig" with blurb %}
    </li>
  {% endfor %}
</div>
