<article class="node node--type-contract-vehicle node--promoted node--view-mode-full">
  <section class="node node--type-contract-vehicle node--promoted node--view-mode-full bix-section">
    <div class="bix-container">
      <h1 class="title page-title">Alignment</h1>

      <h2>General Overview</h2>
      <p>
        This page tries to show off all the alignment options available through
        the WYSIWYG.
      </p>
      <p>
        The first set, paragraph uses the 'Text Alignment' button in the
        WYSIWYG.
      </p>
      <p>
        The second set, are images that are uploaded via the 'Upload image from
        computer' button. The alignment comes from the buttons when you click on
        the image itself, not in the WYSIWYG main toolbar.
      </p>
      <p>
        The third &amp; fourth set, are media images &amp; video that are
        uploaded via the 'Insert media' button. The alignment comes from the
        buttons when you click on the media itself, not in the WYSIWYG main
        toolbar.
      </p>
      <p>
        You can see how these alignments are 'supposed' to work by viewing the
        edit page as the admin theme has classes set that apply to what is set.
      </p>
      <p>All the images are the same, a 400 x 400 test image I uploaded.</p>
      <p>
        All images were inserted into the same place inside the lorem ipsum
        block of text to show how the text flows around them.
      </p>
      <h3>Paragraph - Align Left (Default)</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque euismod
        mi eros, id aliquet nibh sagittis eget. Duis tincidunt orci nisl, in
        placerat justo consequat at. Fusce sed ex sed risus rutrum gravida non
        nec dolor. Aliquam posuere lacus eu neque viverra hendrerit. Praesent
        tincidunt vulputate ultricies. Quisque varius orci id tortor imperdiet
        faucibus. Proin lacinia nunc odio, a varius risus porta viverra. Mauris
        leo diam, auctor eget nisl at, luctus cursus enim. Ut quis ante eget
        ante feugiat tristique.
      </p>
      <hr />
      <h3>Paragraph - Align Center</h3>
      <p class="text-align-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque euismod
        mi eros, id aliquet nibh sagittis eget. Duis tincidunt orci nisl, in
        placerat justo consequat at. Fusce sed ex sed risus rutrum gravida non
        nec dolor. Aliquam posuere lacus eu neque viverra hendrerit. Praesent
        tincidunt vulputate ultricies. Quisque varius orci id tortor imperdiet
        faucibus. Proin lacinia nunc odio, a varius risus porta viverra. Mauris
        leo diam, auctor eget nisl at, luctus cursus enim. Ut quis ante eget
        ante feugiat tristique.
      </p>
      <hr />
      <h3>Paragraph - Align Right</h3>
      <p class="text-align-right">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque euismod
        mi eros, id aliquet nibh sagittis eget. Duis tincidunt orci nisl, in
        placerat justo consequat at. Fusce sed ex sed risus rutrum gravida non
        nec dolor. Aliquam posuere lacus eu neque viverra hendrerit. Praesent
        tincidunt vulputate ultricies. Quisque varius orci id tortor imperdiet
        faucibus. Proin lacinia nunc odio, a varius risus porta viverra. Mauris
        leo diam, auctor eget nisl at, luctus cursus enim. Ut quis ante eget
        ante feugiat tristique.
      </p>
      <hr />
      <h3>Paragraph - Justify</h3>
      <p class="text-align-justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque euismod
        mi eros, id aliquet nibh sagittis eget. Duis tincidunt orci nisl, in
        placerat justo consequat at. Fusce sed ex sed risus rutrum gravida non
        nec dolor. Aliquam posuere lacus eu neque viverra hendrerit. Praesent
        tincidunt vulputate ultricies. Quisque varius orci id tortor imperdiet
        faucibus. Proin lacinia nunc odio, a varius risus porta viverra. Mauris
        leo diam, auctor eget nisl at, luctus cursus enim. Ut quis ante eget
        ante feugiat tristique.
      </p>
      <hr />
      <h3>Image: Break text (default)</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque euismod
        mi eros, id aliquet nibh sagittis eget. Duis tincidunt orci nisl, in
        placerat justo consequat at. Fusce sed ex sed risus rutrum gravida non
        nec dolor. Aliquam posuere lacus eu neque viverra hendrerit. Praesent
        tincidunt vulputate ultricies.&nbsp;
      </p>
      <img
        data-entity-uuid="3dacfbe8-1ab5-4b77-a110-1cb269ce6991"
        data-entity-type="file"
        src="https://placehold.co/400x400"
        width="400"
        height="400"
      />
      <p>
        Quisque varius orci id tortor imperdiet faucibus. Proin lacinia nunc
        odio, a varius risus porta viverra. Mauris leo diam, auctor eget nisl
        at, luctus cursus enim. Ut quis ante eget ante feugiat tristique.
      </p>
      <hr />
      <h3>Image: Align left and break text</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque euismod
        mi eros, id aliquet nibh sagittis eget. Duis tincidunt orci nisl, in
        placerat justo consequat at. Fusce sed ex sed risus rutrum gravida non
        nec dolor. Aliquam posuere lacus eu neque viverra hendrerit. Praesent
        tincidunt vulputate ultricies.
        <img
          src="https://placehold.co/400x400"
          data-entity-uuid="3dacfbe8-1ab5-4b77-a110-1cb269ce6991"
          data-entity-type="file"
          width="400"
          height="400"
          class="align-left"
        />
        Quisque varius orci id tortor imperdiet faucibus. Proin lacinia nunc
        odio, a varius risus porta viverra. Mauris leo diam, auctor eget nisl
        at, luctus cursus enim. Ut quis ante eget ante feugiat tristique.
      </p>
      <hr />
      <h3>Image: Align center and break text</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque euismod
        mi eros, id aliquet nibh sagittis eget. Duis tincidunt orci nisl, in
        placerat justo consequat at. Fusce sed ex sed risus rutrum gravida non
        nec dolor. Aliquam posuere lacus eu neque viverra hendrerit. Praesent
        tincidunt vulputate ultricies.&nbsp;
      </p>
      <img
        src="https://placehold.co/400x400"
        data-entity-uuid="3dacfbe8-1ab5-4b77-a110-1cb269ce6991"
        data-entity-type="file"
        width="400"
        height="400"
        class="align-center"
      />
      <p>
        Quisque varius orci id tortor imperdiet faucibus. Proin lacinia nunc
        odio, a varius risus porta viverra. Mauris leo diam, auctor eget nisl
        at, luctus cursus enim. Ut quis ante eget ante feugiat tristique.
      </p>
      <hr />
      <h3>Image: Align right and wrap text</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque euismod
        mi eros, id aliquet nibh sagittis eget. Duis tincidunt orci nisl, in
        placerat justo consequat at. Fusce sed ex sed risus rutrum gravida non
        nec dolor. Aliquam posuere lacus eu neque viverra hendrerit. Praesent
        tincidunt vulputate ultricies.
        <img
          src="https://placehold.co/400x400"
          data-entity-uuid="3dacfbe8-1ab5-4b77-a110-1cb269ce6991"
          data-entity-type="file"
          width="400"
          height="400"
          class="align-right"
        />
        Quisque varius orci id tortor imperdiet faucibus. Proin lacinia nunc
        odio, a varius risus porta viverra. Mauris leo diam, auctor eget nisl
        at, luctus cursus enim. Ut quis ante eget ante feugiat tristique.
      </p>
      <hr />
      <h3>Image: In line</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque euismod
        mi eros, id aliquet nibh sagittis eget. Duis tincidunt orci nisl, in
        placerat justo consequat at. Fusce sed ex sed risus rutrum gravida non
        nec dolor. Aliquam posuere lacus eu neque viverra hendrerit. Praesent
        tincidunt vulputate ultricies.
        <img
          src="https://placehold.co/400x400"
          data-entity-uuid="3dacfbe8-1ab5-4b77-a110-1cb269ce6991"
          data-entity-type="file"
          width="400"
          height="400"
        />
        Quisque varius orci id tortor imperdiet faucibus. Proin lacinia nunc
        odio, a varius risus porta viverra. Mauris leo diam, auctor eget nisl
        at, luctus cursus enim. Ut quis ante eget ante feugiat tristique.
      </p>
      <hr />
      <h3>Media Image - Break text (default)</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque euismod
        mi eros, id aliquet nibh sagittis eget. Duis tincidunt orci nisl, in
        placerat justo consequat at. Fusce sed ex sed risus rutrum gravida non
        nec dolor. Aliquam posuere lacus eu neque viverra hendrerit. Praesent
        tincidunt vulputate ultricies.&nbsp;
      </p>

      <figure class="media-image media media--type-image media--view-mode-default">
        <img
          loading="lazy"
          src="https://placehold.co/400x400"
          width="400"
          height="400"
          alt="Testing"
        />
      </figure>

      <p>
        Quisque varius orci id tortor imperdiet faucibus. Proin lacinia nunc
        odio, a varius risus porta viverra. Mauris leo diam, auctor eget nisl
        at, luctus cursus enim. Ut quis ante eget ante feugiat tristique.
      </p>
      <hr />
      <h3>Media Image - Align left and wrap text</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque euismod
        mi eros, id aliquet nibh sagittis eget. Duis tincidunt orci nisl, in
        placerat justo consequat at. Fusce sed ex sed risus rutrum gravida non
        nec dolor. Aliquam posuere lacus eu neque viverra hendrerit. Praesent
        tincidunt vulputate ultricies.&nbsp;
      </p>

      <figure class="align-left media-image media media--type-image media--view-mode-default">
        <img
          loading="lazy"
          src="https://placehold.co/400x400"
          width="400"
          height="400"
          alt="Testing"
        />
      </figure>

      <p>
        Quisque varius orci id tortor imperdiet faucibus. Proin lacinia nunc
        odio, a varius risus porta viverra. Mauris leo diam, auctor eget nisl
        at, luctus cursus enim. Ut quis ante eget ante feugiat tristique.
      </p>
      <hr />
      <h3>Media Image - Align center and break text</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque euismod
        mi eros, id aliquet nibh sagittis eget. Duis tincidunt orci nisl, in
        placerat justo consequat at. Fusce sed ex sed risus rutrum gravida non
        nec dolor. Aliquam posuere lacus eu neque viverra hendrerit. Praesent
        tincidunt vulputate ultricies.&nbsp;
      </p>

      <figure class="align-center media-image media media--type-image media--view-mode-default">
        <img
          loading="lazy"
          src="https://placehold.co/400x400"
          width="400"
          height="400"
          alt="Testing"
        />
      </figure>

      <p>
        Quisque varius orci id tortor imperdiet faucibus. Proin lacinia nunc
        odio, a varius risus porta viverra. Mauris leo diam, auctor eget nisl
        at, luctus cursus enim. Ut quis ante eget ante feugiat tristique.
      </p>
      <hr />
      <h3>Media Image - Align right and wrap text</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque euismod
        mi eros, id aliquet nibh sagittis eget. Duis tincidunt orci nisl, in
        placerat justo consequat at. Fusce sed ex sed risus rutrum gravida non
        nec dolor. Aliquam posuere lacus eu neque viverra hendrerit. Praesent
        tincidunt vulputate ultricies.&nbsp;
      </p>

      <figure class="align-right media-image media media--type-image media--view-mode-default">
        <img
          loading="lazy"
          src="https://placehold.co/400x400"
          width="400"
          height="400"
          alt="Testing"
        />
      </figure>

      <p>
        Quisque varius orci id tortor imperdiet faucibus. Proin lacinia nunc
        odio, a varius risus porta viverra. Mauris leo diam, auctor eget nisl
        at, luctus cursus enim. Ut quis ante eget ante feugiat tristique.
      </p>
      <hr />
      <h3>Media Video - Break text (default)</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque euismod
        mi eros, id aliquet nibh sagittis eget. Duis tincidunt orci nisl, in
        placerat justo consequat at. Fusce sed ex sed risus rutrum gravida non
        nec dolor. Aliquam posuere lacus eu neque viverra hendrerit. Praesent
        tincidunt vulputate ultricies.&nbsp;
      </p>

      <div class="media media--type-video media--view-mode-default">
        <div class="field field--name-field-media-video-file field--type-file field--label-hidden field__item">
          <div class="bix-video">
            <video controls="controls" class="bix-video__player">
              <source src="https://www.bixal.com/sites/default/files/2024-08/bixal-careers-story-2024-07-20%20at%2020.31.29_0.webm" />
            </video>

            <div class="bix-video__description">
              Smaller than full width, does not scale wider
            </div>
          </div>
        </div>
      </div>

      <p>
        Quisque varius orci id tortor imperdiet faucibus. Proin lacinia nunc
        odio, a varius risus porta viverra. Mauris leo diam, auctor eget nisl
        at, luctus cursus enim. Ut quis ante eget ante feugiat tristique.
      </p>
      <hr />
      <h3>Media Video - Align left and wrap text</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque euismod
        mi eros, id aliquet nibh sagittis eget. Duis tincidunt orci nisl, in
        placerat justo consequat at. Fusce sed ex sed risus rutrum gravida non
        nec dolor. Aliquam posuere lacus eu neque viverra hendrerit. Praesent
        tincidunt vulputate ultricies.&nbsp;
      </p>

      <div class="align-left media media--type-video media--view-mode-default">
        <div class="field field--name-field-media-video-file field--type-file field--label-hidden field__item">
          <div class="bix-video">
            <video controls="controls" class="bix-video__player" width="500">
              <source src="https://www.bixal.com/sites/default/files/2024-08/bixal-careers-story-2024-07-20%20at%2020.31.29_0.webm" />
            </video>

            <div class="bix-video__description">
              Smaller than full width, does not scale wider
            </div>
          </div>
        </div>
      </div>

      <p>
        Quisque varius orci id tortor imperdiet faucibus. Proin lacinia nunc
        odio, a varius risus porta viverra. Mauris leo diam, auctor eget nisl
        at, luctus cursus enim. Ut quis ante eget ante feugiat tristique.
      </p>
      <hr />
      <h3>Media Video - Align center and break text</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque euismod
        mi eros, id aliquet nibh sagittis eget. Duis tincidunt orci nisl, in
        placerat justo consequat at. Fusce sed ex sed risus rutrum gravida non
        nec dolor. Aliquam posuere lacus eu neque viverra hendrerit. Praesent
        tincidunt vulputate ultricies.&nbsp;
      </p>

      <div class="align-center media media--type-video media--view-mode-default">
        <div class="field field--name-field-media-video-file field--type-file field--label-hidden field__item">
          <div class="bix-video">
            <video controls="controls" class="bix-video__player">
              <source src="https://www.bixal.com/sites/default/files/2024-08/bixal-careers-story-2024-07-20%20at%2020.31.29_0.webm" />
            </video>

            <div class="bix-video__description">
              Smaller than full width, does not scale wider
            </div>
          </div>
        </div>
      </div>

      <p>
        Quisque varius orci id tortor imperdiet faucibus. Proin lacinia nunc
        odio, a varius risus porta viverra. Mauris leo diam, auctor eget nisl
        at, luctus cursus enim. Ut quis ante eget ante feugiat tristique.
      </p>
      <hr />
      <h3>Media Video - Align right and wrap text</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque euismod
        mi eros, id aliquet nibh sagittis eget. Duis tincidunt orci nisl, in
        placerat justo consequat at. Fusce sed ex sed risus rutrum gravida non
        nec dolor. Aliquam posuere lacus eu neque viverra hendrerit. Praesent
        tincidunt vulputate ultricies.&nbsp;
      </p>

      <div class="align-right media media--type-video media--view-mode-default">
        <div class="field field--name-field-media-video-file field--type-file field--label-hidden field__item">
          <div class="bix-video">
            <video controls="controls" class="bix-video__player" width="500">
              <source src="https://www.bixal.com/sites/default/files/2024-08/bixal-careers-story-2024-07-20%20at%2020.31.29_0.webm" />
            </video>

            <div class="bix-video__description">
              Smaller than full width, does not scale wider
            </div>
          </div>
        </div>
      </div>

      <p>
        Quisque varius orci id tortor imperdiet faucibus. Proin lacinia nunc
        odio, a varius risus porta viverra. Mauris leo diam, auctor eget nisl
        at, luctus cursus enim. Ut quis ante eget ante feugiat tristique.
      </p>
    </div>
  </section>
</article>
