<style>
  .gatsby-image-wrapper {
    position: relative;
    overflow: hidden
  }
  .gatsby-image-wrapper picture.object-fit-polyfill {
    position: static !important
  }
  .gatsby-image-wrapper img {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    max-width: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    object-fit: cover
  }
  .gatsby-image-wrapper [data-main-image] {
    opacity: 0;
    transform: translateZ(0);
    transition: opacity 0.25s linear;
    will-change: opacity
  }
  .gatsby-image-wrapper-constrained {
    display: inline-block;
    vertical-align: top
  }
</style>
<noscript>
  <style>
    .gatsby-image-wrapper noscript [data-main-image] {
      opacity: 1 !important
    }
    .gatsby-image-wrapper [data-placeholder-image] {
      opacity: 0 !important
    }
  </style>
</noscript>
<script type="module">
  const e = "undefined" != typeof HTMLImageElement && "loading" in HTMLImageElement.prototype;
  e && document.body.addEventListener("load", (function (e) {
    const t = e.target;
    if (void 0 === t.dataset.mainImage) 
      return;
    


    if (void 0 === t.dataset.gatsbyImageSsr) 
      return;
    


    let a = null,
      n = t;
    for (; null === a && n;) 
      void 0 !== n.parentNode.dataset.gatsbyImageWrapper && (a = n.parentNode),
      n = n.parentNode;
    


    const o = a.querySelector("[data-placeholder-image]"),
      r = new Image;
    r.src = t.currentSrc,
    r.decode().catch((() => {})).then((() => {
      t.style.opacity = 1,
      o && (o.style.opacity = 0, o.style.transition = "opacity 500ms linear")
    }))
  }), !0);
</script>
<div id="case-study" class="page--case-study">
  <section id="hero" class="section-container bg-image hero " style="background-color:transparent;color:black;padding:0px 0;background-image:radial-gradient(circle, rgba(0, 0, 0, 0.48) 0%, rgba(0, 0, 0, 0) 100%), url(/static/35c60dc21e56c47c5743b9535871e14f/fema-image-1.png)">
    <div style="margin:0 auto;width:100%;max-width:1350px">
      <div class="section-banner-details">
        <div class="section-overview  section-overview--center">
          <div class="piped-title" style="border-left-color:#fff;border-right-color:#fff">OUR WORK</div>
          <div style="max-width:100%" class="section-overview__text">
            <h1>Educating the public on FEMA’s life-saving mission through high-impact visual storytelling.</h1>
          </div>
        </div>
        <p class="section-banner-description"></p>
      </div>
    </div>
  </section>
  <section id="intro-section" class="section-container  intro-section " style="background-color:transparent;color:black;padding:30px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div id="case-study-intro" class="
                                intro-block
                                intro-block-2
                                intro-block--case-study-intro
                              ">
        <div class="intro-block__heading">
          <h3 class="intro-block-2__heading" style="color:#162d6a">U.S. Department of Homeland Security (DHS)</h3>
          <h3 class="intro-block-2__heading" style="color:#162d6a">Federal Emergency Management Agency (FEMA)</h3>
          <div class="intro-block-2__heading">
            <span class="sc-bcXHqe XSHzo">
              <a class="decorative-link" rel="noreferrer" target="_blank" href="https://www.fema.gov/">FEMA.gov</a>
            </span>
          </div>
        </div>
        <div class="introBlockDivider" style="border-color:#bee9f6"></div>
        <div class="emphasis-block-set">
          <div class="emphasis-block-set__row">
            <div class="emphasis-block emphasis-block--featured">
              <div class="topic-subhead">
                <p>Services</p>
              </div>
              <div class="emphasis-block__text">Videography, Content Strategy, Branding Design</div>
            </div>
          </div>
          <div class="emphasis-block-set__row"></div>
        </div>
      </div>
    </div>
  </section>
  <section id="undefined-section--columns-0" class="section-container  undefined-section--columns-0 section--columns" style="background-color:transparent;color:black;padding:20px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div class="column-set column-set--layout-multiple">
        <div class="column-set__column " style="flex-basis:33%">
          <div class="column-content">
            <div class="heading heading--underlined">
              <h2 class="heading__content">Challenge</h2>
              <div class="heading__line" style="background-color:#bee9f6"></div>
            </div>
            <div class="column-content__text">Over the years, FEMA has built an extensive video library. Yet, the American public still was not engaging with its mission or messages. The agency wanted and needed a more cohesive way of telling its story to ensure the core outcome — reaching and educating the American public on its roles and responsibilities — was met.</div>
          </div>
        </div>
        <div class="column-set__column " style="flex-basis:33%">
          <div class="column-content">
            <div class="heading heading--underlined">
              <h2 class="heading__content">Solution</h2>
              <div class="heading__line" style="background-color:#bee9f6"></div>
            </div>
            <div class="column-content__text">Our team recognized the opportunity to provide clearer messaging and better brand consistency through video storytelling, expanding the reach and deepening engagement with core audiences on the great work FEMA does.</div>
          </div>
        </div>
        <div class="column-set__column " style="flex-basis:33%">
          <div class="column-content">
            <div class="heading heading--underlined">
              <h2 class="heading__content">Results</h2>
              <div class="heading__line" style="background-color:#bee9f6"></div>
            </div>
            <div class="column-content__text">Bixal created a cohesive, branded multimedia template library and produced multiple high-impact, Section 508 compliant videos that showcase FEMA’s life-saving work as part of a broader effort to share their message on the agency’s role after disasters strike. Our collaborative work on the animated piece — “Building a Resilient Nation” — won a 2020 Bronze Telly Award.</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="undefined-section--columns-1" class="section-container  undefined-section--columns-1 section--columns" style="background-color:transparent;color:black;padding:20px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div class="column-set column-set--layout-single">
        <div class="column-set__column " style="flex-basis:100%">
          <div class="column-content">
            <div class="heading heading--underlined">
              <h2 class="heading__content">Defining the Problem</h2>
              <div class="heading__line" style="background-color:#bee9f6"></div>
            </div>
            <div class="column-content__text">The American people expect a great deal from FEMA without fully understanding what the agency does and where lines of responsibility begin and end. The public is responsible for preparing themselves and their families for potential natural disasters. To do this, they can easily visit ready.gov, a government-supported website, for tips and educational materials. FEMA’s primary responsibility is to step in after a disaster. Because FEMA’s priority in times of crisis is to support survivors, providing clear messaging and establishing trust and credibility are vital to the agency’s success.</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="undefined-section--columns-2" class="section-container  undefined-section--columns-2 section--columns" style="background-color:transparent;color:black;padding:20px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div class="column-set column-set--layout-single">
        <div class="column-set__column " style="flex-basis:100%">
          <div class="column-content">
            <div class="heading heading--underlined">
              <h2 class="heading__content">Discovery &amp; Research</h2>
              <div class="heading__line" style="background-color:#bee9f6"></div>
            </div>
            <div class="column-content__text">Through Bixal’s discovery process — a phase where teams conduct environmental scans, audience surveys and other research and discovery activities appropriate to a scope of work, given timeline and budget — our team learned that although FEMA has an extensive video library, the agency had difficulty creating consistency with the look, tone and feel of those videos and was struggling to create transparency and build brand trust through education and clear messaging. Some of the agency’s focus areas include providing public assistance programs to support communities in need, rebuilding infrastructure and roadways after disasters, funding grants for emergency response training and support, and keeping communities together.</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="undefined-section--columns-3" class="section-container  undefined-section--columns-3 section--columns" style="background-color:transparent;color:black;padding:20px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div class="column-set column-set--layout-single">
        <div class="column-set__column " style="flex-basis:100%">
          <div class="column-content">
            <div class="heading heading--underlined">
              <h2 class="heading__content">Design &amp; Approach</h2>
              <div class="heading__line" style="background-color:#bee9f6"></div>
            </div>
            <div class="column-content__text">We chose to use animation in this piece to allow our team to explore a rich visual branding experience while using repeatable storytelling approaches new to the FEMA video portfolio. Our team recognized that visual storytelling, a proven way to capture the attention of, and engage, key audiences, could be the perfect way to spread FEMA’s message and connect with the American public.</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="undefined-section--columns-4" class="section-container  undefined-section--columns-4 section--columns" style="background-color:transparent;color:black;padding:20px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div class="column-set column-set--layout-single">
        <div class="column-set__column " style="flex-basis:100%">
          <div class="column-content">
            <div class="heading heading--underlined">
              <h2 class="heading__content">Delivering the Solution</h2>
              <div class="heading__line" style="background-color:#bee9f6"></div>
            </div>
            <div class="column-content__text">
              <p>The Bixal team created both storytelling and multimedia templates for FEMA’s team to build on and ensure consistency with future use. We also aligned our project’s objectives with FEMA’s broader strategic communications goals to deliver a collection of videos that the FEMA team could integrate into ongoing marketing campaigns and relevant seasonal outreach (i.e., hurricane season). These videos now serve as a means for continued brand building and leverage other FEMA opportunities to promote greater agency awareness throughout the year.</p>
              <p>“Building a Resilient Nation” is the first in a series of short-format multimedia video pieces the Bixal team conceived, developed, produced and delivered for FEMA. We used the video as an opportunity to share not only FEMA’s mission but also their 2018-2022 Strategic Plan.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="fema-section--callout-5" class="section-container  fema-section--callout-5 section--callout" style="background-color:transparent;color:black;padding:20px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div class="callout" style="background-color:#172d6a;color:#fff">
        <div class="heading heading--underlined">
          <h2 class="heading__content">The Outcome</h2>
          <div class="heading__line" style="background-color:#bee9f6"></div>
        </div>
        <div class="callout__text">Bixal’s team provided an improved approach to FEMA’s video library and assisted the agency in building a more consistent voice for their brand with more in-depth and engaging narratives.</div>
      </div>
    </div>
  </section>
  <section id="fema-section--emphasis-blocks-6" class="section-container  fema-section--emphasis-blocks-6 section--emphasis-blocks" style="background-color:transparent;color:black;padding:20px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div class="emphasis-block-set">
        <div class="emphasis-block-set__row"></div>
        <div class="emphasis-block-set__row">
          <div class="emphasis-block" style="flex-basis:100%">
            <div class="topic-subhead">
              <p>Highlight</p>
            </div>
            <div class="emphasis-block__text">
              <p>Title: “Building a Resilient Nation”</p>
              <p>Creator: Bixal in partnership with FEMA</p>
              <p>Award: 2020 Bronze Telly Award Winner</p>
              <p>Category: Non-Broadcast General-Corporate Image</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div></div><div id="gatsby-announcer" style="position:absolute;top:0;width:1px;height:1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);white-space:nowrap;border:0" aria-live="assertive" aria-atomic="true"></div></div><script id="gatsby-script-loader">/*<![CDATA[*/
window.pagePath = "/our-work/fema/";
window.___webpackCompilationHash = "a06665383b741f3aa4c1"; /*]]>*/</script><script id="gatsby-chunk-mapping">/*<![CDATA[*/
window.___chunkMapping = {
  "polyfill": ["/polyfill-71426064197f37fd8168.js"],
  "app": ["/app-071ed289116e4fb5f844.js"],
  "component---src-pages-404-js": ["/component---src-pages-404-js-a8c7736d17a9ce5ac13e.js"],
  "component---src-pages-about-index-js": ["/component---src-pages-about-index-js-eb5b5a7b8dfc00440d2c.js"],
  "component---src-pages-blog-index-js": ["/component---src-pages-blog-index-js-da2e906add700328850f.js"],
  "component---src-pages-careers-index-js": ["/component---src-pages-careers-index-js-1191e82cbdda01d1ab81.js"],
  "component---src-pages-contract-vehicles-index-js": ["/component---src-pages-contract-vehicles-index-js-df326cfb740f55247217.js"],
  "component---src-pages-deia-js": ["/component---src-pages-deia-js-c566f96c737ecbf10f83.js"],
  "component---src-pages-holiday-2023-index-js": ["/component---src-pages-holiday-2023-index-js-da0b4948883202b4a7be.js"],
  "component---src-pages-index-js": ["/component---src-pages-index-js-4cabdec5322fad838e11.js"],
  "component---src-pages-markdown-remark-frontmatter-slug-jsx": ["/component---src-pages-markdown-remark-frontmatter-slug-jsx-8f39af43a26f3c2d2f09.js"],
  "component---src-pages-our-work-index-js": ["/component---src-pages-our-work-index-js-8176aee2358070a65e0e.js"],
  "component---src-pages-privacy-js": ["/component---src-pages-privacy-js-d4b8e6b1c91cc23e20c9.js"],
  "component---src-templates-case-study-js": ["/component---src-templates-case-study-js-396d1165e284b02e7744.js"],
  "component---src-templates-case-study-legacy-js": ["/component---src-templates-case-study-legacy-js-10f25bf639c48d445884.js"],
  "component---src-templates-contract-vehicle-js": ["/component---src-templates-contract-vehicle-js-15edda6738d7d2186450.js"],
  "component---src-templates-person-profile-js": ["/component---src-templates-person-profile-js-39578bc98c790a199d6c.js"]
}; /*]]>*/</script><script src="/polyfill-71426064197f37fd8168.js" nomodule=""></script><script src="/app-071ed289116e4fb5f844.js" async=""></script><script src="/framework-261b3c8cc3bd8dfe6dfa.js" async=""></script><script src="/webpack-runtime-f4b601a5b1ec8ea50b55.js" async=""></script></body></html>
