<style>
  .gatsby-image-wrapper {
    position: relative;
    overflow: hidden
  }
  .gatsby-image-wrapper picture.object-fit-polyfill {
    position: static !important
  }
  .gatsby-image-wrapper img {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    max-width: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    object-fit: cover
  }
  .gatsby-image-wrapper [data-main-image] {
    opacity: 0;
    transform: translateZ(0);
    transition: opacity 0.25s linear;
    will-change: opacity
  }
  .gatsby-image-wrapper-constrained {
    display: inline-block;
    vertical-align: top
  }
</style>
<noscript>
  <style>
    .gatsby-image-wrapper noscript [data-main-image] {
      opacity: 1 !important
    }
    .gatsby-image-wrapper [data-placeholder-image] {
      opacity: 0 !important
    }
  </style>
</noscript>
<script type="module">
  const e = "undefined" != typeof HTMLImageElement && "loading" in HTMLImageElement.prototype;
  e && document.body.addEventListener("load", (function (e) {
    const t = e.target;
    if (void 0 === t.dataset.mainImage) 
      return;
    


    if (void 0 === t.dataset.gatsbyImageSsr) 
      return;
    


    let a = null,
      n = t;
    for (; null === a && n;) 
      void 0 !== n.parentNode.dataset.gatsbyImageWrapper && (a = n.parentNode),
      n = n.parentNode;
    


    const o = a.querySelector("[data-placeholder-image]"),
      r = new Image;
    r.src = t.currentSrc,
    r.decode().catch((() => {})).then((() => {
      t.style.opacity = 1,
      o && (o.style.opacity = 0, o.style.transition = "opacity 500ms linear")
    }))
  }), !0);
</script>
<div id="case-study" class="page--case-study page--case-study--legacy page--case-study--hud" ismobile="false">
  <div class="case-study__hero-container">
    <section id="hero" class="section-container bg-image hero " style="background-color:transparent;color:black;padding:0px 0;background-image:radial-gradient(circle, rgba(0, 0, 0, 0.48) 0%, rgba(0, 0, 0, 0) 100%), url(/static/4df9ced39dacfdf42db05ba23b7141af/1-hud.jpg)">
      <div style="margin:0 auto;width:100%;max-width:1350px">
        <div class="section-banner-details">
          <div class="section-overview  section-overview--center">
            <div class="piped-title" style="border-left-color:#fff;border-right-color:#fff">OUR WORK</div>
            <div style="max-width:100%" class="section-overview__text">
              <h1>Training and certification of housing counselors to protect the public.</h1>
            </div>
          </div>
          <p class="section-banner-description"></p>
        </div>
      </div>
    </section>
  </div>
  <section id="intro-section" class="section-container  intro-section " style="background-color:transparent;color:black;padding:30px 0">
    <div style="margin:0 auto;width:85%;max-width:1180px">
      <div id="case-study-intro" class="
                                          intro-block
                                          intro-block--case-study-intro
                                        ">
        <div class="intro-block__heading">
          <h2>Office of Housing Counseling, U.S. Department of Housing and Urban Development (HUD)</h2>
          <span class="sc-bcXHqe gGbsNk">
            <a class="decorative-link" rel="noreferrer" target="_blank" href="https://www.hud.gov/program_offices/housing/sfh/hcc">https://www.hud.gov/</a>
          </span>
        </div>
        <div class="intro-block__text" style="border-color:#55052a">The Dodd-Frank Wall Street Reform and Consumer Protection Act enacted a set of federal regulations to mitigate risk and enforce transparency and accountability of financial institutions. The legislation established the Office of Housing Counseling within the U.S. Department of Housing and Urban Development (HUD). This new office, which was required to certify individual housing counselors participating in HUD’s Housing Counseling Program, needed a training and testing program to demonstrate the competence of counselors.</div>
      </div>
    </div>
  </section>
  <div style="margin-top:50px">
    <section id="hud-section--0" class="section-container  hud-section--0 " style="background-color:transparent;color:black;padding:80px 0">
      <div style="margin:0 auto;width:75%;max-width:1180px">
        <div class="columns-list-container row" style="display:flex;flex-direction:row">
          <div style="flex-basis:50%" class="column-list-column   ">
            <div class="column-wrapper">
              <div class="image-block-content" style="padding-right:30px;text-align:center">
                <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper">
                  <div aria-hidden="true" style="padding-top:99.82486865148861%"></div>
                  <div aria-hidden="true" data-placeholder-image="" style="opacity:1;transition:opacity 500ms linear"></div>
                  <picture><source type="image/webp" data-srcset="/static/a7145ab1a00dc10c4b3dde9a4903f728/d4b39/hud-image-1.webp 750w,/static/a7145ab1a00dc10c4b3dde9a4903f728/c3cc4/hud-image-1.webp 1080w,/static/a7145ab1a00dc10c4b3dde9a4903f728/52d29/hud-image-1.webp 1142w" sizes="100vw"/><img data-gatsby-image-ssr="" data-main-image="" style="opacity:0" sizes="100vw" decoding="async" loading="lazy" data-src="/static/a7145ab1a00dc10c4b3dde9a4903f728/1cb84/hud-image-1.jpg" data-srcset="/static/a7145ab1a00dc10c4b3dde9a4903f728/76256/hud-image-1.jpg 750w,/static/a7145ab1a00dc10c4b3dde9a4903f728/7c73e/hud-image-1.jpg 1080w,/static/a7145ab1a00dc10c4b3dde9a4903f728/1cb84/hud-image-1.jpg 1142w" alt="woman standing at laptop smiling"/></picture>
                  <noscript>
                    <picture><source type="image/webp" srcset="/static/a7145ab1a00dc10c4b3dde9a4903f728/d4b39/hud-image-1.webp 750w,/static/a7145ab1a00dc10c4b3dde9a4903f728/c3cc4/hud-image-1.webp 1080w,/static/a7145ab1a00dc10c4b3dde9a4903f728/52d29/hud-image-1.webp 1142w" sizes="100vw"/><img data-gatsby-image-ssr="" data-main-image="" style="opacity:0" sizes="100vw" decoding="async" loading="lazy" src="/static/a7145ab1a00dc10c4b3dde9a4903f728/1cb84/hud-image-1.jpg" srcset="/static/a7145ab1a00dc10c4b3dde9a4903f728/76256/hud-image-1.jpg 750w,/static/a7145ab1a00dc10c4b3dde9a4903f728/7c73e/hud-image-1.jpg 1080w,/static/a7145ab1a00dc10c4b3dde9a4903f728/1cb84/hud-image-1.jpg 1142w" alt="woman standing at laptop smiling"/></picture>
                  </noscript>
                  <script type="module">
                    const t = "undefined" != typeof HTMLImageElement && "loading" in HTMLImageElement.prototype;
                    if (t) {
                      const t = document.querySelectorAll("img[data-main-image]");
                      for (let e of t) {
                        e.dataset.src && (e.setAttribute("src", e.dataset.src), e.removeAttribute("data-src")),
                        e.dataset.srcset && (e.setAttribute("srcset", e.dataset.srcset), e.removeAttribute("data-srcset"));
                        const t = e.parentNode.querySelectorAll("source[data-srcset]");
                        for (let e of t) 
                          e.setAttribute("srcset", e.dataset.srcset),
                          e.removeAttribute("data-srcset");
                        


                        e.complete && (e.style.opacity = 1, e.parentNode.parentNode.querySelector("[data-placeholder-image]").style.opacity = 0)
                      }
                    }
                  </script>
                </div>
              </div>
            </div>
          </div>
          <div style="flex-basis:50%" class="column-list-column   ">
            <div class="column-wrapper">
              <div class="section-overview ">
                <div style="max-width:85%" class="section-overview__text">
                  <h2>Training Counselors to Protect the Public</h2>
                </div>
                <div class="section-overview__decoration-divider" style="background-color:#05c5bb"></div>
              </div>
              <p>Bixal provided HUD with a talented e-learning team made up of digital project managers, subject matter experts (SMEs), instructional systems designers, e-learning developers, user experience specialists, and visual designers to create the training curriculum. Our content developers engaged with the SMEs to extract critical information, asking the right questions in the right way to capture the knowledge that housing counselors would need to be considered competent in such areas as financial management, fair housing, and home affordability. The team collaborated to define learning objectives and develop a course syllabus to guide the development of the 15 interactive e-learning modules.</p>
              <span>
                <div style="line-height:1.8">
                  <div>
                    <span style="font-weight:bold;margin-right:10px">Client:</span>Office of Housing Counseling, U.S. Department of Housing and Urban Development (HUD)</div>
                  <div>
                    <span style="font-weight:bold;margin-right:10px">Project:</span>Dodd-Frank Compliance - Housing Counselor Training and Testing for Certification Program</div>
                  <div>
                    <span style="font-weight:bold;margin-right:10px">Technology:</span>Drupal, Articulate Storyline</div>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="hud-section--1" class="section-container  hud-section--1 " style="background-color:transparent;color:black;padding:80px 0">
      <div style="margin:0 auto;width:75%;max-width:1180px">
        <div class="columns-list-container row-reverse" style="display:flex;flex-direction:row-reverse">
          <div style="flex-basis:50%" class="column-list-column   ">
            <div class="column-wrapper">
              <div class="image-block-content" style="padding-left:30px;text-align:center">
                <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper">
                  <div aria-hidden="true" style="padding-top:59.70819304152638%"></div>
                  <div aria-hidden="true" data-placeholder-image="" style="opacity:1;transition:opacity 500ms linear"></div>
                  <picture><source type="image/webp" data-srcset="/static/e403189e02b19ee927698ab29948c928/b006a/hud-image-2.webp 750w,/static/e403189e02b19ee927698ab29948c928/f9e8f/hud-image-2.webp 891w" sizes="100vw"/><img data-gatsby-image-ssr="" data-main-image="" style="opacity:0" sizes="100vw" decoding="async" loading="lazy" data-src="/static/e403189e02b19ee927698ab29948c928/2360f/hud-image-2.png" data-srcset="/static/e403189e02b19ee927698ab29948c928/004a1/hud-image-2.png 750w,/static/e403189e02b19ee927698ab29948c928/2360f/hud-image-2.png 891w" alt="computer view of development module screen"/></picture>
                  <noscript>
                    <picture><source type="image/webp" srcset="/static/e403189e02b19ee927698ab29948c928/b006a/hud-image-2.webp 750w,/static/e403189e02b19ee927698ab29948c928/f9e8f/hud-image-2.webp 891w" sizes="100vw"/><img data-gatsby-image-ssr="" data-main-image="" style="opacity:0" sizes="100vw" decoding="async" loading="lazy" src="/static/e403189e02b19ee927698ab29948c928/2360f/hud-image-2.png" srcset="/static/e403189e02b19ee927698ab29948c928/004a1/hud-image-2.png 750w,/static/e403189e02b19ee927698ab29948c928/2360f/hud-image-2.png 891w" alt="computer view of development module screen"/></picture>
                  </noscript>
                  <script type="module">
                    const t = "undefined" != typeof HTMLImageElement && "loading" in HTMLImageElement.prototype;
                    if (t) {
                      const t = document.querySelectorAll("img[data-main-image]");
                      for (let e of t) {
                        e.dataset.src && (e.setAttribute("src", e.dataset.src), e.removeAttribute("data-src")),
                        e.dataset.srcset && (e.setAttribute("srcset", e.dataset.srcset), e.removeAttribute("data-srcset"));
                        const t = e.parentNode.querySelectorAll("source[data-srcset]");
                        for (let e of t) 
                          e.setAttribute("srcset", e.dataset.srcset),
                          e.removeAttribute("data-srcset");
                        


                        e.complete && (e.style.opacity = 1, e.parentNode.parentNode.querySelector("[data-placeholder-image]").style.opacity = 0)
                      }
                    }
                  </script>
                </div>
              </div>
            </div>
          </div>
          <div style="flex-basis:50%" class="column-list-column   ">
            <div class="column-wrapper">
              <div class="section-overview ">
                <div style="max-width:85%" class="section-overview__text">
                  <h2>Development of Online Training</h2>
                </div>
                <div class="section-overview__decoration-divider" style="background-color:#05c5bb"></div>
              </div>
              <p></p>
              <p>Bixal began by gathering information on learning objectives, the target audience, system requirements, and other key factors to determine the best approach to course development.</p>
              <p>We used an agile methodology to develop the training, from content development and storyboarding to the design and production of the interactive modules. This involved developing a prototype in coordination with the HUD team, then conducting multiple rounds of testing and revisions. This iterative process provided numerous opportunities to receive and act upon client feedback, and we were able to conduct comprehensive user testing to ensure an intuitive and engaging user experience.</p>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="hud-section--2" class="section-container  hud-section--2 " style="background-color:#55052a;color:white;padding:80px 0">
    <div style="margin:0 auto;width:75%;max-width:1180px">
      <div class="columns-list-container row" style="display:flex;flex-direction:row">
        <div style="flex-basis:50%" class="column-list-column   ">
          <div class="column-wrapper">
            <div class="image-block-content" style="padding-right:30px;text-align:center">
              <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper">
                <div aria-hidden="true" style="padding-top:80.42394014962593%"></div>
                <div aria-hidden="true" data-placeholder-image="" style="opacity:1;transition:opacity 500ms linear"></div>
                <picture><source type="image/webp" data-srcset="/static/dc5f1603014f64bb9a06e17e603c6622/cff20/hud-image-3.webp 750w,/static/dc5f1603014f64bb9a06e17e603c6622/06dc2/hud-image-3.webp 802w" sizes="100vw"/><img data-gatsby-image-ssr="" data-main-image="" style="opacity:0" sizes="100vw" decoding="async" loading="lazy" data-src="/static/dc5f1603014f64bb9a06e17e603c6622/e5fdb/hud-image-3.png" data-srcset="/static/dc5f1603014f64bb9a06e17e603c6622/32060/hud-image-3.png 750w,/static/dc5f1603014f64bb9a06e17e603c6622/e5fdb/hud-image-3.png 802w" alt="stacked images of website screens"/></picture>
                <noscript>
                  <picture><source type="image/webp" srcset="/static/dc5f1603014f64bb9a06e17e603c6622/cff20/hud-image-3.webp 750w,/static/dc5f1603014f64bb9a06e17e603c6622/06dc2/hud-image-3.webp 802w" sizes="100vw"/><img data-gatsby-image-ssr="" data-main-image="" style="opacity:0" sizes="100vw" decoding="async" loading="lazy" src="/static/dc5f1603014f64bb9a06e17e603c6622/e5fdb/hud-image-3.png" srcset="/static/dc5f1603014f64bb9a06e17e603c6622/32060/hud-image-3.png 750w,/static/dc5f1603014f64bb9a06e17e603c6622/e5fdb/hud-image-3.png 802w" alt="stacked images of website screens"/></picture>
                </noscript>
                <script type="module">
                  const t = "undefined" != typeof HTMLImageElement && "loading" in HTMLImageElement.prototype;
                  if (t) {
                    const t = document.querySelectorAll("img[data-main-image]");
                    for (let e of t) {
                      e.dataset.src && (e.setAttribute("src", e.dataset.src), e.removeAttribute("data-src")),
                      e.dataset.srcset && (e.setAttribute("srcset", e.dataset.srcset), e.removeAttribute("data-srcset"));
                      const t = e.parentNode.querySelectorAll("source[data-srcset]");
                      for (let e of t) 
                        e.setAttribute("srcset", e.dataset.srcset),
                        e.removeAttribute("data-srcset");
                      


                      e.complete && (e.style.opacity = 1, e.parentNode.parentNode.querySelector("[data-placeholder-image]").style.opacity = 0)
                    }
                  }
                </script>
              </div>
            </div>
          </div>
        </div>
        <div style="flex-basis:50%" class="column-list-column   ">
          <div class="column-wrapper">
            <div class="section-overview ">
              <div style="max-width:85%" class="section-overview__text">
                <h2>Certification Exam Development</h2>
              </div>
              <div class="section-overview__decoration-divider" style="background-color:white"></div>
            </div>
            <p>Bixal project managers and adult learning experts worked closely with a psychometrician—an expert in certification exam development—following a rigorous process to build a reliable, valid, relevant, and legally defensible certification exam. A team of item writers, housing SMEs, and translators designed the certification exam and a practice test in both English and Spanish.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="hud-section--3" class="section-container  hud-section--3 " style="background-color:transparent;color:black;padding:80px 0">
    <div style="margin:0 auto;width:75%;max-width:1180px">
      <div class="columns-list-container row-reverse" style="display:flex;flex-direction:row-reverse">
        <div style="flex-basis:50%" class="column-list-column   ">
          <div class="column-wrapper">
            <div class="image-block-content" style="padding-left:30px;text-align:center">
              <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper">
                <div aria-hidden="true" style="padding-top:79.1173304628633%"></div>
                <div aria-hidden="true" data-placeholder-image="" style="opacity:1;transition:opacity 500ms linear"></div>
                <picture><source type="image/webp" data-srcset="/static/07be41b55255289ceae85804415b2b9b/25b75/hud-image-5.webp 750w,/static/07be41b55255289ceae85804415b2b9b/8af62/hud-image-5.webp 929w" sizes="100vw"/><img data-gatsby-image-ssr="" data-main-image="" style="opacity:0" sizes="100vw" decoding="async" loading="lazy" data-src="/static/07be41b55255289ceae85804415b2b9b/b3e67/hud-image-5.png" data-srcset="/static/07be41b55255289ceae85804415b2b9b/09daa/hud-image-5.png 750w,/static/07be41b55255289ceae85804415b2b9b/b3e67/hud-image-5.png 929w" alt="display view of information displayed in the system"/></picture>
                <noscript>
                  <picture><source type="image/webp" srcset="/static/07be41b55255289ceae85804415b2b9b/25b75/hud-image-5.webp 750w,/static/07be41b55255289ceae85804415b2b9b/8af62/hud-image-5.webp 929w" sizes="100vw"/><img data-gatsby-image-ssr="" data-main-image="" style="opacity:0" sizes="100vw" decoding="async" loading="lazy" src="/static/07be41b55255289ceae85804415b2b9b/b3e67/hud-image-5.png" srcset="/static/07be41b55255289ceae85804415b2b9b/09daa/hud-image-5.png 750w,/static/07be41b55255289ceae85804415b2b9b/b3e67/hud-image-5.png 929w" alt="display view of information displayed in the system"/></picture>
                </noscript>
                <script type="module">
                  const t = "undefined" != typeof HTMLImageElement && "loading" in HTMLImageElement.prototype;
                  if (t) {
                    const t = document.querySelectorAll("img[data-main-image]");
                    for (let e of t) {
                      e.dataset.src && (e.setAttribute("src", e.dataset.src), e.removeAttribute("data-src")),
                      e.dataset.srcset && (e.setAttribute("srcset", e.dataset.srcset), e.removeAttribute("data-srcset"));
                      const t = e.parentNode.querySelectorAll("source[data-srcset]");
                      for (let e of t) 
                        e.setAttribute("srcset", e.dataset.srcset),
                        e.removeAttribute("data-srcset");
                      


                      e.complete && (e.style.opacity = 1, e.parentNode.parentNode.querySelector("[data-placeholder-image]").style.opacity = 0)
                    }
                  }
                </script>
              </div>
            </div>
          </div>
        </div>
        <div style="flex-basis:50%" class="column-list-column   ">
          <div class="column-wrapper">
            <div class="section-overview ">
              <div style="max-width:85%" class="section-overview__text">
                <h2>Website Development and Systems Integration</h2>
              </div>
              <div class="section-overview__decoration-divider" style="background-color:#05c5bb"></div>
            </div>
            <p>To provide a seamless experience for housing counselor candidates, Bixal used Drupal and Application Programming Interfaces (APIs) to connect several platforms that provide access to the practice exam and proctoring services for the certification exam. To update HUD’s Housing Counselor Registry, the platform also transfers information to HUD’s Housing Counselor database. The platform is fully Section 508 compliant and was designed to meet all federal security requirements.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div></div></main>
