<style>
  .gatsby-image-wrapper {
    position: relative;
    overflow: hidden
  }
  .gatsby-image-wrapper picture.object-fit-polyfill {
    position: static !important
  }
  .gatsby-image-wrapper img {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    max-width: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    object-fit: cover
  }
  .gatsby-image-wrapper [data-main-image] {
    opacity: 0;
    transform: translateZ(0);
    transition: opacity 0.25s linear;
    will-change: opacity
  }
  .gatsby-image-wrapper-constrained {
    display: inline-block;
    vertical-align: top
  }
</style>
<noscript>
  <style>
    .gatsby-image-wrapper noscript [data-main-image] {
      opacity: 1 !important
    }
    .gatsby-image-wrapper [data-placeholder-image] {
      opacity: 0 !important
    }
  </style>
</noscript>
<script type="module">
  const e = "undefined" != typeof HTMLImageElement && "loading" in HTMLImageElement.prototype;
  e && document.body.addEventListener("load", (function (e) {
    const t = e.target;
    if (void 0 === t.dataset.mainImage) 
      return;
    


    if (void 0 === t.dataset.gatsbyImageSsr) 
      return;
    


    let a = null,
      n = t;
    for (; null === a && n;) 
      void 0 !== n.parentNode.dataset.gatsbyImageWrapper && (a = n.parentNode),
      n = n.parentNode;
    


    const o = a.querySelector("[data-placeholder-image]"),
      r = new Image;
    r.src = t.currentSrc,
    r.decode().catch((() => {})).then((() => {
      t.style.opacity = 1,
      o && (o.style.opacity = 0, o.style.transition = "opacity 500ms linear")
    }))
  }), !0);
</script>
<div id="case-study" class="page--case-study">
  <section id="hero" class="section-container bg-image hero " style="background-color:transparent;color:black;padding:0px 0;background-image:radial-gradient(circle, rgba(0, 0, 0, 0.48) 0%, rgba(0, 0, 0, 0) 100%), url(/static/ef2a68004b3583d87a3d0f91acb22602/kdlt-image-1.jpg)">
    <div style="margin:0 auto;width:100%;max-width:1350px">
      <div class="section-banner-details">
        <div class="section-overview  section-overview--center">
          <div class="piped-title" style="border-left-color:#fff;border-right-color:#fff">OUR WORK</div>
          <div style="max-width:100%" class="section-overview__text">
            <h1>Delivering digital communications and web strategy in support of global food security.</h1>
          </div>
        </div>
        <p class="section-banner-description"></p>
      </div>
    </div>
  </section>
  <section id="intro-section" class="section-container  intro-section " style="background-color:transparent;color:black;padding:30px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div id="case-study-intro" class="
                                intro-block
                                intro-block-2
                                intro-block--case-study-intro
                              ">
        <div class="intro-block__heading">
          <h3 class="intro-block-2__heading" style="color:#162d6a">United States Agency for International Development (USAID)</h3>
          <h3 class="intro-block-2__heading" style="color:#162d6a">Bureau for Resilience and Food Security (RFS)</h3>
          <h3 class="intro-block-2__heading" style="color:#162d6a">Feed the Future Knowledge, Data, Learning and Training (KDLT)</h3>
          <div class="intro-block-2__heading">
            <span class="sc-bcXHqe tETSo">
              <a class="decorative-link" rel="noreferrer" target="_blank" href="https://www.agrilinks.org">https://www.agrilinks.org</a>
            </span>
          </div>
        </div>
        <div class="introBlockDivider" style="border-color:#deec1e"></div>
        <div class="emphasis-block-set">
          <div class="emphasis-block-set__row">
            <div class="emphasis-block emphasis-block--featured">
              <div class="topic-subhead">
                <p>Services</p>
              </div>
              <div class="emphasis-block__text">Digital Strategy; Content Strategy; Visual Design; Human-Centered Design; User-Experience Design (UX); Agile Web Strategy and Management; Knowledge Management; Organizational Development; Training; Event Management and Facilitation; Multimedia Production; Monitoring, Evaluation and Learning; Data Analysis and Visualization</div>
            </div>
          </div>
          <div class="emphasis-block-set__row"></div>
        </div>
      </div>
    </div>
  </section>
  <section id="undefined-section--columns-0" class="section-container  undefined-section--columns-0 section--columns" style="background-color:transparent;color:black;padding:20px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div class="column-set column-set--layout-multiple">
        <div class="column-set__column " style="flex-basis:33%">
          <div class="column-content">
            <div class="heading heading--underlined">
              <h2 class="heading__content">Challenge</h2>
              <div class="heading__line" style="background-color:#deec1e"></div>
            </div>
            <div class="column-content__text">In March 2019, USAID and Bixal launched KDLT to build the capacity of Feed the Future, USAID and the global food security community to share knowledge and data in alignment with the Global Food Security Strategy (GFSS). One of USAID’s priorities was to ensure that its premier knowledge-sharing platform for food security, Agrilinks, was effectively positioned and aligned to support Feed the Future and USAID’s knowledge-sharing goals.</div>
          </div>
        </div>
        <div class="column-set__column " style="flex-basis:33%">
          <div class="column-content">
            <div class="heading heading--underlined">
              <h2 class="heading__content">Solution</h2>
              <div class="heading__line" style="background-color:#deec1e"></div>
            </div>
            <div class="column-content__text">Bixal met this challenge by upgrading Agrilinks and providing an ongoing series of digital content and communications enhancements. Bixal’s digital content strategy and implementation support created foundational guidelines, such as a vision document, branding and editorial style guides, and data analysis dashboards to track website success. We also bolstered content channels, ensuring ease of Agrilinks’ maintenance and use, and improved accessibility and usability targeted at USAID and members of the global food security community.</div>
          </div>
        </div>
        <div class="column-set__column " style="flex-basis:33%">
          <div class="column-content">
            <div class="heading heading--underlined">
              <h2 class="heading__content">Results</h2>
              <div class="heading__line" style="background-color:#deec1e"></div>
            </div>
            <div class="column-content__text">The refresh and upgrade of Agrilinks has been an important achievement, resulting in increased user engagement and knowledge sharing and positioning the website for ongoing excellence in support of GFSS goals. Since Bixal began oversight of Agrilinks, the website has had a 132% increase in pageviews and a substantial increase in USAID-authored content, Agrilinks event participation and mailing-list membership. Agrilinks is now the leading website for USAID staff to share knowledge on food security and agricultural development with the global community.</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="undefined-section--columns-1" class="section-container  undefined-section--columns-1 section--columns" style="background-color:transparent;color:black;padding:20px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div class="column-set column-set--layout-single">
        <div class="column-set__column " style="flex-basis:100%">
          <div class="column-content">
            <div class="heading heading--underlined">
              <h2 class="heading__content">Defining the Problem</h2>
              <div class="heading__line" style="background-color:#deec1e"></div>
            </div>
            <div class="column-content__text">
              <p>RFS and the hundreds of U.S. government-funded activities that comprise the Feed the Future initiative continually develop and aggregate technical knowledge, data, new approaches and lessons learned. This wealth of knowledge, however, can be hard to take full advantage of because it is varied in format and dispersed across several sources.</p>
              <p>Based on audits and discovery of Agrilinks and discussions with USAID, Bixal identified the need for a digital strategy to leverage the community’s knowledge and network and Agrilinks’ associated communication channels to increase and better facilitate knowledge sharing. Bixal pursued opportunities to improve the way Agrilinks’ diverse audiences can contribute learning and find the information most relevant to them.</p>
              <p>Improving access to learning and knowledge was deemed a key step toward increasing the application of program-relevant knowledge and content to facilitate informed decision-making, learning and adaptive management among USAID staff, implementing partners and other Feed the Future stakeholders.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="undefined-section--columns-2" class="section-container  undefined-section--columns-2 section--columns" style="background-color:transparent;color:black;padding:20px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div class="column-set column-set--layout-single">
        <div class="column-set__column " style="flex-basis:100%">
          <div class="column-content">
            <div class="heading heading--underlined">
              <h2 class="heading__content">Design &amp; Approach</h2>
              <div class="heading__line" style="background-color:#deec1e"></div>
            </div>
            <div class="column-content__text">
              <p>Starting in 2019, USAID and Bixal began workshops to set goals for Agrilinks and lay a path forward. USAID’s collaborating, learning and adapting approach and Agile methodologies drove Bixal’s work on Agrilinks. Our team worked with USAID to complete the website’s migration to Drupal 9, create a discovery plan, standardize brand treatment across related Agrilinks channels, retire content, prepare for continued back-end improvement and chart a path for continuous UX improvement.</p>
              <p>Supporting activities included conducting extensive user research, a full content audit of the original website, establishing an editorial style guide and setting criteria for member applications. We also worked with USAID to synthesize technical reports, including accompanying data visualizations, for general audiences.</p>
              <p>We expanded on this process in modernizing and relaunching ResilienceLinks.org, USAID’s Center for Resilience’s knowledge-management platform for international development and humanitarian response professionals.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="undefined-section--columns-3" class="section-container  undefined-section--columns-3 section--columns" style="background-color:transparent;color:black;padding:20px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div class="column-set column-set--layout-single">
        <div class="column-set__column " style="flex-basis:100%">
          <div class="column-content">
            <div class="heading heading--underlined">
              <h2 class="heading__content">Delivering the Solution</h2>
              <div class="heading__line" style="background-color:#deec1e"></div>
            </div>
            <div class="column-content__text">
              <p>In migrating Agrilinks to Drupal 9, Bixal increased the website’s accessibility. Our team made critical responsive design improvements, ensuring color and alternate-tag compliance. The team also has ensured that alternate text is appropriately added to necessary media and all content is Section 508 compliant.</p>
              <p>Bixal created a content and governance guide for Agrilinks to ensure RFS’s ability to continue building the website in a way that ensures all content remains relevant and accessible to users. Bixal updated and improved Agrilinks’ branding and redesigned the external communications, including newsletters, event invites, the event PowerPoint template and social media graphics. Bixal improved content channels and working relations with USAID, resulting in more USAID content on the website, a win for both USAID and the global food security community.</p>
              <p>To increase knowledge dissemination and engagement throughout the community, Bixal upgraded USAID’s webinar platform to BlueJeans and designed, coordinated and hosted 34 webinars (as of September 2021) through the Agrilinks Webinar Series using our audiovisual technical expertise. Attendance averaged more than 320 people per webinar.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="kdlt-section--callout-4" class="section-container  kdlt-section--callout-4 section--callout" style="background-color:transparent;color:black;padding:20px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div class="callout" style="background-color:#172d6a;color:#fff">
        <div class="heading heading--underlined">
          <h2 class="heading__content">The Outcome</h2>
          <div class="heading__line" style="background-color:#deec1e"></div>
        </div>
        <div class="callout__text">
          <p>Through KDLT, Bixal focuses on the following five outcomes in support of USAID’s global food security and resilience efforts:</p>
          <ol class='callout-list'>
            <li>Improved and sustained capacity for knowledge sharing.</li>
            <li>Expanded capacity for on-demand, accurate data analysis and visualization.</li>
            <li>Maintenance, growth and improvement in USAID web platforms and databases (including Agrilinks).</li>
            <li>Increased awareness and use of new evidence and learnings to influence programmatic procurement and decision-making.</li>
            <li>Improved culture of collaboration, knowledge sharing, learning and adapting among USAID staff, Feed the Future Missions and Feed the Future implementing partners.</li>
          </ol>
          <p>Bixal continues to drive high impact and innovation across these areas.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="undefined-section--columns-5" class="section-container  undefined-section--columns-5 section--columns" style="background-color:transparent;color:black;padding:20px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div class="column-set column-set--layout-single">
        <div class="column-set__column " style="flex-basis:100%">
          <div class="column-content">
            <div class="heading heading--underlined">
              <h2 class="heading__content">Project Highlights</h2>
              <div class="heading__line" style="background-color:#deec1e"></div>
            </div>
            <div class="column-content__text">To date, KDLT’s digital and web strategy work has contributed to the following important achievements:</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="kdlt-section--emphasis-blocks-6" class="section-container  kdlt-section--emphasis-blocks-6 section--emphasis-blocks" style="background-color:transparent;color:black;padding:20px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div class="emphasis-block-set">
        <div class="emphasis-block-set__row"></div>
        <div class="emphasis-block-set__row">
          <div class="emphasis-block" style="flex-basis:100%">
            <div class="emphasis-block__text">
              <ol class='emphasis-list'>
                <li>Agrilinks’ mailing list of subscribers grew by 58% since the contract’s start.</li>
                <li>Sixty Agrilinks newsletters have been published and disseminated to more than 25,000 subscribers.</li>
                <li>Total attendance at Agrilinks’ webinars grew significantly, with increased participation from international stakeholders from 145 countries.</li>
                <li>Agrilinks has been accessed by 597,000 unique visitors.</li>
                <li>In the year prior to Bixal’s involvement with KDLT, Agrilinks averaged 16,000 visits per month; after our engagement, visits increased to an average of 38,000 per month — a 132% increase over a period of two and a half years.
                </li>
                <li>KDLT updated and relaunched an additional website, ResilienceLinks.org, with RFS’s Center for Resilience after completing a comprehensive digital communications strategy and website update including platform upgrade, rebrand and improved user navigation.
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div></div><div id="gatsby-announcer" style="position:absolute;top:0;width:1px;height:1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);white-space:nowrap;border:0" aria-live="assertive" aria-atomic="true"></div></div><script id="gatsby-script-loader">/*<![CDATA[*/
window.pagePath = "/our-work/kdlt/";
window.___webpackCompilationHash = "a06665383b741f3aa4c1"; /*]]>*/</script><script id="gatsby-chunk-mapping">/*<![CDATA[*/
window.___chunkMapping = {
  "polyfill": ["/polyfill-71426064197f37fd8168.js"],
  "app": ["/app-071ed289116e4fb5f844.js"],
  "component---src-pages-404-js": ["/component---src-pages-404-js-a8c7736d17a9ce5ac13e.js"],
  "component---src-pages-about-index-js": ["/component---src-pages-about-index-js-eb5b5a7b8dfc00440d2c.js"],
  "component---src-pages-blog-index-js": ["/component---src-pages-blog-index-js-da2e906add700328850f.js"],
  "component---src-pages-careers-index-js": ["/component---src-pages-careers-index-js-1191e82cbdda01d1ab81.js"],
  "component---src-pages-contract-vehicles-index-js": ["/component---src-pages-contract-vehicles-index-js-df326cfb740f55247217.js"],
  "component---src-pages-deia-js": ["/component---src-pages-deia-js-c566f96c737ecbf10f83.js"],
  "component---src-pages-holiday-2023-index-js": ["/component---src-pages-holiday-2023-index-js-da0b4948883202b4a7be.js"],
  "component---src-pages-index-js": ["/component---src-pages-index-js-4cabdec5322fad838e11.js"],
  "component---src-pages-markdown-remark-frontmatter-slug-jsx": ["/component---src-pages-markdown-remark-frontmatter-slug-jsx-8f39af43a26f3c2d2f09.js"],
  "component---src-pages-our-work-index-js": ["/component---src-pages-our-work-index-js-8176aee2358070a65e0e.js"],
  "component---src-pages-privacy-js": ["/component---src-pages-privacy-js-d4b8e6b1c91cc23e20c9.js"],
  "component---src-templates-case-study-js": ["/component---src-templates-case-study-js-396d1165e284b02e7744.js"],
  "component---src-templates-case-study-legacy-js": ["/component---src-templates-case-study-legacy-js-10f25bf639c48d445884.js"],
  "component---src-templates-contract-vehicle-js": ["/component---src-templates-contract-vehicle-js-15edda6738d7d2186450.js"],
  "component---src-templates-person-profile-js": ["/component---src-templates-person-profile-js-39578bc98c790a199d6c.js"]
}; /*]]>*/</script><script src="/polyfill-71426064197f37fd8168.js" nomodule=""></script><script src="/app-071ed289116e4fb5f844.js" async=""></script><script src="/framework-261b3c8cc3bd8dfe6dfa.js" async=""></script><script src="/webpack-runtime-f4b601a5b1ec8ea50b55.js" async=""></script></body></html>
