<style>
  .gatsby-image-wrapper {
    position: relative;
    overflow: hidden
  }
  .gatsby-image-wrapper picture.object-fit-polyfill {
    position: static !important
  }
  .gatsby-image-wrapper img {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    max-width: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    object-fit: cover
  }
  .gatsby-image-wrapper [data-main-image] {
    opacity: 0;
    transform: translateZ(0);
    transition: opacity 0.25s linear;
    will-change: opacity
  }
  .gatsby-image-wrapper-constrained {
    display: inline-block;
    vertical-align: top
  }
</style>
<noscript>
  <style>
    .gatsby-image-wrapper noscript [data-main-image] {
      opacity: 1 !important
    }
    .gatsby-image-wrapper [data-placeholder-image] {
      opacity: 0 !important
    }
  </style>
</noscript>
<script type="module">
  const e = "undefined" != typeof HTMLImageElement && "loading" in HTMLImageElement.prototype;
  e && document.body.addEventListener("load", (function (e) {
    const t = e.target;
    if (void 0 === t.dataset.mainImage) 
      return;
    


    if (void 0 === t.dataset.gatsbyImageSsr) 
      return;
    


    let a = null,
      n = t;
    for (; null === a && n;) 
      void 0 !== n.parentNode.dataset.gatsbyImageWrapper && (a = n.parentNode),
      n = n.parentNode;
    


    const o = a.querySelector("[data-placeholder-image]"),
      r = new Image;
    r.src = t.currentSrc,
    r.decode().catch((() => {})).then((() => {
      t.style.opacity = 1,
      o && (o.style.opacity = 0, o.style.transition = "opacity 500ms linear")
    }))
  }), !0);
</script>
<div id="case-study" class="page--case-study">
  <section id="hero" class="section-container bg-image hero " style="background-color:transparent;color:black;padding:0px 0;background-image:radial-gradient(circle, rgba(0, 0, 0, 0.48) 0%, rgba(0, 0, 0, 0) 100%), url(/static/1b621cb00e758019369595619fbc6801/6-sba.jpg)">
    <div style="margin:0 auto;width:100%;max-width:1350px">
      <div class="section-banner-details">
        <div class="section-overview  section-overview--center">
          <div class="piped-title" style="border-left-color:#fff;border-right-color:#fff">OUR WORK</div>
          <div style="max-width:100%" class="section-overview__text">
            <h1>Using content strategy to propel American business.</h1>
          </div>
        </div>
        <p class="section-banner-description"></p>
      </div>
    </div>
  </section>
  <section id="intro-section" class="section-container  intro-section " style="background-color:transparent;color:black;padding:30px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div id="case-study-intro" class="
                                intro-block
                                intro-block-2
                                intro-block--case-study-intro
                              ">
        <div class="intro-block__heading">
          <h3 class="intro-block-2__heading" style="color:#E02F00">U.S. Small Business Administration (SBA)</h3>
          <h3 class="intro-block-2__heading" style="color:#E02F00">SBA.gov</h3>
          <div class="intro-block-2__heading">
            <span class="sc-bcXHqe dxLlYx">
              <a class="decorative-link" rel="noreferrer" target="_blank" href="https://www.sba.gov">https://www.sba.gov</a>
            </span>
          </div>
        </div>
        <div class="introBlockDivider" style="border-color:#E02F00"></div>
        <div class="emphasis-block-set">
          <div class="emphasis-block-set__row">
            <div class="emphasis-block emphasis-block--featured">
              <div class="topic-subhead">
                <p>Services</p>
              </div>
              <div class="emphasis-block__text">Agile Project Management, Content Strategy, Marketing Research, Outreach and Liaising Services, SEO and Analytics, Copywriting, Accessibility/508 Compliance, Bilingual English-Spanish Content Strategy, Help Desk and Customer Support</div>
            </div>
          </div>
          <div class="emphasis-block-set__row"></div>
        </div>
      </div>
    </div>
  </section>
  <section id="undefined-section--columns-0" class="section-container  undefined-section--columns-0 section--columns" style="background-color:transparent;color:black;padding:20px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div class="column-set column-set--layout-multiple">
        <div class="column-set__column " style="flex-basis:33%">
          <div class="column-content">
            <div class="heading heading--underlined">
              <h2 class="heading__content">Challenge</h2>
              <div class="heading__line" style="background-color:#E02F00"></div>
            </div>
            <div class="column-content__text">SBA.gov existed as a warehouse of information and links that customers found difficult to understand and navigate. It also failed to meet federal accessibility guidelines, meaning many people were unable to use the site at all. As a result, 52% of visitors left the site without going beyond the landing page. We needed to gain a better comprehension of who the customers were and what brought them to the site, so we could develop and deliver a customer-centered online experience.</div>
          </div>
        </div>
        <div class="column-set__column " style="flex-basis:33%">
          <div class="column-content">
            <div class="heading heading--underlined">
              <h2 class="heading__content">Solution</h2>
              <div class="heading__line" style="background-color:#E02F00"></div>
            </div>
            <div class="column-content__text">Armed with an array of customer research and data that our team collected, we were able to build personas and user stories based on actual people and their real-life needs. This deeper understanding of SBA customers then informed the development of a comprehensive content strategy, which included establishing an SBA brand position and social media plan.</div>
          </div>
        </div>
        <div class="column-set__column " style="flex-basis:33%">
          <div class="column-content">
            <div class="heading heading--underlined">
              <h2 class="heading__content">Results</h2>
              <div class="heading__line" style="background-color:#E02F00"></div>
            </div>
            <div class="column-content__text">A plain language, accessible, and easy-to-navigate website, with a Spanish-language counterpart, firmly based on customer needs, which helps hundreds of thousands of entrepreneurs and small business owners every month find all the tools they need to start, grow, and keep their businesses.</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="undefined-section--columns-1" class="section-container  undefined-section--columns-1 section--columns" style="background-color:transparent;color:black;padding:20px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div class="column-set column-set--layout-single">
        <div class="column-set__column " style="flex-basis:100%">
          <div class="column-content">
            <div class="heading heading--underlined">
              <h2 class="heading__content">Defining the Problem</h2>
              <div class="heading__line" style="background-color:#E02F00"></div>
            </div>
            <div class="column-content__text">Much of the language found on SBA.gov was geared toward the internal stakeholder and not the small business owner, and there was no information in Spanish for the country’s more than 4.4 million Latino-owned businesses. Also, the site did not meet the Federal Government’s accessibility requirements. We wanted to transform the website from a jargon- and document-laden repository into a searchable, fully accessible, and bilingual resource that everyone could turn to for their small business information needs.</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="banner" class="section-container bg-image banner " style="background-color:transparent;color:black;padding:0px 0;background-image:url(/static/179b94d211af8275746f474556ebe09a/sba-open-welcome.jpg)">
    <div style="margin:0 auto;width:100%;max-width:1350px">
      <div class="section-banner-details">
        <div class="section-overview  section-overview--center">
          <div style="max-width:100%" class="section-overview__text"></div>
        </div>
        <p class="section-banner-description"></p>
      </div>
    </div>
  </section>
  <section id="undefined-section--columns-3" class="section-container  undefined-section--columns-3 section--columns" style="background-color:transparent;color:black;padding:20px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div class="column-set column-set--layout-single">
        <div class="column-set__column " style="flex-basis:100%">
          <div class="column-content">
            <div class="heading heading--underlined">
              <h2 class="heading__content">Discovery &amp; Research</h2>
              <div class="heading__line" style="background-color:#E02F00"></div>
            </div>
            <div class="column-content__text">Our research methods are human-centered, just like our design strategies. We engaged in extensive discovery sessions with the SBA team and listened to the needs of U.S. business owners by conducting various types of user research. This information helped influence our customer personas and journey maps to identify problem areas within the website and adjust the content to respond to specific needs accordingly.</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="undefined-section--columns-4" class="section-container  undefined-section--columns-4 section--columns" style="background-color:transparent;color:black;padding:20px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div class="column-set column-set--layout-multiple">
        <div class="column-set__column " style="flex-basis:50%">
          <div class="column-content">
            <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper">
              <div aria-hidden="true" style="padding-top:56.231884057971016%"></div>
              <div aria-hidden="true" data-placeholder-image="" style="opacity:1;transition:opacity 500ms linear"></div>
              <picture><source type="image/webp" data-srcset="/static/c11f74309e467ee0e2ab7654a95b79db/a66aa/sba-research.webp 750w,/static/c11f74309e467ee0e2ab7654a95b79db/2a327/sba-research.webp 1080w,/static/c11f74309e467ee0e2ab7654a95b79db/4fad6/sba-research.webp 1366w,/static/c11f74309e467ee0e2ab7654a95b79db/8eecb/sba-research.webp 1380w" sizes="100vw"/><img data-gatsby-image-ssr="" data-main-image="" style="opacity:0" sizes="100vw" decoding="async" loading="lazy" data-src="/static/c11f74309e467ee0e2ab7654a95b79db/26123/sba-research.jpg" data-srcset="/static/c11f74309e467ee0e2ab7654a95b79db/37bba/sba-research.jpg 750w,/static/c11f74309e467ee0e2ab7654a95b79db/97edb/sba-research.jpg 1080w,/static/c11f74309e467ee0e2ab7654a95b79db/d61e8/sba-research.jpg 1366w,/static/c11f74309e467ee0e2ab7654a95b79db/26123/sba-research.jpg 1380w" alt="Side view of a woman&#x27;s hands on the keyboard of a laptop."/></picture>
              <noscript>
                <picture><source type="image/webp" srcset="/static/c11f74309e467ee0e2ab7654a95b79db/a66aa/sba-research.webp 750w,/static/c11f74309e467ee0e2ab7654a95b79db/2a327/sba-research.webp 1080w,/static/c11f74309e467ee0e2ab7654a95b79db/4fad6/sba-research.webp 1366w,/static/c11f74309e467ee0e2ab7654a95b79db/8eecb/sba-research.webp 1380w" sizes="100vw"/><img data-gatsby-image-ssr="" data-main-image="" style="opacity:0" sizes="100vw" decoding="async" loading="lazy" src="/static/c11f74309e467ee0e2ab7654a95b79db/26123/sba-research.jpg" srcset="/static/c11f74309e467ee0e2ab7654a95b79db/37bba/sba-research.jpg 750w,/static/c11f74309e467ee0e2ab7654a95b79db/97edb/sba-research.jpg 1080w,/static/c11f74309e467ee0e2ab7654a95b79db/d61e8/sba-research.jpg 1366w,/static/c11f74309e467ee0e2ab7654a95b79db/26123/sba-research.jpg 1380w" alt="Side view of a woman&#x27;s hands on the keyboard of a laptop."/></picture>
              </noscript>
              <script type="module">
                const t = "undefined" != typeof HTMLImageElement && "loading" in HTMLImageElement.prototype;
                if (t) {
                  const t = document.querySelectorAll("img[data-main-image]");
                  for (let e of t) {
                    e.dataset.src && (e.setAttribute("src", e.dataset.src), e.removeAttribute("data-src")),
                    e.dataset.srcset && (e.setAttribute("srcset", e.dataset.srcset), e.removeAttribute("data-srcset"));
                    const t = e.parentNode.querySelectorAll("source[data-srcset]");
                    for (let e of t) 
                      e.setAttribute("srcset", e.dataset.srcset),
                      e.removeAttribute("data-srcset");
                    

                    e.complete && (e.style.opacity = 1, e.parentNode.parentNode.querySelector("[data-placeholder-image]").style.opacity = 0)
                  }
                }
              </script>
            </div>
            <div class="topic-subhead">
              <p>Analysis</p>
            </div>
            <div class="column-content__text">We carried out customer interviews and impromptu social research to obtain live, raw online feedback on what was working or lacking on the original site. Our user research included analytics reviews, behavior reports, and both content gap and competitive analyses. We also conducted a content audit of the SBA website, which helped us to identify what to keep, delete, or rewrite.</div>
          </div>
        </div>
        <div class="column-set__column " style="flex-basis:50%">
          <div class="column-content">
            <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper">
              <div aria-hidden="true" style="padding-top:56.231884057971016%"></div>
              <div aria-hidden="true" data-placeholder-image="" style="opacity:1;transition:opacity 500ms linear"></div>
              <picture><source type="image/webp" data-srcset="/static/69b5860983f3a06375070c9da4951740/a66aa/sba-discovery.webp 750w,/static/69b5860983f3a06375070c9da4951740/2a327/sba-discovery.webp 1080w,/static/69b5860983f3a06375070c9da4951740/4fad6/sba-discovery.webp 1366w,/static/69b5860983f3a06375070c9da4951740/8eecb/sba-discovery.webp 1380w" sizes="100vw"/><img data-gatsby-image-ssr="" data-main-image="" style="opacity:0" sizes="100vw" decoding="async" loading="lazy" data-src="/static/69b5860983f3a06375070c9da4951740/26123/sba-discovery.jpg" data-srcset="/static/69b5860983f3a06375070c9da4951740/37bba/sba-discovery.jpg 750w,/static/69b5860983f3a06375070c9da4951740/97edb/sba-discovery.jpg 1080w,/static/69b5860983f3a06375070c9da4951740/d61e8/sba-discovery.jpg 1366w,/static/69b5860983f3a06375070c9da4951740/26123/sba-discovery.jpg 1380w" alt="Three people standing in front of a whiteboard, writing on sticky notes."/></picture>
              <noscript>
                <picture><source type="image/webp" srcset="/static/69b5860983f3a06375070c9da4951740/a66aa/sba-discovery.webp 750w,/static/69b5860983f3a06375070c9da4951740/2a327/sba-discovery.webp 1080w,/static/69b5860983f3a06375070c9da4951740/4fad6/sba-discovery.webp 1366w,/static/69b5860983f3a06375070c9da4951740/8eecb/sba-discovery.webp 1380w" sizes="100vw"/><img data-gatsby-image-ssr="" data-main-image="" style="opacity:0" sizes="100vw" decoding="async" loading="lazy" src="/static/69b5860983f3a06375070c9da4951740/26123/sba-discovery.jpg" srcset="/static/69b5860983f3a06375070c9da4951740/37bba/sba-discovery.jpg 750w,/static/69b5860983f3a06375070c9da4951740/97edb/sba-discovery.jpg 1080w,/static/69b5860983f3a06375070c9da4951740/d61e8/sba-discovery.jpg 1366w,/static/69b5860983f3a06375070c9da4951740/26123/sba-discovery.jpg 1380w" alt="Three people standing in front of a whiteboard, writing on sticky notes."/></picture>
              </noscript>
              <script type="module">
                const t = "undefined" != typeof HTMLImageElement && "loading" in HTMLImageElement.prototype;
                if (t) {
                  const t = document.querySelectorAll("img[data-main-image]");
                  for (let e of t) {
                    e.dataset.src && (e.setAttribute("src", e.dataset.src), e.removeAttribute("data-src")),
                    e.dataset.srcset && (e.setAttribute("srcset", e.dataset.srcset), e.removeAttribute("data-srcset"));
                    const t = e.parentNode.querySelectorAll("source[data-srcset]");
                    for (let e of t) 
                      e.setAttribute("srcset", e.dataset.srcset),
                      e.removeAttribute("data-srcset");
                    

                    e.complete && (e.style.opacity = 1, e.parentNode.parentNode.querySelector("[data-placeholder-image]").style.opacity = 0)
                  }
                }
              </script>
            </div>
            <div class="topic-subhead">
              <p>Findings</p>
            </div>
            <div class="column-content__text">Through our research, we discovered that people had trouble self-identifying with the small business criteria on SBA.gov. Customers found it difficult to navigate the federal jargon to access the information and applications relevant to their specific situation, and because the site was not 508 compliant, many customers had trouble accessing the site. Also, the site was designed to fit SBA employees’ computer screens and not optimized for different sized screens or mobile devices, which 31% of all visitors used to access the site.</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="undefined-section--columns-5" class="section-container  undefined-section--columns-5 section--columns" style="background-color:transparent;color:black;padding:20px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div class="column-set column-set--layout-single">
        <div class="column-set__column " style="flex-basis:100%">
          <div class="column-content">
            <div class="heading heading--underlined">
              <h2 class="heading__content">Design &amp; Approach</h2>
              <div class="heading__line" style="background-color:#E02F00"></div>
            </div>
            <div class="column-content__text">Every project we take on starts with a research process to help us understand the needs of the client, but to tailor a solution for SBA.gov, our focus was the site’s customers. With hundreds of thousands of people visiting this site every month, we knew that our approach had to be human-centered and it was vital that our design be customer-friendly and 508 compliant.</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="undefined-section--columns-6" class="section-container  undefined-section--columns-6 section--columns" style="background-color:transparent;color:black;padding:20px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div class="column-set column-set--layout-single">
        <div class="column-set__column " style="flex-basis:100%">
          <div class="column-content">
            <div class="topic-subhead">
              <p>Personas</p>
            </div>
            <div class="column-content__text">To iteratively redesign the online experience for
              <span class="sc-bcXHqe cRdFuA">
                <a class="decorative-link" rel="noreferrer" target="_blank" href="https://www.sba.gov/">SBA.gov</a>
              </span>
              customers, we created personas—representations of both SBA customers and internal stakeholders. From this exercise, we gathered information on what types of services business owners seek when starting up or expanding, when disaster hits, or when their business has to close permanently. We then used this data to model our content for any eventuality.</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="undefined-section--columns-7" class="section-container  undefined-section--columns-7 section--columns" style="background-color:transparent;color:black;padding:20px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div class="column-set column-set--layout-single">
        <div class="column-set__column " style="flex-basis:100%">
          <div class="column-content">
            <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper">
              <div aria-hidden="true" style="padding-top:59.947916666666664%"></div>
              <div aria-hidden="true" data-placeholder-image="" style="opacity:1;transition:opacity 500ms linear"></div>
              <picture><source type="image/webp" data-srcset="/static/df86930b3e94f0d6ed4118aba69d7698/80f13/sba-user-experience.webp 750w,/static/df86930b3e94f0d6ed4118aba69d7698/4f9a6/sba-user-experience.webp 1080w,/static/df86930b3e94f0d6ed4118aba69d7698/24070/sba-user-experience.webp 1366w,/static/df86930b3e94f0d6ed4118aba69d7698/ce251/sba-user-experience.webp 1920w" sizes="100vw"/><img data-gatsby-image-ssr="" data-main-image="" style="opacity:0" sizes="100vw" decoding="async" loading="lazy" data-src="/static/df86930b3e94f0d6ed4118aba69d7698/31cc0/sba-user-experience.jpg" data-srcset="/static/df86930b3e94f0d6ed4118aba69d7698/5343e/sba-user-experience.jpg 750w,/static/df86930b3e94f0d6ed4118aba69d7698/81594/sba-user-experience.jpg 1080w,/static/df86930b3e94f0d6ed4118aba69d7698/ff2d9/sba-user-experience.jpg 1366w,/static/df86930b3e94f0d6ed4118aba69d7698/31cc0/sba-user-experience.jpg 1920w" alt="Two user persona profiles."/></picture>
              <noscript>
                <picture><source type="image/webp" srcset="/static/df86930b3e94f0d6ed4118aba69d7698/80f13/sba-user-experience.webp 750w,/static/df86930b3e94f0d6ed4118aba69d7698/4f9a6/sba-user-experience.webp 1080w,/static/df86930b3e94f0d6ed4118aba69d7698/24070/sba-user-experience.webp 1366w,/static/df86930b3e94f0d6ed4118aba69d7698/ce251/sba-user-experience.webp 1920w" sizes="100vw"/><img data-gatsby-image-ssr="" data-main-image="" style="opacity:0" sizes="100vw" decoding="async" loading="lazy" src="/static/df86930b3e94f0d6ed4118aba69d7698/31cc0/sba-user-experience.jpg" srcset="/static/df86930b3e94f0d6ed4118aba69d7698/5343e/sba-user-experience.jpg 750w,/static/df86930b3e94f0d6ed4118aba69d7698/81594/sba-user-experience.jpg 1080w,/static/df86930b3e94f0d6ed4118aba69d7698/ff2d9/sba-user-experience.jpg 1366w,/static/df86930b3e94f0d6ed4118aba69d7698/31cc0/sba-user-experience.jpg 1920w" alt="Two user persona profiles."/></picture>
              </noscript>
              <script type="module">
                const t = "undefined" != typeof HTMLImageElement && "loading" in HTMLImageElement.prototype;
                if (t) {
                  const t = document.querySelectorAll("img[data-main-image]");
                  for (let e of t) {
                    e.dataset.src && (e.setAttribute("src", e.dataset.src), e.removeAttribute("data-src")),
                    e.dataset.srcset && (e.setAttribute("srcset", e.dataset.srcset), e.removeAttribute("data-srcset"));
                    const t = e.parentNode.querySelectorAll("source[data-srcset]");
                    for (let e of t) 
                      e.setAttribute("srcset", e.dataset.srcset),
                      e.removeAttribute("data-srcset");
                    

                    e.complete && (e.style.opacity = 1, e.parentNode.parentNode.querySelector("[data-placeholder-image]").style.opacity = 0)
                  }
                }
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="undefined-section--columns-8" class="section-container  undefined-section--columns-8 section--columns" style="background-color:transparent;color:black;padding:20px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div class="column-set column-set--layout-single">
        <div class="column-set__column " style="flex-basis:100%">
          <div class="column-content">
            <div class="topic-subhead">
              <p>Iconography</p>
            </div>
            <div class="column-content__text">Web pages with large amounts of copy can be overwhelming for customers, so our team utilized design elements such as infographics and icons, so users can easily understand the content in a visually appealing, responsive format. Graphics both help explain complex topics in visual ways and unify the design experience when used across the site. Our communications team also used Bixal-designed graphics in email marketing campaigns, which reached approximately 1.8 million people each month.</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="sba-section--image-quad-9" class="section-container  sba-section--image-quad-9 section--image-quad" style="background-color:transparent;color:black;padding:20px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div class="image-quad">
        <div class="image-quad__container">
          <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper">
            <div aria-hidden="true" style="padding-top:66.09375%"></div>
            <div aria-hidden="true" data-placeholder-image="" style="opacity:1;transition:opacity 500ms linear"></div>
            <picture><source type="image/webp" data-srcset="/static/742ee74c8935d5445faaa9cba191e0aa/3df03/sba-card-adv.webp 750w,/static/742ee74c8935d5445faaa9cba191e0aa/cd184/sba-card-adv.webp 1080w,/static/742ee74c8935d5445faaa9cba191e0aa/a7881/sba-card-adv.webp 1366w,/static/742ee74c8935d5445faaa9cba191e0aa/b2733/sba-card-adv.webp 1920w" sizes="100vw"/><img data-gatsby-image-ssr="" data-main-image="" style="opacity:0" sizes="100vw" decoding="async" loading="lazy" data-src="/static/742ee74c8935d5445faaa9cba191e0aa/eaab1/sba-card-adv.jpg" data-srcset="/static/742ee74c8935d5445faaa9cba191e0aa/2d8f4/sba-card-adv.jpg 750w,/static/742ee74c8935d5445faaa9cba191e0aa/c3c54/sba-card-adv.jpg 1080w,/static/742ee74c8935d5445faaa9cba191e0aa/8e389/sba-card-adv.jpg 1366w,/static/742ee74c8935d5445faaa9cba191e0aa/eaab1/sba-card-adv.jpg 1920w" alt="A card showing a page and a pencil and the words &#x27;$10k ADV.&#x27;"/></picture>
            <noscript>
              <picture><source type="image/webp" srcset="/static/742ee74c8935d5445faaa9cba191e0aa/3df03/sba-card-adv.webp 750w,/static/742ee74c8935d5445faaa9cba191e0aa/cd184/sba-card-adv.webp 1080w,/static/742ee74c8935d5445faaa9cba191e0aa/a7881/sba-card-adv.webp 1366w,/static/742ee74c8935d5445faaa9cba191e0aa/b2733/sba-card-adv.webp 1920w" sizes="100vw"/><img data-gatsby-image-ssr="" data-main-image="" style="opacity:0" sizes="100vw" decoding="async" loading="lazy" src="/static/742ee74c8935d5445faaa9cba191e0aa/eaab1/sba-card-adv.jpg" srcset="/static/742ee74c8935d5445faaa9cba191e0aa/2d8f4/sba-card-adv.jpg 750w,/static/742ee74c8935d5445faaa9cba191e0aa/c3c54/sba-card-adv.jpg 1080w,/static/742ee74c8935d5445faaa9cba191e0aa/8e389/sba-card-adv.jpg 1366w,/static/742ee74c8935d5445faaa9cba191e0aa/eaab1/sba-card-adv.jpg 1920w" alt="A card showing a page and a pencil and the words &#x27;$10k ADV.&#x27;"/></picture>
            </noscript>
            <script type="module">
              const t = "undefined" != typeof HTMLImageElement && "loading" in HTMLImageElement.prototype;
              if (t) {
                const t = document.querySelectorAll("img[data-main-image]");
                for (let e of t) {
                  e.dataset.src && (e.setAttribute("src", e.dataset.src), e.removeAttribute("data-src")),
                  e.dataset.srcset && (e.setAttribute("srcset", e.dataset.srcset), e.removeAttribute("data-srcset"));
                  const t = e.parentNode.querySelectorAll("source[data-srcset]");
                  for (let e of t) 
                    e.setAttribute("srcset", e.dataset.srcset),
                    e.removeAttribute("data-srcset");
                  

                  e.complete && (e.style.opacity = 1, e.parentNode.parentNode.querySelector("[data-placeholder-image]").style.opacity = 0)
                }
              }
            </script>
          </div>
        </div>
        <div class="image-quad__container">
          <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper">
            <div aria-hidden="true" style="padding-top:66.09375%"></div>
            <div aria-hidden="true" data-placeholder-image="" style="opacity:1;transition:opacity 500ms linear"></div>
            <picture><source type="image/webp" data-srcset="/static/264521462b3ec9f012c014fbf03bdffd/3df03/sba-card-express.webp 750w,/static/264521462b3ec9f012c014fbf03bdffd/cd184/sba-card-express.webp 1080w,/static/264521462b3ec9f012c014fbf03bdffd/a7881/sba-card-express.webp 1366w,/static/264521462b3ec9f012c014fbf03bdffd/b2733/sba-card-express.webp 1920w" sizes="100vw"/><img data-gatsby-image-ssr="" data-main-image="" style="opacity:0" sizes="100vw" decoding="async" loading="lazy" data-src="/static/264521462b3ec9f012c014fbf03bdffd/eaab1/sba-card-express.jpg" data-srcset="/static/264521462b3ec9f012c014fbf03bdffd/2d8f4/sba-card-express.jpg 750w,/static/264521462b3ec9f012c014fbf03bdffd/c3c54/sba-card-express.jpg 1080w,/static/264521462b3ec9f012c014fbf03bdffd/8e389/sba-card-express.jpg 1366w,/static/264521462b3ec9f012c014fbf03bdffd/eaab1/sba-card-express.jpg 1920w" alt="A card showing a clock and the word &#x27;Expre$$&#x27;."/></picture>
            <noscript>
              <picture><source type="image/webp" srcset="/static/264521462b3ec9f012c014fbf03bdffd/3df03/sba-card-express.webp 750w,/static/264521462b3ec9f012c014fbf03bdffd/cd184/sba-card-express.webp 1080w,/static/264521462b3ec9f012c014fbf03bdffd/a7881/sba-card-express.webp 1366w,/static/264521462b3ec9f012c014fbf03bdffd/b2733/sba-card-express.webp 1920w" sizes="100vw"/><img data-gatsby-image-ssr="" data-main-image="" style="opacity:0" sizes="100vw" decoding="async" loading="lazy" src="/static/264521462b3ec9f012c014fbf03bdffd/eaab1/sba-card-express.jpg" srcset="/static/264521462b3ec9f012c014fbf03bdffd/2d8f4/sba-card-express.jpg 750w,/static/264521462b3ec9f012c014fbf03bdffd/c3c54/sba-card-express.jpg 1080w,/static/264521462b3ec9f012c014fbf03bdffd/8e389/sba-card-express.jpg 1366w,/static/264521462b3ec9f012c014fbf03bdffd/eaab1/sba-card-express.jpg 1920w" alt="A card showing a clock and the word &#x27;Expre$$&#x27;."/></picture>
            </noscript>
            <script type="module">
              const t = "undefined" != typeof HTMLImageElement && "loading" in HTMLImageElement.prototype;
              if (t) {
                const t = document.querySelectorAll("img[data-main-image]");
                for (let e of t) {
                  e.dataset.src && (e.setAttribute("src", e.dataset.src), e.removeAttribute("data-src")),
                  e.dataset.srcset && (e.setAttribute("srcset", e.dataset.srcset), e.removeAttribute("data-srcset"));
                  const t = e.parentNode.querySelectorAll("source[data-srcset]");
                  for (let e of t) 
                    e.setAttribute("srcset", e.dataset.srcset),
                    e.removeAttribute("data-srcset");
                  

                  e.complete && (e.style.opacity = 1, e.parentNode.parentNode.querySelector("[data-placeholder-image]").style.opacity = 0)
                }
              }
            </script>
          </div>
        </div>
        <div class="image-quad__container">
          <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper">
            <div aria-hidden="true" style="padding-top:66.09375%"></div>
            <div aria-hidden="true" data-placeholder-image="" style="opacity:1;transition:opacity 500ms linear"></div>
            <picture><source type="image/webp" data-srcset="/static/dfdafdd8083b561e46152bc742460faa/3df03/sba-card-give.webp 750w,/static/dfdafdd8083b561e46152bc742460faa/cd184/sba-card-give.webp 1080w,/static/dfdafdd8083b561e46152bc742460faa/a7881/sba-card-give.webp 1366w,/static/dfdafdd8083b561e46152bc742460faa/b2733/sba-card-give.webp 1920w" sizes="100vw"/><img data-gatsby-image-ssr="" data-main-image="" style="opacity:0" sizes="100vw" decoding="async" loading="lazy" data-src="/static/dfdafdd8083b561e46152bc742460faa/eaab1/sba-card-give.jpg" data-srcset="/static/dfdafdd8083b561e46152bc742460faa/2d8f4/sba-card-give.jpg 750w,/static/dfdafdd8083b561e46152bc742460faa/c3c54/sba-card-give.jpg 1080w,/static/dfdafdd8083b561e46152bc742460faa/8e389/sba-card-give.jpg 1366w,/static/dfdafdd8083b561e46152bc742460faa/eaab1/sba-card-give.jpg 1920w" alt="A card showing a hand giving another hand a coin then a dove carrying an olive branch."/></picture>
            <noscript>
              <picture><source type="image/webp" srcset="/static/dfdafdd8083b561e46152bc742460faa/3df03/sba-card-give.webp 750w,/static/dfdafdd8083b561e46152bc742460faa/cd184/sba-card-give.webp 1080w,/static/dfdafdd8083b561e46152bc742460faa/a7881/sba-card-give.webp 1366w,/static/dfdafdd8083b561e46152bc742460faa/b2733/sba-card-give.webp 1920w" sizes="100vw"/><img data-gatsby-image-ssr="" data-main-image="" style="opacity:0" sizes="100vw" decoding="async" loading="lazy" src="/static/dfdafdd8083b561e46152bc742460faa/eaab1/sba-card-give.jpg" srcset="/static/dfdafdd8083b561e46152bc742460faa/2d8f4/sba-card-give.jpg 750w,/static/dfdafdd8083b561e46152bc742460faa/c3c54/sba-card-give.jpg 1080w,/static/dfdafdd8083b561e46152bc742460faa/8e389/sba-card-give.jpg 1366w,/static/dfdafdd8083b561e46152bc742460faa/eaab1/sba-card-give.jpg 1920w" alt="A card showing a hand giving another hand a coin then a dove carrying an olive branch."/></picture>
            </noscript>
            <script type="module">
              const t = "undefined" != typeof HTMLImageElement && "loading" in HTMLImageElement.prototype;
              if (t) {
                const t = document.querySelectorAll("img[data-main-image]");
                for (let e of t) {
                  e.dataset.src && (e.setAttribute("src", e.dataset.src), e.removeAttribute("data-src")),
                  e.dataset.srcset && (e.setAttribute("srcset", e.dataset.srcset), e.removeAttribute("data-srcset"));
                  const t = e.parentNode.querySelectorAll("source[data-srcset]");
                  for (let e of t) 
                    e.setAttribute("srcset", e.dataset.srcset),
                    e.removeAttribute("data-srcset");
                  

                  e.complete && (e.style.opacity = 1, e.parentNode.parentNode.querySelector("[data-placeholder-image]").style.opacity = 0)
                }
              }
            </script>
          </div>
        </div>
        <div class="image-quad__container">
          <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper">
            <div aria-hidden="true" style="padding-top:66.09375%"></div>
            <div aria-hidden="true" data-placeholder-image="" style="opacity:1;transition:opacity 500ms linear"></div>
            <picture><source type="image/webp" data-srcset="/static/588fe7d90ce614a4e587b3a907c38b18/3df03/sba-card-ppp.webp 750w,/static/588fe7d90ce614a4e587b3a907c38b18/cd184/sba-card-ppp.webp 1080w,/static/588fe7d90ce614a4e587b3a907c38b18/a7881/sba-card-ppp.webp 1366w,/static/588fe7d90ce614a4e587b3a907c38b18/b2733/sba-card-ppp.webp 1920w" sizes="100vw"/><img data-gatsby-image-ssr="" data-main-image="" style="opacity:0" sizes="100vw" decoding="async" loading="lazy" data-src="/static/588fe7d90ce614a4e587b3a907c38b18/eaab1/sba-card-ppp.jpg" data-srcset="/static/588fe7d90ce614a4e587b3a907c38b18/2d8f4/sba-card-ppp.jpg 750w,/static/588fe7d90ce614a4e587b3a907c38b18/c3c54/sba-card-ppp.jpg 1080w,/static/588fe7d90ce614a4e587b3a907c38b18/8e389/sba-card-ppp.jpg 1366w,/static/588fe7d90ce614a4e587b3a907c38b18/eaab1/sba-card-ppp.jpg 1920w" alt="A card showing a stack of dollar bills and a check mark labeled &#x27;PPP&#x27;."/></picture>
            <noscript>
              <picture><source type="image/webp" srcset="/static/588fe7d90ce614a4e587b3a907c38b18/3df03/sba-card-ppp.webp 750w,/static/588fe7d90ce614a4e587b3a907c38b18/cd184/sba-card-ppp.webp 1080w,/static/588fe7d90ce614a4e587b3a907c38b18/a7881/sba-card-ppp.webp 1366w,/static/588fe7d90ce614a4e587b3a907c38b18/b2733/sba-card-ppp.webp 1920w" sizes="100vw"/><img data-gatsby-image-ssr="" data-main-image="" style="opacity:0" sizes="100vw" decoding="async" loading="lazy" src="/static/588fe7d90ce614a4e587b3a907c38b18/eaab1/sba-card-ppp.jpg" srcset="/static/588fe7d90ce614a4e587b3a907c38b18/2d8f4/sba-card-ppp.jpg 750w,/static/588fe7d90ce614a4e587b3a907c38b18/c3c54/sba-card-ppp.jpg 1080w,/static/588fe7d90ce614a4e587b3a907c38b18/8e389/sba-card-ppp.jpg 1366w,/static/588fe7d90ce614a4e587b3a907c38b18/eaab1/sba-card-ppp.jpg 1920w" alt="A card showing a stack of dollar bills and a check mark labeled &#x27;PPP&#x27;."/></picture>
            </noscript>
            <script type="module">
              const t = "undefined" != typeof HTMLImageElement && "loading" in HTMLImageElement.prototype;
              if (t) {
                const t = document.querySelectorAll("img[data-main-image]");
                for (let e of t) {
                  e.dataset.src && (e.setAttribute("src", e.dataset.src), e.removeAttribute("data-src")),
                  e.dataset.srcset && (e.setAttribute("srcset", e.dataset.srcset), e.removeAttribute("data-srcset"));
                  const t = e.parentNode.querySelectorAll("source[data-srcset]");
                  for (let e of t) 
                    e.setAttribute("srcset", e.dataset.srcset),
                    e.removeAttribute("data-srcset");
                  

                  e.complete && (e.style.opacity = 1, e.parentNode.parentNode.querySelector("[data-placeholder-image]").style.opacity = 0)
                }
              }
            </script>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="undefined-section--columns-10" class="section-container  undefined-section--columns-10 section--columns" style="background-color:transparent;color:black;padding:20px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div class="column-set column-set--layout-single">
        <div class="column-set__column " style="flex-basis:100%">
          <div class="column-content">
            <div class="topic-subhead">
              <p>Social Outreach</p>
            </div>
            <div class="column-content__text">As part of our strategic plan recommendations, we wanted to strengthen the connection between the site and SBA’s social media channels, especially as research has shown that social media and mobile internet-use is prevalent among Spanish-speaking members of the U.S. population. Bixal piloted design strategies for the SBA’s social media channels, which increased awareness and deepened customer engagement.</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="undefined-section--columns-11" class="section-container  undefined-section--columns-11 section--columns" style="background-color:transparent;color:black;padding:20px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div class="column-set column-set--layout-single">
        <div class="column-set__column " style="flex-basis:100%">
          <div class="column-content">
            <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper">
              <div aria-hidden="true" style="padding-top:57.13541666666666%"></div>
              <div aria-hidden="true" data-placeholder-image="" style="opacity:1;transition:opacity 500ms linear"></div>
              <picture><source type="image/webp" data-srcset="/static/6da42237993e9301c61df9a9c5e21524/4c8c9/sba-social-outreach.webp 750w,/static/6da42237993e9301c61df9a9c5e21524/faf10/sba-social-outreach.webp 1080w,/static/6da42237993e9301c61df9a9c5e21524/55813/sba-social-outreach.webp 1366w,/static/6da42237993e9301c61df9a9c5e21524/7b01b/sba-social-outreach.webp 1920w" sizes="100vw"/><img data-gatsby-image-ssr="" data-main-image="" style="opacity:0" sizes="100vw" decoding="async" loading="lazy" data-src="/static/6da42237993e9301c61df9a9c5e21524/0af92/sba-social-outreach.jpg" data-srcset="/static/6da42237993e9301c61df9a9c5e21524/a43ae/sba-social-outreach.jpg 750w,/static/6da42237993e9301c61df9a9c5e21524/ed8db/sba-social-outreach.jpg 1080w,/static/6da42237993e9301c61df9a9c5e21524/c180b/sba-social-outreach.jpg 1366w,/static/6da42237993e9301c61df9a9c5e21524/0af92/sba-social-outreach.jpg 1920w" alt="A mobile phone showing a tweet from @SBAgov&#x27;s twitter account."/></picture>
              <noscript>
                <picture><source type="image/webp" srcset="/static/6da42237993e9301c61df9a9c5e21524/4c8c9/sba-social-outreach.webp 750w,/static/6da42237993e9301c61df9a9c5e21524/faf10/sba-social-outreach.webp 1080w,/static/6da42237993e9301c61df9a9c5e21524/55813/sba-social-outreach.webp 1366w,/static/6da42237993e9301c61df9a9c5e21524/7b01b/sba-social-outreach.webp 1920w" sizes="100vw"/><img data-gatsby-image-ssr="" data-main-image="" style="opacity:0" sizes="100vw" decoding="async" loading="lazy" src="/static/6da42237993e9301c61df9a9c5e21524/0af92/sba-social-outreach.jpg" srcset="/static/6da42237993e9301c61df9a9c5e21524/a43ae/sba-social-outreach.jpg 750w,/static/6da42237993e9301c61df9a9c5e21524/ed8db/sba-social-outreach.jpg 1080w,/static/6da42237993e9301c61df9a9c5e21524/c180b/sba-social-outreach.jpg 1366w,/static/6da42237993e9301c61df9a9c5e21524/0af92/sba-social-outreach.jpg 1920w" alt="A mobile phone showing a tweet from @SBAgov&#x27;s twitter account."/></picture>
              </noscript>
              <script type="module">
                const t = "undefined" != typeof HTMLImageElement && "loading" in HTMLImageElement.prototype;
                if (t) {
                  const t = document.querySelectorAll("img[data-main-image]");
                  for (let e of t) {
                    e.dataset.src && (e.setAttribute("src", e.dataset.src), e.removeAttribute("data-src")),
                    e.dataset.srcset && (e.setAttribute("srcset", e.dataset.srcset), e.removeAttribute("data-srcset"));
                    const t = e.parentNode.querySelectorAll("source[data-srcset]");
                    for (let e of t) 
                      e.setAttribute("srcset", e.dataset.srcset),
                      e.removeAttribute("data-srcset");
                    

                    e.complete && (e.style.opacity = 1, e.parentNode.parentNode.querySelector("[data-placeholder-image]").style.opacity = 0)
                  }
                }
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="undefined-section--columns-12" class="section-container  undefined-section--columns-12 section--columns" style="background-color:transparent;color:black;padding:20px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div class="column-set column-set--layout-single">
        <div class="column-set__column " style="flex-basis:100%">
          <div class="column-content">
            <div class="topic-subhead">
              <p>Data Analytics</p>
            </div>
            <div class="column-content__text">Each month, more than 750,000 customers visit SBA.gov, generating a wealth of data on website behavior—SEO, customer behavior and interactions, and social media performance. By implementing new data collection and analytics tools, Bixal helped the SBA better understand their key audiences and implement data-driven content model and website design solutions. Our support has been instrumental in helping the SBA deliver content; the site featured a 443% increase in site visitors overall and the mobile site increased visitors by 186%.</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="undefined-section--columns-13" class="section-container  undefined-section--columns-13 section--columns" style="background-color:transparent;color:black;padding:20px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div class="column-set column-set--layout-single">
        <div class="column-set__column " style="flex-basis:100%">
          <div class="column-content">
            <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper">
              <div aria-hidden="true" style="padding-top:57.13541666666666%"></div>
              <div aria-hidden="true" data-placeholder-image="" style="opacity:1;transition:opacity 500ms linear"></div>
              <picture><source type="image/webp" data-srcset="/static/248be6a6a7e247fc3e07ff02eb806300/4c8c9/sba-data-analytics.webp 750w,/static/248be6a6a7e247fc3e07ff02eb806300/faf10/sba-data-analytics.webp 1080w,/static/248be6a6a7e247fc3e07ff02eb806300/7effd/sba-data-analytics.webp 1366w,/static/248be6a6a7e247fc3e07ff02eb806300/7b01b/sba-data-analytics.webp 1920w" sizes="100vw"/><img data-gatsby-image-ssr="" data-main-image="" style="opacity:0" sizes="100vw" decoding="async" loading="lazy" data-src="/static/248be6a6a7e247fc3e07ff02eb806300/0af92/sba-data-analytics.jpg" data-srcset="/static/248be6a6a7e247fc3e07ff02eb806300/a43ae/sba-data-analytics.jpg 750w,/static/248be6a6a7e247fc3e07ff02eb806300/ed8db/sba-data-analytics.jpg 1080w,/static/248be6a6a7e247fc3e07ff02eb806300/01983/sba-data-analytics.jpg 1366w,/static/248be6a6a7e247fc3e07ff02eb806300/0af92/sba-data-analytics.jpg 1920w" alt="An analytics report for SBA.GOV."/></picture>
              <noscript>
                <picture><source type="image/webp" srcset="/static/248be6a6a7e247fc3e07ff02eb806300/4c8c9/sba-data-analytics.webp 750w,/static/248be6a6a7e247fc3e07ff02eb806300/faf10/sba-data-analytics.webp 1080w,/static/248be6a6a7e247fc3e07ff02eb806300/7effd/sba-data-analytics.webp 1366w,/static/248be6a6a7e247fc3e07ff02eb806300/7b01b/sba-data-analytics.webp 1920w" sizes="100vw"/><img data-gatsby-image-ssr="" data-main-image="" style="opacity:0" sizes="100vw" decoding="async" loading="lazy" src="/static/248be6a6a7e247fc3e07ff02eb806300/0af92/sba-data-analytics.jpg" srcset="/static/248be6a6a7e247fc3e07ff02eb806300/a43ae/sba-data-analytics.jpg 750w,/static/248be6a6a7e247fc3e07ff02eb806300/ed8db/sba-data-analytics.jpg 1080w,/static/248be6a6a7e247fc3e07ff02eb806300/01983/sba-data-analytics.jpg 1366w,/static/248be6a6a7e247fc3e07ff02eb806300/0af92/sba-data-analytics.jpg 1920w" alt="An analytics report for SBA.GOV."/></picture>
              </noscript>
              <script type="module">
                const t = "undefined" != typeof HTMLImageElement && "loading" in HTMLImageElement.prototype;
                if (t) {
                  const t = document.querySelectorAll("img[data-main-image]");
                  for (let e of t) {
                    e.dataset.src && (e.setAttribute("src", e.dataset.src), e.removeAttribute("data-src")),
                    e.dataset.srcset && (e.setAttribute("srcset", e.dataset.srcset), e.removeAttribute("data-srcset"));
                    const t = e.parentNode.querySelectorAll("source[data-srcset]");
                    for (let e of t) 
                      e.setAttribute("srcset", e.dataset.srcset),
                      e.removeAttribute("data-srcset");
                    

                    e.complete && (e.style.opacity = 1, e.parentNode.parentNode.querySelector("[data-placeholder-image]").style.opacity = 0)
                  }
                }
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="undefined-section--columns-14" class="section-container  undefined-section--columns-14 section--columns" style="background-color:transparent;color:black;padding:20px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div class="column-set column-set--layout-single">
        <div class="column-set__column " style="flex-basis:100%">
          <div class="column-content">
            <div class="topic-subhead">
              <p>Information Architecture</p>
            </div>
            <div class="column-content__text">Bixal created an intuitive information architecture (IA) and customer-friendly navigation structure based on customer research and testing. Through this work, we condensed information in the SBA’s Business Guide (a key content section on the site) from 300+ web pages to 30. By reducing irrelevant content, we were able to reduce clicks in the navigation, making it easier for customers to find the content they need.</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="undefined-section--columns-15" class="section-container  undefined-section--columns-15 section--columns" style="background-color:transparent;color:black;padding:20px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div class="column-set column-set--layout-single">
        <div class="column-set__column " style="flex-basis:100%">
          <div class="column-content">
            <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper">
              <div aria-hidden="true" style="padding-top:57.13541666666666%"></div>
              <div aria-hidden="true" data-placeholder-image="" style="opacity:1;transition:opacity 500ms linear"></div>
              <picture><source type="image/webp" data-srcset="/static/4d54ed23d666ae159c16bc2ff7e5e2e4/4c8c9/sba-content-strategy.webp 750w,/static/4d54ed23d666ae159c16bc2ff7e5e2e4/faf10/sba-content-strategy.webp 1080w,/static/4d54ed23d666ae159c16bc2ff7e5e2e4/7effd/sba-content-strategy.webp 1366w,/static/4d54ed23d666ae159c16bc2ff7e5e2e4/7b01b/sba-content-strategy.webp 1920w" sizes="100vw"/><img data-gatsby-image-ssr="" data-main-image="" style="opacity:0" sizes="100vw" decoding="async" loading="lazy" data-src="/static/4d54ed23d666ae159c16bc2ff7e5e2e4/0af92/sba-content-strategy.jpg" data-srcset="/static/4d54ed23d666ae159c16bc2ff7e5e2e4/a43ae/sba-content-strategy.jpg 750w,/static/4d54ed23d666ae159c16bc2ff7e5e2e4/ed8db/sba-content-strategy.jpg 1080w,/static/4d54ed23d666ae159c16bc2ff7e5e2e4/01983/sba-content-strategy.jpg 1366w,/static/4d54ed23d666ae159c16bc2ff7e5e2e4/0af92/sba-content-strategy.jpg 1920w" alt="Heirarchical sets of content."/></picture>
              <noscript>
                <picture><source type="image/webp" srcset="/static/4d54ed23d666ae159c16bc2ff7e5e2e4/4c8c9/sba-content-strategy.webp 750w,/static/4d54ed23d666ae159c16bc2ff7e5e2e4/faf10/sba-content-strategy.webp 1080w,/static/4d54ed23d666ae159c16bc2ff7e5e2e4/7effd/sba-content-strategy.webp 1366w,/static/4d54ed23d666ae159c16bc2ff7e5e2e4/7b01b/sba-content-strategy.webp 1920w" sizes="100vw"/><img data-gatsby-image-ssr="" data-main-image="" style="opacity:0" sizes="100vw" decoding="async" loading="lazy" src="/static/4d54ed23d666ae159c16bc2ff7e5e2e4/0af92/sba-content-strategy.jpg" srcset="/static/4d54ed23d666ae159c16bc2ff7e5e2e4/a43ae/sba-content-strategy.jpg 750w,/static/4d54ed23d666ae159c16bc2ff7e5e2e4/ed8db/sba-content-strategy.jpg 1080w,/static/4d54ed23d666ae159c16bc2ff7e5e2e4/01983/sba-content-strategy.jpg 1366w,/static/4d54ed23d666ae159c16bc2ff7e5e2e4/0af92/sba-content-strategy.jpg 1920w" alt="Heirarchical sets of content."/></picture>
              </noscript>
              <script type="module">
                const t = "undefined" != typeof HTMLImageElement && "loading" in HTMLImageElement.prototype;
                if (t) {
                  const t = document.querySelectorAll("img[data-main-image]");
                  for (let e of t) {
                    e.dataset.src && (e.setAttribute("src", e.dataset.src), e.removeAttribute("data-src")),
                    e.dataset.srcset && (e.setAttribute("srcset", e.dataset.srcset), e.removeAttribute("data-srcset"));
                    const t = e.parentNode.querySelectorAll("source[data-srcset]");
                    for (let e of t) 
                      e.setAttribute("srcset", e.dataset.srcset),
                      e.removeAttribute("data-srcset");
                    

                    e.complete && (e.style.opacity = 1, e.parentNode.parentNode.querySelector("[data-placeholder-image]").style.opacity = 0)
                  }
                }
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="undefined-section--columns-16" class="section-container  undefined-section--columns-16 section--columns" style="background-color:transparent;color:black;padding:20px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div class="column-set column-set--layout-single">
        <div class="column-set__column " style="flex-basis:100%">
          <div class="column-content">
            <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper">
              <div aria-hidden="true" style="padding-top:57.13541666666666%"></div>
              <div aria-hidden="true" data-placeholder-image="" style="opacity:1;transition:opacity 500ms linear"></div>
              <picture><source type="image/webp" data-srcset="/static/7a19c627ee2745a4535d219d63a5364a/4c8c9/sba-content-strategy-cards.webp 750w,/static/7a19c627ee2745a4535d219d63a5364a/faf10/sba-content-strategy-cards.webp 1080w,/static/7a19c627ee2745a4535d219d63a5364a/7effd/sba-content-strategy-cards.webp 1366w,/static/7a19c627ee2745a4535d219d63a5364a/7b01b/sba-content-strategy-cards.webp 1920w" sizes="100vw"/><img data-gatsby-image-ssr="" data-main-image="" style="opacity:0" sizes="100vw" decoding="async" loading="lazy" data-src="/static/7a19c627ee2745a4535d219d63a5364a/0af92/sba-content-strategy-cards.jpg" data-srcset="/static/7a19c627ee2745a4535d219d63a5364a/a43ae/sba-content-strategy-cards.jpg 750w,/static/7a19c627ee2745a4535d219d63a5364a/ed8db/sba-content-strategy-cards.jpg 1080w,/static/7a19c627ee2745a4535d219d63a5364a/01983/sba-content-strategy-cards.jpg 1366w,/static/7a19c627ee2745a4535d219d63a5364a/0af92/sba-content-strategy-cards.jpg 1920w" alt="Four cards showing key SBA content areas."/></picture>
              <noscript>
                <picture><source type="image/webp" srcset="/static/7a19c627ee2745a4535d219d63a5364a/4c8c9/sba-content-strategy-cards.webp 750w,/static/7a19c627ee2745a4535d219d63a5364a/faf10/sba-content-strategy-cards.webp 1080w,/static/7a19c627ee2745a4535d219d63a5364a/7effd/sba-content-strategy-cards.webp 1366w,/static/7a19c627ee2745a4535d219d63a5364a/7b01b/sba-content-strategy-cards.webp 1920w" sizes="100vw"/><img data-gatsby-image-ssr="" data-main-image="" style="opacity:0" sizes="100vw" decoding="async" loading="lazy" src="/static/7a19c627ee2745a4535d219d63a5364a/0af92/sba-content-strategy-cards.jpg" srcset="/static/7a19c627ee2745a4535d219d63a5364a/a43ae/sba-content-strategy-cards.jpg 750w,/static/7a19c627ee2745a4535d219d63a5364a/ed8db/sba-content-strategy-cards.jpg 1080w,/static/7a19c627ee2745a4535d219d63a5364a/01983/sba-content-strategy-cards.jpg 1366w,/static/7a19c627ee2745a4535d219d63a5364a/0af92/sba-content-strategy-cards.jpg 1920w" alt="Four cards showing key SBA content areas."/></picture>
              </noscript>
              <script type="module">
                const t = "undefined" != typeof HTMLImageElement && "loading" in HTMLImageElement.prototype;
                if (t) {
                  const t = document.querySelectorAll("img[data-main-image]");
                  for (let e of t) {
                    e.dataset.src && (e.setAttribute("src", e.dataset.src), e.removeAttribute("data-src")),
                    e.dataset.srcset && (e.setAttribute("srcset", e.dataset.srcset), e.removeAttribute("data-srcset"));
                    const t = e.parentNode.querySelectorAll("source[data-srcset]");
                    for (let e of t) 
                      e.setAttribute("srcset", e.dataset.srcset),
                      e.removeAttribute("data-srcset");
                    

                    e.complete && (e.style.opacity = 1, e.parentNode.parentNode.querySelector("[data-placeholder-image]").style.opacity = 0)
                  }
                }
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="undefined-section--columns-17" class="section-container  undefined-section--columns-17 section--columns" style="background-color:transparent;color:black;padding:20px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div class="column-set column-set--layout-single">
        <div class="column-set__column " style="flex-basis:100%">
          <div class="column-content">
            <div class="heading heading--underlined">
              <h2 class="heading__content">Delivering the Solution</h2>
              <div class="heading__line" style="background-color:#E02F00"></div>
            </div>
            <div class="column-content__text">In addition to building a more human-centered web experience, including a Spanish-language site, we provide full-time web support to address ongoing needs.</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="undefined-section--columns-18" class="section-container  undefined-section--columns-18 section--columns" style="background-color:transparent;color:black;padding:20px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div class="column-set column-set--layout-multiple">
        <div class="column-set__column " style="flex-basis:33%">
          <div class="column-content">
            <div class="column-content__icon">
              <div class="icon-container"><img src="/static/ad9ad0766181f2820b4aee9027205bec/sba-tech.svg" alt="sba-tech"/></div>
            </div>
            <div class="heading heading--underlined">
              <h2 class="heading__content">Technology</h2>
              <div class="heading__line" style="background-color:#E02F00"></div>
            </div>
            <div class="column-content__text">Bixal migrated over 3,000 pages of web content from Drupal 7 to Drupal 8. We used analytics tools to better understand SBA’s key audience and measure success, and we dramatically expanded the SBA’s ability to implement a data-backed content strategy.</div>
          </div>
        </div>
        <div class="column-set__column " style="flex-basis:33%">
          <div class="column-content">
            <div class="column-content__icon">
              <div class="icon-container"><img src="/static/5fe8709128f7a1968b141952218d955a/sba-response.svg" alt="sba-response"/></div>
            </div>
            <div class="heading heading--underlined">
              <h2 class="heading__content">Methodology</h2>
              <div class="heading__line" style="background-color:#E02F00"></div>
            </div>
            <div class="column-content__text">Using Agile development methodologies to manage the
              <span class="sc-bcXHqe cRdFuA">
                <a class="decorative-link" rel="noreferrer" target="_blank" href="https://www.sba.gov/">SBA.gov</a>
              </span>
              project allowed our team to make continuous improvements to the site and to easily adapt to change. It also helped create a streamlined process for content design and creation. The iterative process allowed the team to rapidly meet short-term goals while working toward long-term objectives.</div>
          </div>
        </div>
        <div class="column-set__column " style="flex-basis:33%">
          <div class="column-content">
            <div class="column-content__icon">
              <div class="icon-container"><img src="/static/dc9c345e4d09a0308f4cc6cfc58933b3/sba-support.svg" alt="sba-support"/></div>
            </div>
            <div class="heading heading--underlined">
              <h2 class="heading__content">Customer Support</h2>
              <div class="heading__line" style="background-color:#E02F00"></div>
            </div>
            <div class="column-content__text">SBA’s help desk is a key touchpoint for internal and external audiences and complements the site’s main services. Bixal manages both the help desk and SBA’s customer support line with professional acumen, well-defined processes, and exceptional communication skills to respond rapidly and represent the SBA’s brand.</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="undefined-section--columns-19" class="section-container  undefined-section--columns-19 section--columns" style="background-color:transparent;color:black;padding:20px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div class="column-set column-set--layout-single">
        <div class="column-set__column " style="flex-basis:100%">
          <div class="column-content">
            <div class="heading heading--underlined">
              <h2 class="heading__content">Unexpected Challenge</h2>
              <div class="heading__line" style="background-color:#E02F00"></div>
            </div>
            <div class="column-content__text">In the spring of 2020, the eyes of the country were on the Small Business Administration. SBA.gov was not prepared for the impact COVID-19 would have on small businesses. When people started flooding the site, it became apparent that vital information—especially regarding emergency loans and debt relief—was difficult to find.</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="undefined-section--columns-20" class="section-container  undefined-section--columns-20 section--columns" style="background-color:transparent;color:black;padding:20px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div class="column-set column-set--layout-multiple">
        <div class="column-set__column " style="flex-basis:50%">
          <div class="column-content">
            <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper">
              <div aria-hidden="true" style="padding-top:56.313497822931794%"></div>
              <div aria-hidden="true" data-placeholder-image="" style="opacity:1;transition:opacity 500ms linear"></div>
              <picture><source type="image/webp" data-srcset="/static/720cbbfb6e0bc278acca7e4648808922/a66aa/sba-iconography-phone.webp 750w,/static/720cbbfb6e0bc278acca7e4648808922/65dd5/sba-iconography-phone.webp 1080w,/static/720cbbfb6e0bc278acca7e4648808922/f9724/sba-iconography-phone.webp 1366w,/static/720cbbfb6e0bc278acca7e4648808922/06bad/sba-iconography-phone.webp 1378w" sizes="100vw"/><img data-gatsby-image-ssr="" data-main-image="" style="opacity:0" sizes="100vw" decoding="async" loading="lazy" data-src="/static/720cbbfb6e0bc278acca7e4648808922/676af/sba-iconography-phone.jpg" data-srcset="/static/720cbbfb6e0bc278acca7e4648808922/37bba/sba-iconography-phone.jpg 750w,/static/720cbbfb6e0bc278acca7e4648808922/61c72/sba-iconography-phone.jpg 1080w,/static/720cbbfb6e0bc278acca7e4648808922/80105/sba-iconography-phone.jpg 1366w,/static/720cbbfb6e0bc278acca7e4648808922/676af/sba-iconography-phone.jpg 1378w" alt="A woman wearing a protective face mask working at a laptop."/></picture>
              <noscript>
                <picture><source type="image/webp" srcset="/static/720cbbfb6e0bc278acca7e4648808922/a66aa/sba-iconography-phone.webp 750w,/static/720cbbfb6e0bc278acca7e4648808922/65dd5/sba-iconography-phone.webp 1080w,/static/720cbbfb6e0bc278acca7e4648808922/f9724/sba-iconography-phone.webp 1366w,/static/720cbbfb6e0bc278acca7e4648808922/06bad/sba-iconography-phone.webp 1378w" sizes="100vw"/><img data-gatsby-image-ssr="" data-main-image="" style="opacity:0" sizes="100vw" decoding="async" loading="lazy" src="/static/720cbbfb6e0bc278acca7e4648808922/676af/sba-iconography-phone.jpg" srcset="/static/720cbbfb6e0bc278acca7e4648808922/37bba/sba-iconography-phone.jpg 750w,/static/720cbbfb6e0bc278acca7e4648808922/61c72/sba-iconography-phone.jpg 1080w,/static/720cbbfb6e0bc278acca7e4648808922/80105/sba-iconography-phone.jpg 1366w,/static/720cbbfb6e0bc278acca7e4648808922/676af/sba-iconography-phone.jpg 1378w" alt="A woman wearing a protective face mask working at a laptop."/></picture>
              </noscript>
              <script type="module">
                const t = "undefined" != typeof HTMLImageElement && "loading" in HTMLImageElement.prototype;
                if (t) {
                  const t = document.querySelectorAll("img[data-main-image]");
                  for (let e of t) {
                    e.dataset.src && (e.setAttribute("src", e.dataset.src), e.removeAttribute("data-src")),
                    e.dataset.srcset && (e.setAttribute("srcset", e.dataset.srcset), e.removeAttribute("data-srcset"));
                    const t = e.parentNode.querySelectorAll("source[data-srcset]");
                    for (let e of t) 
                      e.setAttribute("srcset", e.dataset.srcset),
                      e.removeAttribute("data-srcset");
                    

                    e.complete && (e.style.opacity = 1, e.parentNode.parentNode.querySelector("[data-placeholder-image]").style.opacity = 0)
                  }
                }
              </script>
            </div>
          </div>
        </div>
        <div class="column-set__column " style="flex-basis:50%">
          <div class="column-content">
            <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper">
              <div aria-hidden="true" style="padding-top:56.313497822931794%"></div>
              <div aria-hidden="true" data-placeholder-image="" style="opacity:1;transition:opacity 500ms linear"></div>
              <picture><source type="image/webp" data-srcset="/static/f82f1a3de03311dadb24aa4665ed0dda/a66aa/sba-user-personas-mask.webp 750w,/static/f82f1a3de03311dadb24aa4665ed0dda/65dd5/sba-user-personas-mask.webp 1080w,/static/f82f1a3de03311dadb24aa4665ed0dda/f9724/sba-user-personas-mask.webp 1366w,/static/f82f1a3de03311dadb24aa4665ed0dda/06bad/sba-user-personas-mask.webp 1378w" sizes="100vw"/><img data-gatsby-image-ssr="" data-main-image="" style="opacity:0" sizes="100vw" decoding="async" loading="lazy" data-src="/static/f82f1a3de03311dadb24aa4665ed0dda/676af/sba-user-personas-mask.jpg" data-srcset="/static/f82f1a3de03311dadb24aa4665ed0dda/37bba/sba-user-personas-mask.jpg 750w,/static/f82f1a3de03311dadb24aa4665ed0dda/61c72/sba-user-personas-mask.jpg 1080w,/static/f82f1a3de03311dadb24aa4665ed0dda/80105/sba-user-personas-mask.jpg 1366w,/static/f82f1a3de03311dadb24aa4665ed0dda/676af/sba-user-personas-mask.jpg 1378w" alt="A phone app showing a shopping cart next to the words: STAY HOME, WE DELIVER."/></picture>
              <noscript>
                <picture><source type="image/webp" srcset="/static/f82f1a3de03311dadb24aa4665ed0dda/a66aa/sba-user-personas-mask.webp 750w,/static/f82f1a3de03311dadb24aa4665ed0dda/65dd5/sba-user-personas-mask.webp 1080w,/static/f82f1a3de03311dadb24aa4665ed0dda/f9724/sba-user-personas-mask.webp 1366w,/static/f82f1a3de03311dadb24aa4665ed0dda/06bad/sba-user-personas-mask.webp 1378w" sizes="100vw"/><img data-gatsby-image-ssr="" data-main-image="" style="opacity:0" sizes="100vw" decoding="async" loading="lazy" src="/static/f82f1a3de03311dadb24aa4665ed0dda/676af/sba-user-personas-mask.jpg" srcset="/static/f82f1a3de03311dadb24aa4665ed0dda/37bba/sba-user-personas-mask.jpg 750w,/static/f82f1a3de03311dadb24aa4665ed0dda/61c72/sba-user-personas-mask.jpg 1080w,/static/f82f1a3de03311dadb24aa4665ed0dda/80105/sba-user-personas-mask.jpg 1366w,/static/f82f1a3de03311dadb24aa4665ed0dda/676af/sba-user-personas-mask.jpg 1378w" alt="A phone app showing a shopping cart next to the words: STAY HOME, WE DELIVER."/></picture>
              </noscript>
              <script type="module">
                const t = "undefined" != typeof HTMLImageElement && "loading" in HTMLImageElement.prototype;
                if (t) {
                  const t = document.querySelectorAll("img[data-main-image]");
                  for (let e of t) {
                    e.dataset.src && (e.setAttribute("src", e.dataset.src), e.removeAttribute("data-src")),
                    e.dataset.srcset && (e.setAttribute("srcset", e.dataset.srcset), e.removeAttribute("data-srcset"));
                    const t = e.parentNode.querySelectorAll("source[data-srcset]");
                    for (let e of t) 
                      e.setAttribute("srcset", e.dataset.srcset),
                      e.removeAttribute("data-srcset");
                    

                    e.complete && (e.style.opacity = 1, e.parentNode.parentNode.querySelector("[data-placeholder-image]").style.opacity = 0)
                  }
                }
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="undefined-section--columns-21" class="section-container  undefined-section--columns-21 section--columns" style="background-color:transparent;color:black;padding:20px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div class="column-set column-set--layout-single">
        <div class="column-set__column " style="flex-basis:100%">
          <div class="column-content">
            <div class="topic-subhead">
              <p>Rapid Response</p>
            </div>
            <div class="column-content__text">Within a few hours, our team had developed an IA plan and added original content to the site to inform business owners about coronavirus relief funding, providing a lifeline to businesses struggling through economic uncertainty. We also pivoted our workflow to make necessary updates to the live site, as requests were handed down from the administration.</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="undefined-section--columns-22" class="section-container  undefined-section--columns-22 section--columns" style="background-color:transparent;color:black;padding:20px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div class="column-set column-set--layout-single">
        <div class="column-set__column " style="flex-basis:100%">
          <div class="column-content">
            <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper">
              <div aria-hidden="true" style="padding-top:74.11458333333333%"></div>
              <div aria-hidden="true" data-placeholder-image="" style="opacity:1;transition:opacity 500ms linear"></div>
              <picture><source type="image/webp" data-srcset="/static/e6274ed731191a0ab47decc26bcf4b7b/691bc/sba-outcome.webp 750w,/static/e6274ed731191a0ab47decc26bcf4b7b/73638/sba-outcome.webp 1080w,/static/e6274ed731191a0ab47decc26bcf4b7b/dd70a/sba-outcome.webp 1366w,/static/e6274ed731191a0ab47decc26bcf4b7b/1fe27/sba-outcome.webp 1920w" sizes="100vw"/><img data-gatsby-image-ssr="" data-main-image="" style="opacity:0" sizes="100vw" decoding="async" loading="lazy" data-src="/static/e6274ed731191a0ab47decc26bcf4b7b/911d4/sba-outcome.jpg" data-srcset="/static/e6274ed731191a0ab47decc26bcf4b7b/230b3/sba-outcome.jpg 750w,/static/e6274ed731191a0ab47decc26bcf4b7b/39fa0/sba-outcome.jpg 1080w,/static/e6274ed731191a0ab47decc26bcf4b7b/68da5/sba-outcome.jpg 1366w,/static/e6274ed731191a0ab47decc26bcf4b7b/911d4/sba-outcome.jpg 1920w" alt="A laptop showing an SBA website about Coronavirus Relief Options."/></picture>
              <noscript>
                <picture><source type="image/webp" srcset="/static/e6274ed731191a0ab47decc26bcf4b7b/691bc/sba-outcome.webp 750w,/static/e6274ed731191a0ab47decc26bcf4b7b/73638/sba-outcome.webp 1080w,/static/e6274ed731191a0ab47decc26bcf4b7b/dd70a/sba-outcome.webp 1366w,/static/e6274ed731191a0ab47decc26bcf4b7b/1fe27/sba-outcome.webp 1920w" sizes="100vw"/><img data-gatsby-image-ssr="" data-main-image="" style="opacity:0" sizes="100vw" decoding="async" loading="lazy" src="/static/e6274ed731191a0ab47decc26bcf4b7b/911d4/sba-outcome.jpg" srcset="/static/e6274ed731191a0ab47decc26bcf4b7b/230b3/sba-outcome.jpg 750w,/static/e6274ed731191a0ab47decc26bcf4b7b/39fa0/sba-outcome.jpg 1080w,/static/e6274ed731191a0ab47decc26bcf4b7b/68da5/sba-outcome.jpg 1366w,/static/e6274ed731191a0ab47decc26bcf4b7b/911d4/sba-outcome.jpg 1920w" alt="A laptop showing an SBA website about Coronavirus Relief Options."/></picture>
              </noscript>
              <script type="module">
                const t = "undefined" != typeof HTMLImageElement && "loading" in HTMLImageElement.prototype;
                if (t) {
                  const t = document.querySelectorAll("img[data-main-image]");
                  for (let e of t) {
                    e.dataset.src && (e.setAttribute("src", e.dataset.src), e.removeAttribute("data-src")),
                    e.dataset.srcset && (e.setAttribute("srcset", e.dataset.srcset), e.removeAttribute("data-srcset"));
                    const t = e.parentNode.querySelectorAll("source[data-srcset]");
                    for (let e of t) 
                      e.setAttribute("srcset", e.dataset.srcset),
                      e.removeAttribute("data-srcset");
                    

                    e.complete && (e.style.opacity = 1, e.parentNode.parentNode.querySelector("[data-placeholder-image]").style.opacity = 0)
                  }
                }
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="sba-section--callout-23" class="section-container  sba-section--callout-23 section--callout" style="background-color:transparent;color:black;padding:20px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div class="callout" style="background-color:#172d6a;color:#fff">
        <div class="heading heading--underlined">
          <h2 class="heading__content">The Outcome</h2>
          <div class="heading__line" style="background-color:#E02F00"></div>
        </div>
        <div class="callout__text">In the first six months of 2020, the site experienced an 801% increase in visitors, compared with the previous year. Bixal helped the Small Business Administration quickly connect these customers with counseling, resources, and financial assistance to navigate the effects of the pandemic, while delivering SBA.gov resources to customers in 18 different languages.</div>
      </div>
    </div>
  </section>
  <section id="sba-section--emphasis-blocks-24" class="section-container  sba-section--emphasis-blocks-24 section--emphasis-blocks" style="background-color:transparent;color:black;padding:20px 0">
    <div style="margin:0 auto;width:85%;max-width:1350px">
      <div class="emphasis-block-set">
        <div class="emphasis-block-set__row"></div>
        <div class="emphasis-block-set__row">
          <div class="emphasis-block" style="flex-basis:50%">
            <div class="topic-subhead">
              <p>Highlight</p>
            </div>
            <div class="heading">
              <h2 class="heading__content">1.4 million</h2>
            </div>
            <div class="emphasis-block__text">The average number of daily visitors Bixal helped SBA.gov reach in April 2020.</div>
          </div>
          <div class="emphasis-block" style="flex-basis:50%">
            <div class="topic-subhead">
              <p>Highlight</p>
            </div>
            <div class="heading">
              <h2 class="heading__content">A+</h2>
            </div>
            <div class="emphasis-block__text">Grade Bixal helped SBA.gov earn for “organizational compliance” from the Center for Plain Language.</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div></div><div id="gatsby-announcer" style="position:absolute;top:0;width:1px;height:1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);white-space:nowrap;border:0" aria-live="assertive" aria-atomic="true"></div></div><script id="gatsby-script-loader">/*<![CDATA[*/
window.pagePath = "/our-work/sba/";
window.___webpackCompilationHash = "a06665383b741f3aa4c1"; /*]]>*/</script><script id="gatsby-chunk-mapping">/*<![CDATA[*/
window.___chunkMapping = {
  "polyfill": ["/polyfill-71426064197f37fd8168.js"],
  "app": ["/app-071ed289116e4fb5f844.js"],
  "component---src-pages-404-js": ["/component---src-pages-404-js-a8c7736d17a9ce5ac13e.js"],
  "component---src-pages-about-index-js": ["/component---src-pages-about-index-js-eb5b5a7b8dfc00440d2c.js"],
  "component---src-pages-blog-index-js": ["/component---src-pages-blog-index-js-da2e906add700328850f.js"],
  "component---src-pages-careers-index-js": ["/component---src-pages-careers-index-js-1191e82cbdda01d1ab81.js"],
  "component---src-pages-contract-vehicles-index-js": ["/component---src-pages-contract-vehicles-index-js-df326cfb740f55247217.js"],
  "component---src-pages-deia-js": ["/component---src-pages-deia-js-c566f96c737ecbf10f83.js"],
  "component---src-pages-holiday-2023-index-js": ["/component---src-pages-holiday-2023-index-js-da0b4948883202b4a7be.js"],
  "component---src-pages-index-js": ["/component---src-pages-index-js-4cabdec5322fad838e11.js"],
  "component---src-pages-markdown-remark-frontmatter-slug-jsx": ["/component---src-pages-markdown-remark-frontmatter-slug-jsx-8f39af43a26f3c2d2f09.js"],
  "component---src-pages-our-work-index-js": ["/component---src-pages-our-work-index-js-8176aee2358070a65e0e.js"],
  "component---src-pages-privacy-js": ["/component---src-pages-privacy-js-d4b8e6b1c91cc23e20c9.js"],
  "component---src-templates-case-study-js": ["/component---src-templates-case-study-js-396d1165e284b02e7744.js"],
  "component---src-templates-case-study-legacy-js": ["/component---src-templates-case-study-legacy-js-10f25bf639c48d445884.js"],
  "component---src-templates-contract-vehicle-js": ["/component---src-templates-contract-vehicle-js-15edda6738d7d2186450.js"],
  "component---src-templates-person-profile-js": ["/component---src-templates-person-profile-js-39578bc98c790a199d6c.js"]
}; /*]]>*/</script><script src="/polyfill-71426064197f37fd8168.js" nomodule=""></script><script src="/app-071ed289116e4fb5f844.js" async=""></script><script src="/framework-261b3c8cc3bd8dfe6dfa.js" async=""></script><script src="/webpack-runtime-f4b601a5b1ec8ea50b55.js" async=""></script></body></html>
