<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>

<div
  class="bix-piped-title"
  style="
    border-left-color: rgb(5, 197, 187);
    border-right-color: rgb(5, 197, 187);
  "
>
  Piped title
</div>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure id dolore illum
  repellat corrupti saepe <a href="javascript:void(0)">pariatur ducimus</a> unde. Voluptas, perferendis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor nobis ipsam aperiam inventore nemo esse ad omnis corrupti reiciendis illo maiores expedita minima soluta similique quas et, explicabo repellendus eaque suscipit veniam est. Suscipit totam quia deserunt amet reiciendis perspiciatis quisquam nisi ipsum, voluptatem cupiditate. Veniam doloremque eius nulla est!
</p>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi distinctio ex reiciendis vero iusto? Voluptate ullam est, quaerat dolorum dolores ducimus? Alias numquam exercitationem excepturi quis earum vitae pariatur atque reprehenderit iusto dolor aperiam sunt, itaque eos vel quam cumque nobis corporis fugit dolorum fugiat. Labore unde similique architecto sint.
</p>

<p>List available here: https://www.bixal.com/contract-vehicles/</p>
<ul>
  <li>Unordered item 1</li>
  <li>Unordered item 2</li>
  <li>
    Unordered item 3
    <ul>
      <li>Nested item 1</li>
      <li>Nested item 2</li>
      <li></li>
      <li>Nested item 3</li>
    </ul>
  </li>
  <li>Unordered item 4</li>
  <li>Unordered item 5</li>
  <li>Unordered item 6</li>
</ul>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
  exercitationem iure id quod, molestias sit placeat quisquam. Excepturi
  doloremque cum veritatis dolore tempora. In, reiciendis!
</p>
<ol>
  <li>Ordered item 1</li>
  <li>Ordered item 2</li>
  <li>Ordered item 3</li>
  <li>
    Ordered item 4
    <ol>
      <li>Nested item 1</li>
      <li>Nested item 2</li>
      <li>Nested item 3</li>
    </ol>
  </li>
  <li>Ordered item 5</li>
  <li>Ordered item 6</li>
</ol>
<h3>Multi-column list</h3>
<ul class="bix-list bix-list--thirds">
  <li>Competitive base salary</li>
  <li>Flex hours / telework options</li>
  <li>Generous PTO</li>
  <li>10 paid holidays</li>
  <li>Medical/Dental/Vision Insurance</li>
  <li>New business referral bonus</li>
  <li>Professional development incentives</li>
  <li>WMATA commuter benefits program</li>
  <li>Company provided Short-Term Disability</li>
  <li>Company provided Life Insurance</li>
  <li>401k with employer match</li>
</ul>

<h3>Description list</h3>
{% include "components/description-list/description-list.html.twig" %}
