// Include core in order to use USWDS mixins etc...
@use "uswds-core" as *;

// Removes any transition when the user has set their OS settings to prefer
// reduced motion.
@media screen and (prefers-reduced-motion: reduce), (update: slow) {
  * {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}

// Override local task tabs for mobile.
.tabs--primary .tabs__tab {
  @media (max-width: 43.75rem) {
    display: block;
  }
}

//Missing tabs for d10 update
.tabs.tabs--primary {
  .tabs__link {
    @include u-bg("gray-warm-5");
    @include u-border("1px", "solid", "gray-warm-10");
    color: #666;
    @include u-display("block");
    @include u-font-weight("bold");
    font-size: 15px;
    @include u-padding-x(2);
    @include u-padding-y(1);
    @include u-text-align("center");
    text-decoration: none;
    transition: color 0.3s;
    &:hover {
      background-color: #e5e5e5;
      text-decoration: underline;
    }
    &.is-active {
      background-color: color("gray-50");
      @include u-border("1px", "solid", "gray-50");
      color: color("white");
    }
  }
}

// Status messages
.drupal-status-messages {
  margin-block: units(2);
}
