# Build scripts
orch/

# Copied files
web/themes/custom/bixal_uswds/src/sass/storybook-sass/**
web/themes/custom/bixal_uswds/src/js/storybook-js/**

# Drupal files
web/libraries/**
web/modules/contrib/**
web/themes/contrib/**
web/core/**
web/sites/default/files/**

# Vendor files
web/modules/custom/cookies_microsoft_clarity/js/cookies_microsoft_clarity.js

# Node
node_modules/**
