<section id="contact" class="bix-contact bix-section bix-section--primary">
  <div class="bix-container">
    <div class="contact__content">
      <div
        class="section-overview section-overview--white-text contact__overview"
      >
        <div class="bix-piped-title">Contact</div>
        <div style="max-width: 100%" class="section-overview__text">
          <h2>
            How can we help?<br />
            We'd love to hear from you.
          </h2>
        </div>
        <div class="section-overview__decoration-divider"></div>
      </div>
      <div class="email-form__container">
        <form data-test-id="email-contact-form" id="emailContactForm">
          <div class="email-form__controls">
            <div data-test-id="first-name">
              <input
                type="text"
                required=""
                aria-label="first name"
                class="bixal-input"
                placeholder="FIRST NAME *"
                name="first_name"
                value=""
              />
            </div>
            <div data-test-id="last-name">
              <input
                type="text"
                required=""
                aria-label="last name"
                class="bixal-input"
                placeholder="LAST NAME *"
                name="last_name"
                value=""
              />
            </div>
            <div data-test-id="email">
              <input
                type="text"
                required=""
                aria-label="email"
                class="bixal-input"
                placeholder="EMAIL *"
                name="email"
                value=""
              />
            </div>
            <div data-test-id="company">
              <input
                type="text"
                aria-label="company"
                class="bixal-input"
                placeholder="COMPANY"
                name="company"
                value=""
              />
            </div>
            <div
              data-test-id="email-form-text-area"
              class="email-form__control email-form__control--textarea"
            >
              <textarea
                required=""
                aria-label="message"
                class="bixal-input"
                type="text"
                placeholder="WANT TO FIND OUT MORE OR INTERESTED IN DOING BUSINESS WITH US? TYPE MESSAGE HERE... *"
                name="message"
              ></textarea>
            </div>
            <div class="email-form__control">
              {% include "components/button/button.html.twig" with {
                modifier: "bix-button--inverse",
                label: "Submit",
                type: "submit",
                has_icon: "true"
              } %}
            </div>
          </div>
          <div></div>
        </form>
      </div>
    </div>
  </div>
</section>
