@use "uswds-core" as *;

/// Heading Border Mixin
//
/// A mixin that adds a fluid bottom border to headings. See `global.scss` for available color variables
///
/// @param {String} $border-color [accent-cool-alt] - The border color set from global color variables. Defaults to `accent-cool-alt`.
/// @param {Unit} $margin-top [4] - The border's top margin, uses USWDS units.
///
/// @example
/// Adds a default bottom border to all H1 elements
/// h1 {
///   @include heading-border();
/// }
///
/// Overrides the default border color
/// h2 {
///   @include heading-border("primary");
/// }
///
///
/// Override border margin
/// h3 {
///   @include heading-border($margin-top: "05");
/// }
@mixin heading-border($border-color: "accent-cool-alt", $margin-top: 4) {
  &::after {
    border-bottom: 2px solid var(--c-#{$border-color});
    content: "";
    display: block;
    margin-top: units($margin-top);

    // Using clamp to avoid width override hacks.
    // Minimum width, ideal, and maximum allowed.
    width: clamp(px-to-rem(80px), px-to-rem(180px), 40%);
  }
}
