{#
/**
  * Example
  *
  * A sample component for reuse.
  *
  * Available variables:
  * - title: String description.
**/
#}

<div class="bix-example">
  <h1 class="bix-example__title">
    {{ title | default("Hello world") }}
  </h1>
</div>
