{#
/**
  * Social nav component.
  *
  * Available variables:
  * - variant: String for component variant.
  * - items: Array of social nav objects.
  *   - href: Link to social network.
  *   - label: Social network label used for link title.
  *   - icon_path: Optional path to assets directory.
  *                Uses label and icons directory as fallback.
**/
#}

{% set variant_class = variant ? "bix-social-nav--" ~ variant | default("") %}

<nav class="bix-social-nav {{ variant_class }}" aria-label="Social navigation">
  <ul class="bix-social-nav__items">
    {% for item in items %}

      {% if not icon_path %}
        {% set icon_path_fallback = "icons/" ~ item.label ~ ".svg" | lower %}
      {% endif %}

      <li class="bix-social-nav__item">
        <a
          href="{{ item.href }}"
          class="bix-social-nav__link"
          target="_blank"
          title="{{ item.label }}"
          rel="noopener noreferrer">
          <!-- @TODO: Create an SVG component that embeds SVG markup and can take params like: height, width, aria-hidden. -->
          <span aria-hidden="true">
            {{ source(icon_path | default(icon_path_fallback)) }}
          </span>
        </a>
      </li>
    {% endfor %}
</ul>
</nav>
