<nav class="bix-social-nav" aria-label="Social navigation">
  <ul class="bix-social-nav__items">
    <li class="bix-social-nav__item">
      <a href="https://www.facebook.com/bixal" class="bix-social-nav__link"
        target="_blank" rel="noopener noreferrer">
        <img
          src="https://bixal.com/static/9371b79d77e7a6c3938b51e9d400a9db/facebook.svg"
          height="36px"
          width="36px"
          alt="facebook logo">
      </a>
    </li>
    <li class="bix-social-nav__item">
      <a href="https://www.twitter.com/bixal" class="bix-social-nav__link"
        target="_blank" rel="noopener noreferrer">
        <img src="https://bixal.com/static/bdf23103b83b05a128d129fc797fe201/twitter.svg"
        height="36px"
        width="36px" alt="twitter logo">
      </a>
    </li>
    <li class="bix-social-nav__item">
      <a href="https://www.linkedIn.com/company/bixal" class="bix-social-nav__link"
        target="_blank" rel="noopener noreferrer">
        <img src="https://bixal.com/static/45d1bb1b8ac9ab4b39726b1376923f54/linkedIn.svg"
        height="36px"
        width="36px"
        alt="linkedIn logo">
      </a>
    </li>
    <li class="bix-social-nav__item">
      <a
        href="https://medium.com/bixal"
        class="bix-social-nav__link"
        target="_blank"
        rel="noopener noreferrer">
        <img src="https://bixal.com/static/671f48097fe47205d89419717964ad8c/medium.svg"
        height="36px"
        width="36px"
        alt="medium logo">
      </a>
    </li>
</ul>
</nav>
