@use "uswds-core" as *;

.bix-profile {
  @include at-media("desktop") {
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: units(5);
  }

  &__main,
  &__aside {
    padding-top: units(5);
    padding-bottom: units(5);
  }

  &__intro {
    @include at-media("tablet") {
      display: flex;
      flex-flow: row nowrap;
      column-gap: units(4);
    }
  }

  &__intro .bix-profile__heading {
    font-size: px-to-rem(40px);
    margin-top: 0;

    &::after {
      content: none;
    }
  }

  &__aside {
    background-color: color("gray-4");
    padding-left: units(10);
    padding-right: units(10);
  }

  &__heading {
    font-size: px-to-rem(25px);
    letter-spacing: -0.35px;
    margin-top: units(5);
    margin-bottom: units(2);
  }

  &__heading::after {
    border-bottom-color: var(--c-accent-warm);
    content: "";
    display: block;
    height: 2px;
    margin-top: units(2);
    width: px-to-rem(200px);
  }

  &__role {
    font-weight: 700;
    font-size: size("ui", "lg");
    line-height: 1;

    &:after {
      content: "";
      display: block;
      border-bottom: 1px solid var(--c-accent-warm);
      padding-top: units(3);
      width: px-to-rem(200px);
    }
  }
}
