<!-- @TODO Allow component to take data. -->
<div class="bix-profile">
  <div class="bix-profile__main">
    <div class="bix-profile__main-container">
      <div class="bix-profile__intro">
        <div class="bix-profile__image">
          <img src="https://www.bixal.com/static/ac0c71983b8cf0d4955a0729c7a8ba71/ad0d6/amie-nisler.webp" alt="">
        </div>
        <div class="bix-profile__description">
          <h1 class="bix-profile__heading">Amie Nisler</h1>
          <div class="bix-profile__job-description">
            <div class="bix-profile__role">
              Senior Communications Strategist
            </div>
          </div>
          <!-- @TODO: Use social nav component. -->
          <div class="social-nav">
            <ul class="social-nav__list">
              <li class="social-nav__item">
                <a
                  href="https://www.linkedin.com/in/amienisler/"
                  class="social-nav__link"
                  target="_blank"
                  rel="noopener noreferrer"
                  title="LinkedIn"
                  >
                  <img
                    src="https://bixal.com/static/45d1bb1b8ac9ab4b39726b1376923f54/linkedIn.svg"
                    height="24"
                    alt="linkedIn logo"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bix-profile__aside">
    <div class="bix-profile__interests">
      <div class="bix-profile__specialties">
        <h2 class="bix-profile__heading">Specialties</h2>
        <ul>
          <li>Behavioral Science</li>
          <li>Data Systems</li>
          <li>Emergency and Risk Communications</li>
          <li>Health Communications</li>
          <li>Plain Language</li>
        </ul>
      </div>
      <div class="bix-profile__bucket-list">
        <h2 class="bix-profile__heading">Bucket List</h2>
        <p>To attend a World Cup final game.</p>
      </div>
    </div>
  </div>
</div>
