@use "uswds-core" as *;

.bix-project-metadata {
  @include at-media("tablet") {
    display: flex;
    flex-flow: row nowrap;
    column-gap: units(3);
    align-items: stretch;
  }

  > * {
    background-color: var(--c-base);
    padding: units("105") units(1);

    @include at-media("tablet") {
      flex: 1 1 50%;
    }
  }
}

.bix-case-study__subsection {
  margin-block-start: units(10);

  h2 ~ h2 {
    margin-block-start: units(10);
  }
}

.bix-highlights {
  --highlight-color: var(--c-primary);

  margin-block-start: units(8);
  font-size: 1rem;

  svg {
    @include u-circle(10);
    background-color: var(--highlight-color);
    color: white;
    padding: 1rem;
  }

  h3 {
    // font-size: font-size("body", "lg");
    // margin-block-start: units(1);
  }

  p {
    text-wrap: pretty;
  }
}
