{% extends "@pages/base/base.html.twig" %}

{% block content %}
  {% embed "@components/section/section.html.twig" %}
    {% set body %}

      <div class="bix-case-study__overview">
        <dl>
          <dt>United States Agency for International Development (USAID)</dt>
          <dd>Digital APEX Colombia</dd>
          <dd><a href="https://www.usaid.gov/colombia">https://www.usaid.gov/colombia</a></dd>
        </dl>

        <dl>
          <dt>Services</dt>
          <dd>Cybersecurity Training</dd>
          <dd>Virtual Instructor-led Training</dd>
          <dd>Capacity Building</dd>
          <dd>Instructional Design</dd>
          <dd>Accessibility/508 Compliance</dd>
          <dd>Bilingual English-Spanish Training Delivery</dd>
          <dd>Communications</dd>
          <dd>Marketing</dd>
          <dd>Cybersecurity Risk Assessments</dd>
          <dd>Agile Project Management</dd>
        </dl>
      </div>
    {% endset %}
  {% endembed %}

  {% embed "@components/section/section.html.twig" %}

    {% set body %}
      <h2>Challenge</h2>
      <p>
        The increased use of technology, mobile phones and digital systems means USAID/Colombia’s IPs face a wide range of vulnerabilities, such as phishing attacks, account impersonation attempts and cyber-based corrupt financial transactions. The scarcity of cybersecurity education for vulnerable IPs translates to a higher risk of attacks and security breaches, which forces organizations to remedy system failures and change user behaviors to mitigate future attacks. Attacks can erode the public’s and stakeholders’ trust in how organizations handle personal and sensitive information, ultimately undermining IPs’ integrity and confidence in the programs they deploy.
      </p>

      <h2>Solution</h2>
      <p>
        Working with the USAID/Colombia Mission, Bixal developed and implemented a cybersecurity training program that used an interactive online training format, assessed existing hardware and software assets, and developed action plans aligned to best practices outlined in the Center for Internet Security (CIS) Controls to improve cybersecurity vulnerabilities.
      </p>

      <h2>Results</h2>
      <p>
        Through a combined approach of asynchronous training and virtual learning, 298 individuals representing 44 organizations in Colombia increased their knowledge of cybersecurity and improved their digital health practices. Bixal conducted cyber risk assessments with the most vulnerable partner organizations to develop roadmaps with action items designed to increase digital protection and reduce the risk of cyberattacks.
      </p>

      <h2>Design & Approach</h2>
      <p>
        Under Digital APEX — implemented by prime contractor Project Management Consulting Group (PMCG) — Bixal collaborated with the USAID/Colombia Mission to develop and implement the Cybersecurity Integration of Partners and Hacking Emergency Response (CIPHER), a cybersecurity training program that uses an easily replicable three-phased approach.
      </p>

      <h3>Phase 1: Generating Cybersecurity Awareness</h3>
      <p>
        Bixal introduced cybersecurity concepts to the participating organizations using KnowBe4, a platform that offers asynchronous training available in Spanish, which enabled the organizations’ leadership, program and IT staff to take self-paced courses and learn more about basic cybersecurity concepts.
      </p>

      <h3>Phase 2: Assisting Usaid Ips</h3>
      <p>
        To deliver additional training and assistance, Bixal identified the 10 most vulnerable IPs based on data from initial training quizzes. We drafted rules of engagement that detailed system restrictions and boundaries to ensure confidentiality throughout the assessment process. Bixal then conducted the cybersecurity risk assessments, testing external and internal accessible systems, hosts and applications for IT, communications and network systems. After completing the assessments, Bixal scheduled individual sessions with each of the 10 IPs, designing virtual instructor-led training (ILT). The in-depth training enabled IT professionals to further diffuse cybersecurity best practices across the organization and ensure all users are aware of their behaviors and responsibility to mitigate cybersecurity attacks and threats.
      </p>

      <h3>Phase 3: Developing And Disseminating Action Plans</h3>
      <p>
        Bixal analyzed data collected through the in-depth training and risk assessments to draft individual action plans for each of the 10 IPs. Action plans communicated assessment results, documented cybersecurity vulnerabilities and provided recommendations for remediation. Bixal and Digital APEX met with IT and management staff of IPs to review action plans and outline steps for IPs to ensure future cybersecurity.
      </p>

      <h2>Delivering the Solution</h2>
      <p>
        Bixal uses proven methods for delivering the right solution to the right client.
      </p>

      <h3>Collaboration, Learning And Adapting (Cla) Approach</h3>
      <p>
        Strong CLA practices enabled Bixal to learn from client feedback and incorporate process improvements to generate better outcomes. The Bixal team met with the client weekly to plan activities, make decisions on preferred approaches for activity implementation, discuss impediments, and identify solutions. This level of client collaboration allowed us to continuously adapt to changing circumstances and stakeholder needs.
      </p>

      <H3>Local Cybersecurity Expertise</H3>
      <p>
        We leveraged a new partnership with Functional Cybersecurity International LLC (FC International), engaging local SMEs with extensive knowledge of cybersecurity threats in Colombia.
      </p>

      <H3>Data-Centered Methodology</H3>
      <p>
        We used data from the cybersecurity training and testing to identify the most vulnerable organizations participating in the program, to inform cybersecurity solutions and topics covered in webinars tailored to selected partners, and to assess the effectiveness of training provided.
      </p>

      <h2>Unexpected Challenge</h2>
      <p>
        As the COVID-19 pandemic worsened and international travel was restricted, Bixal converted our training plan from instructor led to virtual delivery. In-house instructional designers worked with cybersecurity experts to design a highly interactive virtual course that used adult-learning techniques, collaborative whiteboards, short quizzes and pop-up polls to keep participants engaged. As a result of virtual training, 146 participants from 10 IPs experienced a substantial improvement in their cybersecurity knowledge.
      </p>
    {% endset %}
  {% endembed %}

  {% embed "@components/section/section.html.twig"  %}
    {% set variant = "primary-alt" %}

    {% set body %}
      <h2>Outcomes</h2>
      <p>Bixal applied an Agile learning approach in designing and developing a cybersecurity training program to help USAID IPs and civil society organizations in Colombia improve their digital health, build local capacity and strengthen cybersecurity practices. As part of this program, Bixal provided access to asynchronous training modules and delivered 15 synchronous virtual ILT sessions to over 298 participants from 44 USAID partners. The topics selected contributed to a growing knowledge base on cybersecurity vulnerabilities that impact organizations’ governance structure, technology infrastructure and business operations.</p>

      <p>Working with the USAID/Colombia Mission, Bixal assessed existing hardware and software assets for cybersecurity vulnerabilities and delivered training organized into five learning topics that mapped to 20 CIS controls.</p>

      <p>In Bixal’s experience, when people understand cybersecurity threats and demonstrate familiarity with best practices to combat cyberattacks, the likelihood of destructive cyberattacks decreases.</p>

      <p>Webinar quiz results demonstrated that USAID/Colombia’s IPs had a low baseline knowledge of cybersecurity. Data from the 10 risk assessments conducted in Phase II confirmed the need for cybersecurity action plans. Over 95 percent of participants who identified as “novice” before the training advanced their knowledge to align with higher competency levels as a result of the program. Detailed post-training survey results are captured in the following chart.</p>

      <p>These results demonstrate that a multi-faceted approach, coupling asynchronous and virtual ILT with risk assessments and roadmaps for improvement, can result in significant improvements in cybersecurity awareness.</p>
    {% endset %}


  {% endembed %}

  {% embed "@components/section/section.html.twig" %}
    {% set body %}

      <h2>Improvements in recipients’ cybersecurity knowledge after in-depth interactive training.</h2>
      <p>These results demonstrate that a multi-faceted approach, coupling asynchronous and virtual ILT with risk assessments and roadmaps for improvement, can result in significant improvements in cybersecurity awareness.</p>

      {# @TODO: Highlight component #}
      <h3>Highlight</h3>
      <p>Overall, Bixal delivered cybersecurity training to 298 individuals, supporting capacity development for 44 organizations to improve their digital health.</p>
    {% endset %}
  {% endembed %}
{% endblock %}
