<div class="emphasis-block">
  <div class="topic-subhead">
    <p>Cloud &amp; Compliance</p>
  </div>
  <div class="heading">
    <h2 class="heading__content"><span class="sc-bcXHqe cRdFuA"><a class="decorative-link" rel="noreferrer"
          target="_blank" href="https://jobs.lever.co/bixal/4ff54a1e-bc38-4bf0-8c67-158d4907e5e0">Cybersecurity
          Resilience Lead - USAID Kosovo Critical Infrastructure Activity</a></span></h2>
  </div>
  <div class="emphasis-block__text">Pristina</div>
</div>
