@use "uswds-core" as *;

.bix-site-header {
  background-color: color("white");
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.1);
  padding-top: units(3);
  padding-bottom: units(3);
  position: sticky;
  top: 0;
  z-index: z(100);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    text-decoration: none;
  }
}

.bix-site-nav__toggle {
  background-color: #fff;
  border: none;
  cursor: pointer;
  display: inline-block;
  height: px-to-rem(40px);
  margin: 0;
  padding: 0;
  position: relative;
  text-transform: uppercase;
  width: px-to-rem(40px);

  @include at-media("desktop") {
    display: none;
  }

  &--open .bix-toggle-icon__line {
    transform: translateZ(0) rotate(-45deg);
  }
}

.bix-toggle-icon {
  height: px-to-rem(1px);
  left: 5px;
  position: absolute;
  top: 12px;
  width: px-to-rem(30px);

  &__line {
    background-color: #000;
    height: px-to-rem(3px);
    left: 0;
    position: absolute;
    top: 0;
    transition:
      transform 0.2s ease-out,
      background-color 0.2s ease-out;
    width: 100%;
    will-change: transform;
  }

  &__line:first-child {
    transform: translate3d(0, -3px, 0) rotate(0);

    .is-active & {
      transform: rotate(-45deg);
    }
  }

  &__line:last-child {
    transform: translate3d(0, 3px, 0);

    .is-active & {
      transform: rotate(45deg);
    }
  }

  &__text {
    bottom: 2px;
    color: #000;
    font-size: px-to-rem(10px);
    font-weight: 700;
    left: 0;
    line-height: 1;
    position: absolute;
    text-align: center;
    transform-origin: center;
    transform: translateZ(0);
    transition:
      color 0.2s ease-out,
      transform 0.2s ease-out;
    width: 40px;
    will-change: transform;
  }
}

.bix-site-nav {
  font-size: px-to-rem(18px);

  // Mobile only styles.
  @include at-media-max("desktop") {
    background-color: var(--c-primary-alt);
    color: color("white");
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
  }

  &__items {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;

    @include at-media("desktop") {
      align-items: center;
      column-gap: units(4);
      display: flex;
      flex-flow: row nowrap;
      font-size: px-to-rem(14px);
    }
    @media (min-width: 1300px) {
      column-gap: units(8);
    }
  }

  &__item {
    margin-bottom: 0;

    @include at-media-max("desktop") {
      border-top: 1px solid rgba(white, 0.2);
      padding: units(2) 7vw;
    }
  }

  &__link {
    display: block;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-decoration: none;

    @include at-media("desktop") {
      padding-top: units(1);
      padding-bottom: units(1);

      &:hover,
      &:focus {
        color: var(--c-primary-alt);
      }
    }
  }

  &__link.is-current {
    position: relative;
  }

  &__link.is-current::after {
    @include at-media("desktop") {
      background-color: var(--c-accent-cool-alt);
      content: "";
      height: px-to-rem(2px);
      width: px-to-rem(52px);
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .bix-button--inverse {
    @include at-media("desktop") {
      display: none;
    }
  }

  .bix-button:not(.bix-button--inverse) {
    @include at-media-max("desktop") {
      display: none;
    }
  }
}
