@use "sass:map";
@use "sass:list";

@use "uswds-core" as *;
@use "../utils/mixins/heading-border" as *;

// @TODO: Move to color partial
$c-blue--dark: #162d6a;
$c-blue--light: #bee9f7;
$c-teal: #05c5bc;
$c-purple: #7d0096;
$c-green: #deec1c;
$c-maroon: #55052a;
$c-orange: #fda307;
$c-yellow: color("yellow-20v");
$c-red-orange: #e02f00;
$c-gray: color("gray-4");

$font-ui: "proxima-nova", "Proxima Nova", Arial, Helvetica, sans-serif;
$font-heading: "novel-pro", Georgia, Times, "Times New Roman", serif;

:root {
  // Theme colors
  --c-primary: #{$c-blue--dark};
  --c-primary-alt: #{$c-purple};
  --c-accent-cool: #{$c-blue--light};
  --c-accent-cool-alt: #{$c-teal};
  --c-accent-warm: #{$c-orange};
  --c-accent-warm-alt: #{$c-red-orange};
  --c-accent-warm-dark: #{$c-maroon};
  --c-accent-vivid: #{$c-green};
  --c-base: #{$c-gray};
  // State colors
  // Info - Closest USWDS color is blue-cool-10v.
  --c-info: var(--c-accent-cool);
  --c-info-dark: #{color("blue-cool-20v")};
  --c-info-darker: #{color("blue-cool-30v")};
  // Warning
  --c-warning: #{$c-yellow};
  // Error
  --c-error: #{color("orange-warm-50v")};
  // Urgent
  --c-urgent: #{color("orange-warm-70v")};
  // Fonts
  --font-heading: #{$font-heading};
  --font-ui: #{$font-ui};
}

// Modern normalize - CSS Reset.
@import url("https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css");

// Typefaces:
// Proxima Nova (400, 600, 700)
// Novel pro (700 & 800)
// poynter-gothic-text (400, 400 italic, 700, 700 italic)
@import url("https://use.typekit.net/wfu7yyr.css");

// ==========================================================================
// Typopgrahy
// ==========================================================================
body {
  color: color("ink");
  font-family: $font-ui;
  font-size: px-to-rem(20px);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 800;
  line-height: 1.2;
  margin: 0;
  transition: font-size 0.25s;
  text-wrap-style: balance;
}

h1 {
  font-size: px-to-rem(32px);
  margin-bottom: units(2);
  text-wrap: balance;

  @include at-media("tablet") {
    font-size: px-to-rem(64px);
  }
}

h2 {
  @include heading-border;
  font-size: px-to-rem(28px);
  font-weight: 700;
  letter-spacing: -0.5px;
  margin-bottom: units(4);

  @include at-media("tablet") {
    font-size: px-to-rem(35px);
    letter-spacing: -0.75px;
  }
}

h3 {
  font-family: var(--font-ui);
  font-size: px-to-rem(24px);
  letter-spacing: -0.5px;
  margin-top: units(3);

  @include at-media("tablet") {
    font-size: px-to-rem(30px);
  }
}

h4 {
  font-size: px-to-rem(20px);
  letter-spacing: -0.25px;
  margin-top: units(2);

  @include at-media("tablet") {
    font-size: px-to-rem(24px);
  }
}

h5 {
  font-family: var(--font-ui);
  font-size: px-to-rem(20px);
  letter-spacing: -0.5px;
  margin-top: units(2);
}

h6 {
  font-family: var(--font-ui);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: units(2);
}

.bix-title-prefix {
  border-left: 2px solid var(--c-accent-cool-alt);
  border-right: 2px solid var(--c-accent-cool-alt);
  display: inline-flex;
  font-family: var(--font-ui);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1;
  margin: 14px 0;
  padding: 0 10px;
  text-transform: uppercase;
  h1 {
    all: unset;
  }
}

.bix-title-prefix-label {
  @extend .bix-title-prefix;
  border-left: none;
  border-right: none;
  padding: 0px;
}

dl {
  line-height: 1.75;
  margin-top: units(2);
  margin-bottom: units(2);
}

dt,
dd {
  margin-left: 0;
  padding-left: units(3);
}

dt {
  font-family: var(--font-heading);

  ~ dt {
    margin-top: units("105");
  }
}

dd {
  font-size: 1rem;
}

ul,
ol {
  list-style-position: outside;
  margin-top: units(3);
  margin-bottom: units(3);
  padding-left: units(3);

  ul,
  ol {
    margin-top: units(1);
    margin-bottom: units(1);
    padding-left: units(3);
  }
}

li:not(#toolbar-administration li) {
  margin-bottom: units(1);
}

.bix-list {
  column-gap: units(4);
}

.bix-list--thirds {
  @include at-media("tablet-lg") {
    columns: 3;
  }
}

a,
a.bix-button {
  color: inherit;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

p {
  // Improves readability in word breaks.
  &[lang="en"] {
    hyphens: auto;
  }

  margin-top: units(3);
  margin-bottom: units(3);
}

img {
  max-width: 100%;
  vertical-align: middle; // Remove extra space from images.
}

figure {
  margin: 0;
  padding: 0;
}

// Used in Footer & Contract vehicles.
address {
  font-style: normal;
  margin-bottom: units(3);
}

.bix-container {
  height: 100%;
  margin: 0 auto;
  max-width: 1350px;
  width: 85%;
}

// Form elements

.bix-input {
  border: 1px solid currentColor;
  border-radius: 3px;
  font-size: px-to-rem(14px);
  margin-bottom: units(1);
  outline-offset: 2px;
  padding: units(2) units(1);
  transition: background-color 0.2s ease-in-out;
  width: 100%;

  &::placeholder {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    word-spacing: 2px;
  }
}

.bix-input--textarea {
  min-height: px-to-rem(120px);
}

.bix-hero__decorative__title {
  font-size: 64px;
  text-wrap: balance;
  color: color("white");
  font-family: $font-heading;
  font-weight: 800;
  font-weight: font-weight(800);
  line-height: 1.2;
  margin: 0;
}

// ==========================================================================
// Grid
// @TODO: Separate into it's own component if we need a full 12-column grid.
// ==========================================================================

// The project's active USWDS breakpoints;
$project-active-uswds-breakpoints: ();

// If it's enabled, we'll add it to the list.
@each $breakpoint, $size in $theme-utility-breakpoints-complete {
  @if $size {
    $project-active-uswds-breakpoints: append(
      $project-active-uswds-breakpoints,
      $breakpoint
    );
  }
}
// @debug $project-active-uswds-breakpoints;
// @return "mobile-lg" "tablet" "desktop"

.bix-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: units(1);

  &--halves {
    grid-template-columns: repeat(2, 1fr);
  }

  &--thirds {
    grid-template-columns: repeat(3, 1fr);
  }

  &--fourths {
    grid-template-columns: repeat(4, 1fr);
  }

  @each $breakpoint in $project-active-uswds-breakpoints {
    &\:#{$breakpoint}--halves {
      @include at-media($breakpoint) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &\:#{$breakpoint}--thirds {
      @include at-media($breakpoint) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    &\:#{$breakpoint}--fourths {
      @include at-media($breakpoint) {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }

  // Will output:
  // &\:tablet--fourths {
  //   @include at-media("tablet") {
  //     …
  //   }
  // }

  // &\:desktop--halves {
  //   @include at-media("desktop") {
  //     …
  //   }
  // }
  // etc…

  &__item--full {
    grid-column: 1 / -1;
  }
}
