@use "sass:map";
@use "sass:list";
@use "uswds-core" as *;
@use "../utils/mixins/heading-border" as *;

// Modern normalize - CSS Reset.
@import "https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css";

// Typefaces:
// Proxima Nova (400, 600, 700)
// Novel pro (700 & 800)
@import "https://use.typekit.net/gta8onn.css";

// @TODO: Move to color partial
$c-blue--dark: #162d6a;
$c-blue--light: #bee9f7;
$c-teal: #05c5bc;
$c-purple: #7d0096;
$c-green: #deec1c;
$c-maroon: #55052a;
$c-orange: #fda307;
$c-yellow: color("yellow-20v");
$c-red-orange: #e02f00;
$c-gray: color("gray-4");
$font-ui: "proxima-nova", "Proxima Nova", arial, helvetica, sans-serif;
$font-heading: "novel-pro", georgia, times, "Times New Roman", serif;

:root {
  // Theme colors
  --c-primary: #{$c-blue--dark};
  --c-primary-alt: #{$c-purple};
  --c-accent-cool: #{$c-blue--light};
  --c-accent-cool-alt: #{$c-teal};
  --c-accent-warm: #{$c-orange};
  --c-accent-warm-alt: #{$c-red-orange};
  --c-accent-warm-dark: #{$c-maroon};
  --c-accent-vivid: #{$c-green};
  --c-base: #{$c-gray};
  --c-base-light: #{color("gray-3")};
  --c-base-lighter: #{color("gray-2")};
  --c-base-lightest: #{color("gray-1")};
  --c-base-dark: #{color("gray-10")};
  --c-base-darker: #{color("gray-30")};
  --c-base-darkest: #{color("gray-80")};

  // State colors
  --c-info: var(--c-accent-cool);

  // Used this color tool to find the closest USWDS token:
  // https://civicactions.github.io/uswds-color-tool/
  --c-info-dark: #{color("blue-cool-20v")};
  --c-info-darker: #{color("blue-cool-30v")};

  // Warning
  --c-warning: #{$c-yellow};

  // Error
  --c-error: #{color("orange-warm-50v")};

  // Urgent
  --c-urgent: #{color("orange-warm-70v")};

  // Success
  --c-success: #{color("green-cool-40v")};

  // Fonts
  --font-heading: #{$font-heading};
  --font-ui: #{$font-ui};

  // Media
  --media-spacing: #{units(3)};

  // The left and right spacing. Use margin-inline to set.
  // @example:
  // img {
  //   margin-inline: var(--media-spacing-x);
  // }
  --media-spacing-x: var(--media-spacing);

  // The top and bottom spacing. Use margin-block to set.
  // @example:
  // img {
  //   margin-block: var(--media-spacing-y);
  // }
  --media-spacing-y: var(--media-spacing);
}

// View transitions
// Adds a nice transition to the page when navigating the website.
@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}

// ==========================================================================
// Typopgrahy
// ==========================================================================
body {
  color: color("ink");
  font-family: $font-ui;
  font-size: px-to-rem(20px);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 800;
  line-height: 1.2;
  margin: 0;
  transition: font-size 0.25s;
  text-wrap-style: balance;
}

h1 {
  font-size: px-to-rem(32px);
  margin-bottom: units(2);

  @include at-media("tablet") {
    font-size: px-to-rem(64px);
  }
}

h2 {
  @include heading-border;

  font-size: px-to-rem(28px);
  font-weight: 700;
  letter-spacing: -0.5px;
  margin-bottom: units(4);

  @include at-media("tablet") {
    font-size: px-to-rem(35px);
    letter-spacing: -0.75px;
  }
}

h3 {
  font-family: var(--font-ui);
  font-size: px-to-rem(24px);
  letter-spacing: -0.5px;
  margin-top: units(3);

  @include at-media("tablet") {
    font-size: px-to-rem(30px);
  }
}

h4 {
  font-size: px-to-rem(20px);
  letter-spacing: -0.5px;
  margin-top: units(2);

  @include at-media("tablet") {
    font-size: px-to-rem(24px);
  }
}

h5 {
  font-family: var(--font-ui);
  font-size: px-to-rem(20px);
  letter-spacing: -0.5px;
  margin-top: units(2);
}

h6 {
  font-family: var(--font-ui);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: units(2);
}

.bix-title-prefix {
  border-left: 2px solid var(--c-accent-cool-alt);
  border-right: 2px solid var(--c-accent-cool-alt);
  display: inline-flex;
  font-family: var(--font-ui);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1;
  margin: 14px 0;
  padding: 0 10px;
  text-transform: uppercase;

  h1 {
    all: unset;
  }
}

.bix-title-prefix-label {
  @extend .bix-title-prefix;

  border-left: none;
  border-right: none;
  padding: 0;
}

dl {
  line-height: 1.75;
  margin-top: units(2);
  margin-bottom: units(2);
}

dt,
dd {
  margin-left: 0;
  padding-left: units(3);
}

dt {
  font-family: var(--font-heading);
}

dd {
  font-size: 1rem;
}

ul,
ol {
  list-style-position: outside;
  margin-top: units(3);
  margin-bottom: units(3);
  padding-left: units(3);

  ul,
  ol {
    margin-top: units(1);
    margin-bottom: units(1);
    padding-left: units(3);
  }
}

li:with(:not(#toolbar-administration li)) {
  margin-bottom: units(1);
}

.bix-list {
  column-gap: units(4);
}

.bix-list--thirds {
  @include at-media("tablet-lg") {
    columns: 3;
  }
}

a {
  color: inherit;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

p {
  // Improves readability in word breaks.
  &[lang="en"] {
    hyphens: auto;
  }

  margin-block: units(3);
}

hr {
  clear: both;
}

img {
  font-style: italic; // For images that fail to load.
  max-width: 100%;
  height: auto;
  vertical-align: middle; // Remove extra space from images.
}

figure {
  margin: 0;
  padding: 0;
}

// Used in Footer & Contract vehicles.
address {
  font-style: normal;
  margin-bottom: units(3);
}

// Styling for the CKEditor blockquote. It doesn't include the `<cite>` element.
blockquote {
  font-weight: 800;
  margin-block: units(6) units(5);
  max-width: 45ch !important;

  p {
    text-wrap-style: balance !important;
  }

  @include at-media("tablet") {
    font-size: size("heading", "xl");

    &::before,
    &::after {
      font-size: size("heading", "3xl");
      height: 1ex;
      line-height: 1;
    }
  }
}

blockquote,
blockquote + cite {
  max-width: 45ch !important;
  margin-inline: units(5);
  font-family: var(--font-heading);
}

blockquote + cite {
  font-style: normal;
}

.sr-only {
  @include sr-only;
}

.bix-container {
  height: 100%;
  margin: 0 auto;
  max-width: 1350px;
  width: 85%;

  // Clears floats from children.
  &:has(.align-left, .align-right, .align-center) {
    display: flow-root;
  }
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-align-justify {
  text-align: justify;
}

.align-left {
  margin-block: var(--media-spacing-y);

  @include at-media("tablet") {
    float: left;
    margin-inline-end: var(--media-spacing);
  }
}

// 1. Prevents floats from affecting its ability to center.
.align-center {
  display: flow-root; // 1
  margin-block: var(--media-spacing-y);
  margin-inline: auto;
  max-width: max-content;

  &:has(.bix-video) {
    margin-block-end: 0;
  }
}

.align-right {
  margin-block: var(--media-spacing-y);

  @include at-media("tablet") {
    float: right;
    margin-inline-start: var(--media-spacing);
  }
}

// ==========================================================================
// Form elements
// ==========================================================================
fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

label {
  display: block;
  font-size: size("ui", "2xs");
  letter-spacing: px-to-rem(0.5px);
  text-transform: uppercase;
}

// Links to editable fields, like in `/user/3/contact` "Name, Email, and To."
.form-type-item {
  font-size: px-to-rem(16px);
  margin-block-end: units(2);
}

.bix-input {
  accent-color: var(--c-primary);
  border: 1px solid currentcolor;
  border-radius: 3px;
  font-size: px-to-rem(16px);
  margin-block-end: units(1);
  outline-offset: 2px;
  padding: units(2) units(1);
  transition: background-color 0.2s ease-in-out;
  width: 100%;

  &::placeholder {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    word-spacing: 2px;
  }
}

.bix-checkbox,
.bix-radio {
  align-items: first baseline;
  column-gap: units(1);
  display: flex;
  margin-block-end: units(1);

  .bix-input {
    flex-basis: 0;
    margin-block-end: 0;
  }
}

.bix-input--textarea {
  min-height: px-to-rem(120px);
}

.bix-hero__decorative__title {
  font-size: 64px;
  text-wrap: balance;
  color: color("white");
  font-family: $font-heading;
  font-weight: 800;
  line-height: 1.2;
  margin: 0;
}

// ==========================================================================
// Grid
// @TODO: Separate into it's own component if we need a full 12-column grid.
// ==========================================================================

// The project's active USWDS breakpoints;
$project-active-uswds-breakpoints: ();

// If it's enabled, we'll add it to the list.
@each $breakpoint, $size in $theme-utility-breakpoints-complete {
  @if $size {
    $project-active-uswds-breakpoints: append(
      $project-active-uswds-breakpoints,
      $breakpoint
    );
  }
}

// @debug $project-active-uswds-breakpoints;
// @return "mobile-lg" "tablet" "desktop"

.bix-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: units(1);

  &--halves {
    grid-template-columns: repeat(2, 50%);
  }

  &--thirds {
    grid-template-columns: repeat(3, 33.33%);
  }

  &--fourths {
    grid-template-columns: repeat(4, 25%);
  }

  @each $breakpoint in $project-active-uswds-breakpoints {
    &\:#{$breakpoint}--halves {
      @include at-media($breakpoint) {
        grid-template-columns: repeat(2, 50%);
      }
    }

    &\:#{$breakpoint}--thirds {
      @include at-media($breakpoint) {
        grid-template-columns: repeat(3, 33.33%);
      }
    }

    &\:#{$breakpoint}--fourths {
      @include at-media($breakpoint) {
        grid-template-columns: repeat(4, 25%);
      }
    }
  }

  // Will output:
  // &\:tablet--fourths {
  //   @include at-media("tablet") {
  //     …
  //   }
  // }

  // &\:desktop--halves {
  //   @include at-media("desktop") {
  //     …
  //   }
  // }
  // etc…

  &__item--full {
    grid-column: 1 / -1;
  }
}
