{% include "@components/header/header.html.twig" %}
{% include "@components/hero/hero.html.twig" with hero %}

{% block content %}
  <main>
    Content block.
  </main>
{% endblock %}

{% include "@components/contact-us/contact-us.html.twig" %}
{% include "@components/footer/footer.html.twig" %}
