{% include "@components/header/header.html.twig" with header %}

<main id="main-content">
  {% if hero %}
    {% block hero %}
      {% include "@components/hero/hero.html.twig" with hero %}
    {% endblock %}
  {% endif %}

  {% block content %}
    Content block.
  {% endblock %}
</main>

{# {% include "@components/contact-us/contact-us.html.twig" with contactContent %} #}
{% include "@components/footer/footer.html.twig" with footerContent %}
