<dl class="bix-description-list">
  <div class="bix-description-list__media">
    <img src="https://www.bixal.com/static/8e16af4c76a75560bbd0719081f3c93b/09633/business-finance.webp" alt="">
  </div>
  <dt>Health</dt>
  <dd>
    United States Department of Agriculture
  </dd>
  <dd>
    Department of Health and Human Services
  </dd>
  <dd>
    Centers for Medicare & Medicaid Services
  </dd>
  <dd>National Institutes of Health</dd>
  <dd>National Library of Medicine</dd>
</dl>
