<section
  id="hero"
  class="section-container bg-image hero"
  style="
    height: 600px;
    background-color: transparent;
    color: black;
    padding: 0px;
    background-image: radial-gradient(
        circle,
        rgba(0, 0, 0, 0.48) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url(&quot;https://www.bixal.com/static/de1a4f3c509d3232e4d3be54522dac29/hero-contract-vehicles.jpg&quot;);
  "
>
  <div style="margin: 0px auto; width: 100%; max-width: 1350px">
    <div class="section-banner-details">
      <div class="section-overview section-overview--center">
        <div class="section-overview__text" style="max-width: 100%">
          <h1>Contract Vehicles</h1>
        </div>
      </div>
      <p class="section-banner-description"></p>
    </div>
  </div>
</section>

<div class="bix-hero bix-hero--primary">
  <div class="bix-hero__container">
    <div class="bix-hero__image">
      <img
        src="https://www.bixal.com/static/5fe5ae2fa9f9bc458b9dd0914c0b1c9a/ce7bb/img-b-hero-7.webp"
        alt=""
      />
    </div>
    <div class="bix-hero__text">
      <h1 class="bix-hero__title">This is Bixal.</h1>
      <p class="bix-hero__description">
        A mission-driven organization determined to improve people’s lives
        through human-centered strategies and transformative technologies. We
        deliver on this promise by partnering with leading federal agencies to
        conceive and create powerful data-driven customer experiences.
      </p>
    </div>
  </div>
</div>

<hr />

<h2>Hero with image and Bixal logo</h2>

<p>Need to re-work and consolidate this hero with the one above.</p>
<p>Originally seen on "What we do" section: https://www.bixal.com</p>
<section
  id="what-we-do"
  class="section-container bg-image what-we-do"
  style="
    background-color: rgb(149, 26, 112);
    color: white;
    background-image: url(&quot;/static/img-whatwedo-e68b3d20abd32c896d56b122063f7664.jpg&quot;);
  "
>
  <div style="margin: 0px auto; width: 85%; max-width: 1350px">
    <div class="what-we-do__b-container" role="presentation" aria-hidden="true">
      <img
        src="https://www.bixal.com/static/7ae31d3939e7a56a3188b49061ccfa84/b-orange.svg"
        alt="Bixal stylized B"
        class="what-we-do__b"
        width="230px"
      />
    </div>
    <div class="what-we-do__content">
      <div
        class="section-overview section-overview--white-text what-we-do__overview"
      >
        <div
          class="piped-title"
          style="
            border-left-color: rgb(5, 197, 187);
            border-right-color: rgb(5, 197, 187);
          "
        >
          WHAT WE DO
        </div>
        <div class="section-overview__text" style="max-width: 100%">
          <h2>
            The work we do helps our clients unite stakeholders, optimize
            resources, and better serve citizens all over the world.
          </h2>
        </div>
        <div
          class="section-overview__decoration-divider"
          style="background-color: rgb(5, 197, 187)"
        ></div>
      </div>
      <div class="what-we-do__description">
        <p>
          We take a people-absolutely-first approach to solving complex
          organizational challenges and gracefully balance cutting-edge
          technical chops with a deep sense of empathy and understanding. We
          relentlessly focus on outcomes and weave it all together with a unique
          agility that permeates across everything we do.
        </p>
        <div class="what-we-do__link">
          <a href="/our-work/"
            ><div class="bixal-button link">
              <div class="bixal-button-content">
                <div>
                  Explore Case Studies
                  <div class="icon-container" aria-hidden="true">
                    <svg
                      class="icon right-arrow"
                      width="20px"
                      fill="#fff"
                      version="1.1"
                      id=""
                      xmlns="http://www.w3.org/2000/svg"
                      x="0px"
                      y="0px"
                      viewBox="0 0 24 12"
                    >
                      <polygon
                        class="st0"
                        points="24,6 18,0 18,5.4 0,5.4 0,6.7 18,6.7 18,12 "
                      ></polygon>
                    </svg>
                  </div>
                </div>
              </div></div
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
