<div class="bix-description-list-collection">
  {% for description in collections %}
    {% include "@components/description-list/description-list.html.twig" with description %}
  {% endfor %}
</div>
