<div class="core-services__grid-row">
  <div class="core-services__grid-item service">
    <div class="core-service-card flip-card">
      <div class="core-service-card__face core-service-card__face--front flip-card__face flip-card__face--front">
        <div class="core-service-card__content">
          <img
            src="https://bixal.com/static/70c83fe2301aa83b70edbba2e3c15f5d/services-strategy-communications.svg"
            alt="icons/services-strategy-communications.svg"
            class="core-service-card__logo">
          <h3 class="core-service-card__title">
            Strategic Communications
          </h3>
        </div>
        <button
          class="flip-card__button flip-card__button--flip"
          aria-label="Flip card over to read more about our approach to Strategic Communications">
          <div class="icon-container" aria-hidden="true">
            <svg
              class="icon right-arrow"
              width="20px"
              fill="#7d0096"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              viewBox="0 0 24 12">
              <polygon class="st0" points="24,6 18,0 18,5.4 0,5.4 0,6.7 18,6.7 18,12"></polygon>
            </svg>
          </div>
        </button>
      </div>
      <div
        class="core-service-card__face core-service-card__face--back flip-card__face flip-card__face--back">
        <div class="core-service-card__content">
          <img
            src="https://bixal.com/static/70c83fe2301aa83b70edbba2e3c15f5d/services-strategy-communications.svg"
            alt="icons/services-strategy-communications.svg"
            class="core-service-card__logo">
          <h3 class="core-service-card__title">
            Strategic Communications
          </h3>
          <p class="core-service-card__description">
            We take pride in developing fully integrated and research-based marketing, branding, and communication strategies for our clients.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="core-services__grid-item service">
    <div class="core-service-card flip-card">
      <div class="core-service-card__face core-service-card__face--front flip-card__face flip-card__face--front">
        <div class="core-service-card__content">
          <img
            src="https://bixal.com/static/7306ff2914d443d0e4c22813c07e74d1/services-customer-experience.svg"
            alt="icons/services-customer-experience.svg" class="core-service-card__logo">
          <h3 class="core-service-card__title">
            Human-Centered Design
          </h3>
        </div>
        <button class="flip-card__button flip-card__button--flip"
          aria-label="Flip card over to read more about our approach to Human-Centered Design">
          <div class="icon-container" aria-hidden="true">
            <svg class="icon right-arrow" width="20px" fill="#550529"
              version="1.1" id="" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 24 12">
              <polygon class="st0" points="24,6 18,0 18,5.4 0,5.4 0,6.7 18,6.7 18,12"></polygon>
            </svg>
          </div>
        </button>
      </div>
      <div class="core-service-card__face core-service-card__face--back flip-card__face flip-card__face--back">
        <div class="core-service-card__content">
          <img
            src="https://bixal.com/static/7306ff2914d443d0e4c22813c07e74d1/services-customer-experience.svg"
            alt="icons/services-customer-experience.svg" class="core-service-card__logo">
          <h3 class="core-service-card__title">
            Human-Centered Design
          </h3>
          <p class="core-service-card__description">We want to know what propels people
            forward. Our approach allows us to solve real-life problems by having a clear and holistic understanding of
            the needs of users.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="core-services__grid-item service">
    <div class="core-service-card flip-card">
      <div class="core-service-card__face core-service-card__face--front flip-card__face flip-card__face--front">
        <div class="core-service-card__content">
          <img src="https://bixal.com/static/bf47c31ffbc3920f635494924f8faf76/services-agile.svg"
            alt="icons/services-agile.svg" class="core-service-card__logo">
          <h3 class="core-service-card__title">
            Agile Development
          </h3>
        </div>
        <button class="flip-card__button flip-card__button--flip"
          aria-label="Flip card over to read more about our approach to Agile Development">
          <div class="icon-container" aria-hidden="true">
            <svg class="icon right-arrow" width="20px" fill="#deec1d"
              version="1.1" id="" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 24 12">
              <polygon class="st0" points="24,6 18,0 18,5.4 0,5.4 0,6.7 18,6.7 18,12"></polygon>
            </svg>
          </div>
        </button>
      </div>
      <div class="core-service-card__face core-service-card__face--back flip-card__face flip-card__face--back">
        <div class="core-service-card__content">
          <img src="https://bixal.com/static/bf47c31ffbc3920f635494924f8faf76/services-agile.svg"
            alt="icons/services-agile.svg" class="core-service-card__logo">
          <h3 class="core-service-card__title">
            Agile Development
          </h3>
          <p class="core-service-card__description">
            We like to focus on small improvements before rushing to the finish line. Applying agile methodologies allows us to respond to
            customer reactions every step of the way.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="core-services__grid-item service">
    <div class="core-service-card flip-card">
      <div class="core-service-card__face core-service-card__face--front flip-card__face flip-card__face--front">
        <div class="core-service-card__content">
          <img
            src="https://bixal.com/static/c1be6f601fe9895fc3f2b892d4ab0041/services-elearning.svg" alt="icons/services-elearning.svg"
            class="core-service-card__logo">
          <h3 class="core-service-card__title">Modernized Learning</h3>
        </div>
        <button class="flip-card__button flip-card__button--flip"
          aria-label="Flip card over to read more about our approach to Modernized Learning">
          <div class="icon-container" aria-hidden="true">
            <svg class="icon right-arrow" width="20px" fill="#162d6a"
              version="1.1" id="" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 24 12">
              <polygon class="st0" points="24,6 18,0 18,5.4 0,5.4 0,6.7 18,6.7 18,12"></polygon>
            </svg>
          </div>
        </button>
      </div>
      <div class="core-service-card__face core-service-card__face--back flip-card__face flip-card__face--back">
        <div class="core-service-card__content">
          <img
            src="https://bixal.com/static/c1be6f601fe9895fc3f2b892d4ab0041/services-elearning.svg" alt="icons/services-elearning.svg"
            class="core-service-card__logo">
          <h3 class="core-service-card__title">
            Modernized Learning
          </h3>
          <p class="core-service-card__description">
            Our human-centered approach to learning
            and knowledge management empowers people and organizations to make a positive impact in the workplace and in society.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="core-services__grid-item service">
    <div class="core-service-card flip-card">
      <div class="core-service-card__face core-service-card__face--front flip-card__face flip-card__face--front">
        <div class="core-service-card__content">
          <img src="https://bixal.com/static/268be43303d10a23bde150d7def880ac/services-data.svg"
            alt="icons/services-data.svg" class="core-service-card__logo">
          <h3 class="core-service-card__title">
            Data Science and Analytics
          </h3>
        </div>
        <button
          class="flip-card__button flip-card__button--flip"
          aria-label="Flip card over to read more about our approach to Data Science and Analytics">
          <div class="icon-container" aria-hidden="true">
            <svg
              class="icon right-arrow"
              width="20px"
              fill="#fda206"
              version="1.1" id="" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 24 12">
              <polygon class="st0" points="24,6 18,0 18,5.4 0,5.4 0,6.7 18,6.7 18,12"></polygon>
            </svg>
          </div>
        </button>
      </div>
      <div class="core-service-card__face core-service-card__face--back flip-card__face flip-card__face--back">
        <div class="core-service-card__content">
          <img
            src="https://bixal.com/static/268be43303d10a23bde150d7def880ac/services-data.svg"
            alt="icons/services-data.svg" class="core-service-card__logo">
          <h3 class="core-service-card__title">Data Science and Analytics</h3>
          <p class="core-service-card__description">We offer analytical knowledge and
            methodologies to identify new patterns and opportunities to solve challenging problems and enable more
            effective decision making.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="core-services__grid-item service">
    <div class="core-service-card flip-card">
      <div class="core-service-card__face core-service-card__face--front flip-card__face flip-card__face--front">
        <div class="core-service-card__content">
          <img src="https://bixal.com/static/b1ca45958aa45c3e436d0e405eaa1243/services-cloud.svg"
            alt="icons/services-cloud.svg" class="core-service-card__logo">
          <h3 class="core-service-card__title">
            Cloud Computing
          </h3>
        </div>
        <button class="flip-card__button flip-card__button--flip"
          aria-label="Flip card over to read more about our approach to Cloud Computing">
          <div class="icon-container" aria-hidden="true">
            <svg class="icon right-arrow" width="20px" fill="#05c5bc"
              version="1.1" id="" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 24 12">
              <polygon class="st0" points="24,6 18,0 18,5.4 0,5.4 0,6.7 18,6.7 18,12"></polygon>
            </svg>
          </div>
        </button>
      </div>
      <div class="core-service-card__face core-service-card__face--back flip-card__face flip-card__face--back">
        <div class="core-service-card__content">
          <img src="https://bixal.com/static/b1ca45958aa45c3e436d0e405eaa1243/services-cloud.svg"
            alt="icons/services-cloud.svg" class="core-service-card__logo">
          <h3 class="core-service-card__title">Cloud Computing</h3>
          <p class="core-service-card__description">A client-focused approach to
            successfully migrate to the cloud and modernize the technology infrastructure to improve performance and
            security while reducing costs.
          </p>
        </div>
      </div>
    </div>
  </div>

  <h2>
    Government agencies can work with us through several contract vehicles, which are designed to provide an efficient and effective way to procure a range of services.
  </h2>
</div>
