<section id="bixal-team" class="bix-people">
  <div class="bix-filter__dropdown">
    <button type="button" class="bix-filter__dropdown-button bix-button bix-button--unstyled">
      {{ filter_dropdown_label }}

      <svg
        class="bix-icon bix-icon--caret"
        width="16px"
        height="10px"
        viewBox="0 0 16 10"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g fill="#000">
            <path
              d="M15.9348521,2.05473568 L8.15375072,9.93454396 C8.06722618,10.0218187 7.9230186,10.0218187 7.83649406,9.93454396 L0.0648934083,2.05473568 C-0.0216311361,1.96711736 -0.0216311361,1.82108681 0.0648934083,1.73312488 L1.76722141,0 L7.83649406,6.14530898 C7.9230186,6.23327091 8.06722618,6.23327091 8.15375072,6.14530898 L14.2230234,0 L15.9348521,1.73312488 C16.021716,1.82108681 16.021716,1.96711736 15.9348521,2.05473568"
              id="arrow"></path>
          </g>
        </g>
      </svg>
    </button>

    <div class="bix-filter__dropdown-options">
      {% for option in filter_options %}
        <label
          for="{{ option | lower }}"
          class="bix-filter__dropdown-option">
          <input type="radio" name="radio" id="all" value="{{ option | lower }}">
          {{ option | capitalize }}
        </label>
      {% endfor %}
    </div>
  </div>
  </div>
</section>
