@use "uswds-core" as *;

%filter-base-text-styles {
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.bix-filter__dropdown {
  text-align: center;
  position: relative;
  z-index: 1;

  &-button {
    @extend %filter-base-text-styles;
    border-bottom: 2px solid;
    font-size: px-to-rem(16px);
    margin-bottom: units(4);
    padding-top: units(1);
    padding-bottom: units(1);

    &.is-active {
      border-bottom-color: var(--c-accent-cool-alt);
    }

  }

  &-button.is-active {

    // Flip the caret vertically when active.
    .bix-icon--caret {
      transform: scaleY(-1);
    }
  }

  &-options {
    @extend %filter-base-text-styles;
    background-color: color("white");
    border: 2px solid var(--c-base);
    font-size: px-to-rem(14px);
    padding: units(5) units(5) units(4);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    // 1. USWDS `tablet` token is 640px.
    //    https://designsystem.digital.gov/design-tokens/spacing-units/
    @include at-media("tablet") {
      columns: 3;
      gap: units(4);
      margin-left: auto;
      margin-right: auto;
      max-width: units("tablet"); // 1
      width: 100%;
    }
  }

  &-option {
    cursor: pointer;
    display: block;
    line-height: 1;
    margin-bottom: units(3);
    text-align: left;
    transition: color 0.25s;
  }

  &-option:last-child {
    margin-bottom: 0;
  }

  // Selected option.
  &-option:has(input:checked) {
    color: var(--c-primary-alt);
  }

  // The radio button.
  &-option input {
    opacity: 0;
    position: absolute;
  }
}

.bix-people-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 244px));
  row-gap: units(7);
  list-style: none;
  padding-left: 0;
  justify-content: center;
}

.view-all-only {
  display: none;
}

.bix-person {
  --_overlay-color: var(--overlay-color, gray);
  --_text-color: var(--text-color, #000);

  &__link {
    text-decoration: none;
  }

  &__link:hover,
  &__link:focus {
    .bix-person__overlay {
      opacity: 1;
    }
  }

  &__media {
    position: relative;
  }

  &__overlay {
    align-items: center;
    background-color: var(--_overlay-color);
    bottom: 0;
    color: var(--_text-color);
    column-gap: units(1);
    display: flex;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.25s ease-in-out;
    width: 100%;
  }

  &__overlay .bix-icon {
    fill: var(--_text-color);
  }

  &__details {
    padding-top: units(2);
    padding-right: units(2);
  }

  &__name {
    font-size: px-to-rem(24px);
    letter-spacing: -0.33px;
    margin-bottom: units("05");
  }

  &__role {
    font-size: px-to-rem(20px);
    line-height: 1.2;
  }
}

.bix-people-list li:nth-child(8n + 1) {
  --overlay-color: #fda307;
}

.bix-people-list li:nth-child(8n + 2) {
  --overlay-color: #7d0196;
  --text-color: #fff;
}

.bix-people-list li:nth-child(8n + 3) {
  --overlay-color: #03c5bc;
}

.bix-people-list li:nth-child(8n + 4) {
  --overlay-color: #55052a;
  --text-color: #fff;
}

.bix-people-list li:nth-child(8n + 5) {
  --overlay-color: #deec1c;
}

.bix-people-list li:nth-child(8n + 6) {
  --overlay-color: #e03000;
}

.bix-people-list li:nth-child(8n + 7) {
  --overlay-color: #172d6a;
  --text-color: #fff;
}

.bix-people-list li:nth-child(8n + 8) {
  --overlay-color: #bee9f6;
}
