{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<section id="contact" class="bix-section  bix-section--primary bix-contact">
  <div class="bix-container">
    <div class="bix-title-prefix">{% if on_full_form_page %}<h1>{% endif %}Contact{% if on_full_form_page %}</h1>{% endif %}</div>
    <h2 class="bix-section__title">
      {{ 'How can we help?'|t }}<br />
      {{ 'We\'d love to hear from you.'|t }}
    </h2>
    <form{{ attributes }}>
      {{ children }}
    </form>
  </div>
</section>
