<section class="bix-consent" aria-label="Consent form">
  <div class="bix-consent__description">
    We use cookies to improve your experience on our site. Select
    accept to opt-in or decline to opt-out. You can read more about our Privacy Policy <a href="https://www.bixal.com/privacy/" >here.</a>
  </div>
  <div class="bix-consent__actions">
    <button id="rcc-decline-button" aria-label="Decline cookies">
      Decline
    </button>
    <button id="rcc-confirm-button" aria-label="Accept cookies">
      Accept
    </button>
  </div>
</section>
