<section class="bix-consent" aria-label="Consent form">
  <div class="bix-consent__description">
    <p>
      We use cookies to improve your experience on our site. Select
    accept to opt-in or decline to opt-out. You can read more about our Privacy Policy <a href="https://www.bixal.com/privacy/">here</a>.
    </p>
  </div>
  <div class="bix-consent__actions">
    {% include "components/button/button.html.twig" with {
      label: "Decline",
    } %}
    {% include "components/button/button.html.twig" with {
      label: "Accept",
    } %}
  </div>
</section>
