{% embed "@components/section/section.html.twig" %}
  {% set variant = "primary-alt" %}
  {% set title = "Bixal Benefits" %}

  {% block body %}
    <ul class="bix-list bix-list--thirds">
      <li>Competitive base salary</li>
      <li>Flex hours / telework options</li>
      <li>Generous PTO</li>
      <li>10 paid holidays</li>
      <li>Medical/Dental/Vision Insurance</li>
      <li>New business referral bonus</li>
      <li>Professional development incentives</li>
      <li>WMATA commuter benefits program</li>
      <li>Company provided Short-Term Disability</li>
      <li>Company provided Life Insurance</li>
      <li>401k with employer match</li>
    </ul>
  {% endblock %}

{% endembed %}
