@use "uswds-core" as *;
@use "../../assets/styles/utils/mixins/heading-border" as *;

.bix-site-footer {
  background-color: var(--c-accent-warm-dark);
  color: color("white");
  font-size: px-to-rem(18px);

  ul {
    list-style: none;
    margin-block-start: 0;
    padding-inline-start: 0;
  }

  &__logo {
    max-width: px-to-rem(100px);
  }

  &__primary {
    padding-block: units(8);
  }

  &__columns {
    display: grid;
    gap: units(3) units(4);

    @include at-media("desktop") {
      grid-template-columns: repeat(4, 1fr);
      grid-template-columns: 100px 1fr 1fr 1fr;
    }
  }

  &__column + &__column {
    @include at-media("desktop") {
      padding-inline-start: units(6);
      position: relative;
    }
  }

  &__column + &__column::before {
    @include at-media("desktop") {
      background-color: rgb(white, 0.2);
      content: "";
      display: inline-block;
      height: 120px;
      width: 1px;
      position: absolute;
      left: 0;
    }
  }

  // Align paragraph in "Collab" column with rest of columns.
  &__column p {
    margin-block-start: 0;
  }

  &__title {
    @include heading-border($margin-top: "05");

    font-family: var(--font-ui);
    font-size: px-to-rem(16px);
    letter-spacing: 0.5px;
    margin-block: 0 units("05");
    text-transform: uppercase;
  }

  // ==========================================================================
  // Secondary section - Privacy policy & Social nav
  // ==========================================================================
  &__secondary {
    border-top: 1px solid rgb(white, 0.2);
    padding-block: units(4);

    @include at-media("desktop") {
      padding-block: units(3) units(4);
    }
  }

  &__secondary-container {
    display: flex;
    flex-flow: column nowrap;
    gap: units(6);

    @include at-media("tablet") {
      gap: units(2);
    }

    @include at-media("tablet-lg") {
      align-items: baseline;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }

  &__secondary-nav {
    font-weight: 700;
    font-size: px-to-rem(14px);
    margin-block: 0;
    text-transform: uppercase;

    @include at-media("tablet-lg") {
      display: inline-flex;
      flex-grow: 1;
      width: 100%;
    }

    @include at-media("desktop-lg") {
      flex-grow: 0;
      margin-block: 0;
      width: auto;
    }
  }

  &__secondary-nav-items {
    display: flex;
    gap: units(1);
    flex-direction: column;
    margin-block: 0;
    padding-inline-start: 0;

    @include at-media("tablet") {
      flex-flow: row nowrap;
      justify-content: space-between;
    }

    @include at-media("tablet-lg") {
      width: 100%;
    }

    @include at-media("desktop") {
      gap: units(2);
      justify-content: start;
    }
  }

  &__secondary-nav__item {
    margin-block-end: 0;
  }

  .bix-social-nav {
    margin-block: 0;

    @include at-media("tablet-lg") {
      margin-inline-start: auto;
      align-self: flex-end; // Push social nav to the end of cross axis
    }

    // For menu, legal, and social to have enough space.
    @media screen and (min-width: 1350px) {
      margin-inline-start: 0;
    }

    &__items {
      @include at-media("tablet-lg") {
        gap: units(1);
      }
    }
  }

  &__legal {
    display: flex;
    flex-flow: column;
    column-gap: units(2);
    font-size: px-to-rem(16px);

    @include at-media("tablet") {
      flex-flow: row;
    }
  }
}

// Accreditations overides.
.bix-site-footer__column--accreditations {
  ul {
    padding-inline-start: 0;
  }
}

.accreditations-logos {
  --logo-spacing: #{units(1)};

  align-items: start;
  display: flex;
  row-gap: var(--logo-spacing);
  flex-flow: column;

  @include at-media("mobile") {
    align-items: center;
    gap: 0 var(--logo-spacing);
    flex-flow: row;
  }
}

.accreditations-logos a {
  text-decoration: none;
}
