<footer id="site-footer" class="bix-site-footer">
  <section class="bix-container  bix-site-footer__primary">
    <div class="bix-site-footer__columns">
      <div class="bix-site-footer__column bix-site-footer__column--logo">
        <div class="bix-site-footer__logo">
          <!-- @TODO Get a properly sized image. -->
          <img role="presentational" aria-hidden="true" decoding="async" loading="lazy" width="150px"
            alt="Bixal Logo letter B silhouette around a photo of a smiling child."
            src="https://bixal.com/static/8fb0fe7a56370262b76be5bda8d68737/d409d/img-b-footer.png">
        </div>
        {% include "@components/social-nav/social-nav.html.twig"  with socialNav|default({}) %}
      </div>
      <div class="bix-site-footer__column bix-site-footer__column--collab">
        <h4 class="bix-site-footer__title">
          Work With Us
        </h4>
        <p>Looking to join our team? Check out our openings.</p>
        {% include "@components/button/button.html.twig" with {
          modifier: "bix-button--inverse",
          label: "Learn more",
          href: "javascript:void(0)",
          has_icon: true,
        } %}
      </div>
      <div class="bix-site-footer__column bix-site-footer__column--hq">

        <h4 class="bix-site-footer__title">Headquarters</h4>
        <div class="bix-site-footer-item__body">
          <address>3050 Chain Bridge Rd., Suite 305<br>Fairfax, VA 22030</address>
          <p>
            <a href="tel:1.703.634.5701">703.634.5701</a>
            <a href="mailto:info@bixal.com">info@bixal.com</a>
          </p>

          <h4 class="bix-site-footer__title">Washington, DC Office</h4>
          <address>529 14th Street NW, Suite 814<br>Washington, DC 20045</address>
        </div>
      </div>
      <div class="bix-site-footer__column bix-site-footer__column--accreditations">
        <h4 class="bix-site-footer__title">Accreditations</h4>
          <ul >
            <li>
              <a
                href="https://www.sba.gov/business-guide/grow-your-business/women-owned-businesses"
                rel="noopener noreferrer"
                target="_blank">
                  Woman-owned small business
              </a>
            </li>
            <li>
              <a
                href="https://www.iso.org/standard/62085.html"
                rel="noopener noreferrer"
                target="_blank">
                ISO 9001:2015
              </a>
            </li>
            <li>
              <a
                href="https://cmmiinstitute.com/learning/appraisals/levels"
                rel="noopener noreferrer"
                target="_blank">
                CMMI Level 3
              </a>
            </li>
            <li>
              <a
                href="https://www.iso.org/standard/62085.html"
                rel="noopener noreferrer"
                target="_blank">
              <span class="visually-hidden">ISO Certified</span>
                <div class="icon-container">
                  <img
                    src="https://bixal.com/static/7110e309c7dc3b7c2aa59397bde3793a/iso-certified.svg"
                    alt="ISO certified logo">
                </div>
              </a>
            </li>
            <li>
              <a
                href="https://cmmiinstitute.com/learning/appraisals/levels"
                rel="noopener noreferrer"
                target="_blank">
                <span class="visually-hidden">
                  Capability Maturity Model Integration Level 3
                </span>
                <div class="icon-container">
                  <img
                    src="https://bixal.com/static/9f64d5381d0ca7afecdd062b1bac2a68/cmmi.svg"
                    alt="Capability Maturity Model Integration Level 3 logo">
                </div>
              </a>
            </li>
          </ul>
      </div>
    </div>
  </section>
  <section id="bix-site-footer__secondary" class="bix-site-footer__secondary">
    <div class="bix-site-footer__secondary-container bix-container">
      <nav class="bix-site-footer__secondary-nav" aria-label="Site links">
        <ul class="bix-site-footer__secondary-nav-items">
          <li class="bix-site-footer__secondary-nav__item">
            <a class="quick-link quick-link--case-studies" href="/our-work/">
            Our Work
          </a>
        </li>
          <li class="bix-site-footer__secondary-nav__item">
            <a class="quick-link quick-link--contract-vehicles" href="/contract-vehicles/">
            Contract vehicles
          </a>
        </li>
          <li class="bix-site-footer__secondary-nav__item">
            <a class="quick-link quick-link--careers" href="/careers/">
              Careers
          </a>
        </li>
          <li class="bix-site-footer__secondary-nav__item">
            <a class="quick-link quick-link--about" href="/about/">
            About Bixal
          </a>
        </li>
        </ul>
      </nav>
      <div class="bix-site-footer__legal">
        <a class="privacy" href="/privacy/">Privacy Policy</a>
        <span class="copyright">Copyright &copy; 2023 Bixal</span>
      </div>
      {% include "@components/social-nav/social-nav.html.twig" with socialNav|default({}) %}
    </div>
  </section>
</footer>
