@use "uswds-core" as *;

.bix-site-footer {
  background-color: var(--c-accent-warm-dark);
  color: color("white");
  font-size: px-to-rem(18px);

  ul {
    list-style: none;
    margin-top: 0;
  }

  &__primary {
    padding-top: units(5);
    padding-bottom: units(5);
  }

  &__columns {
    display: grid;
    row-gap: units(3);

    @include at-media("desktop") {
      grid-template-columns: 150px 1fr 1fr 1fr;
      column-gap: units(4);
    }
  }

  &__column + &__column {
    @include at-media("desktop") {
      padding-left: units(6);
      position: relative;
    }
  }

  &__column + &__column::before {
    @include at-media("desktop") {
      background-color: rgba(white, 0.2);
      content: "";
      display: inline-block;
      height: 120px;
      width: 1px;
      position: absolute;
      left: 0;
    }
  }

  &__title {
    font-family: var(--font-ui);
    font-size: inherit;
    letter-spacing: 0.5px;
    margin-bottom: units("05");
    text-transform: uppercase;

    &::after {
      background-color: var(--c-accent-cool-alt);
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 0;
      margin-top: units("05");
      width: 200px;
    }
  }

  // ==========================================================================
  // Secondary section - Privacy policy & Social nav
  // ==========================================================================
  &__secondary {
    border-top: 1px solid rgba(white, 0.2);
    padding-top: units(2);
    padding-bottom: units(2);
  }

  &__secondary-container {
    @include at-media("tablet-lg") {
      align-items: center;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      column-gap: units(4);
      row-gap: units(2);
    }
  }

  &__secondary-nav {
    font-weight: 700;
    font-size: px-to-rem(14px);
    text-transform: uppercase;

    @include at-media("tablet-lg") {
      display: inline-flex;
      flex-grow: 1;
    }
  }

  &__secondary-nav-items {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-left: 0;

    @include at-media("tablet-lg") {
      margin-bottom: 0;
      width: 100%;
    }
  }

  .bix-social-nav {

    @include at-media("tablet-lg") {
      margin-top: 0;
      width: 100%;
    }

    @include at-media("desktop") {
      width: auto;
    }

    &__items {
      @include at-media("tablet-lg") {
        gap: units(1);
      }
    }
  }

  &__legal {
    @include at-media("tablet-lg") {
      display: flex;
      column-gap: units(2);
      margin-right: units(8);
      order: -1;
    }
  }
}

// Accreditations overides.
.bix-site-footer__column--accreditations {
  ul {
    padding-left: 0;
  }

  img {
    margin-top: units("05");
  }
}
