{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% set emphasis_blocks_classes = [
  "bix-emphasis-blocks",
  (variant ? "bix-emphasis-block--" ~ variant)
] | merge(additional_classes | default([])) %}

<div {{ attributes.addClass(emphasis_blocks_classes) }}>
  <div class="bix-emphasis-blocks__body">
    {% for block in blocks %}
    {% include "@components/emphasis-block/emphasis-block.html.twig" with block %}
  {% endfor %}
  </div>

  <div class="bix-emphasis-blocks__footer">
    {% if cta.label %}
      {% include "@components/button/button.html.twig" with cta %}
    {% endif %}
  </div>
</div>
