@use "uswds-core" as *;

.bix-emphasis-blocks {
  // The grid container.
  &__body {
    display: flex;
    flex-direction: column;
    gap: units(2);

    @include at-media("tablet") {
      flex-flow: row wrap;
      justify-content: center;
      align-items: stretch;
    }

    .bix-emphasis-block {
      @include at-media("tablet") {
        width: calc(50% - #{units(1)});
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    margin-top: units(3);
  }
}

.bix-emphasis-block {
  --_emphasis-text-color: var(--emphasis-text-color, #{color("ink")});
  --_emphasis-background-color: var(--emphasis-background-color, --c-base);
  --_emphasis-link-bg-color: var(
    --emphasis-link-bg-color,
    rgba(125, 0, 150, 0.5)
  );
  --_emphasis-border-color: var(
    --emphasis-border-color,
    oklch(from var(--_emphasis-text-color) l c h / 0.2)
  );

  align-items: center;
  background-color: var(--_emphasis-background-color);
  color: var(--_emphasis-text-color);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: units(3) units(6);
  text-align: center;

  @include at-media("desktop") {
    padding: units(6) units(9);
  }

  &__prefix {
    border-left: 2px solid var(--_emphasis-border-color);
    border-right: 2px solid var(--_emphasis-border-color);
    font-weight: 700;
    font-size: px-to-rem(16px);
    line-height: 1;
    margin-top: units("05");
    margin-bottom: units("05");
    padding-left: units(2);
    padding-right: units(2);
    text-transform: uppercase;
  }

  &__title {
    line-height: 1.5;
    letter-spacing: -0.75px;
    font-family: var(--font-heading);
    margin-top: units(1);
    margin-bottom: units(2);

    @include at-media("desktop") {
      font-size: px-to-rem(30px);
    }
  }

  &__link {
    box-shadow: var() 0px -2px 0px inset;
    text-decoration: none;
    padding-left: units("05");
    padding-right: units("05");
    transition: box-shadow 0.25s;

    &:hover,
    &:focus {
      box-shadow: var(--_emphasis-link-bg-color) 0px -100px 0px inset;
    }
  }
}

.bix-emphasis-block--base {
  --emphasis-background-color: var(--c-base);
}

.bix-emphasis-block--primary {
  --emphasis-text-color: #ffffff;
  --emphasis-background-color: var(--c-primary);
  --emphasis-link-bg-color: oklch(from var(--c-accent-cool-alt) l c h / 0.6);
}

.bix-emphasis-block--primary-alt {
  --emphasis-text-color: #ffffff;
  --emphasis-background-color: var(--c-primary-alt);
  --emphasis-link-bg-color: oklch(from var(--c-primary) l c h / 0.6);
}

.bix-emphasis-block--accent-cool {
  --emphasis-background-color: var(--c-accent-cool);
}

.bix-emphasis-block--accent-cool-alt {
  --emphasis-background-color: var(--c-accent-cool-alt);
}

.bix-emphasis-block--accent-warm {
  --emphasis-background-color: var(--c-accent-warm);
  --emphasis-link-bg-color: oklch(from var(--c-primary-alt) l c h / 0.6);
}

.bix-emphasis-block--accent-vivid {
  --emphasis-background-color: var(--c-accent-vivid);
  --emphasis-link-bg-color: oklch(from var(--c-accent-warm) l c h / 0.8);
}
