@use "uswds-core" as *;

.bix-emphasis-block {
  --_link-bg-color: var(--link-bg-color, rgb(125 0 150 / 50%));

  align-items: center;
  background-color: var(--c-base);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: units(3) units(6);
  text-align: center;

  @include at-media("desktop") {
    padding: units(6) units(9);
  }

  &__prefix {
    --_border-color: color-mix(in srgb, black, white 75%);

    border-left: 2px solid var(--_border-color);
    border-right: 2px solid var(--_border-color);
    font-weight: 700;
    font-size: px-to-rem(16px);
    line-height: 1;
    margin-top: units("05");
    margin-bottom: units("05");
    padding-left: units(2);
    padding-right: units(2);
    text-transform: uppercase;
  }

  &__title {
    line-height: 1.5;
    letter-spacing: -0.75px;
    font-family: var(--font-heading);
    margin-top: units(1);
    margin-bottom: units(2);

    @include at-media("desktop") {
      font-size: px-to-rem(30px);
    }
  }

  &__link {
    box-shadow: var(--_link-bg-color) 0 -2px 0 inset;
    text-decoration: none;
    padding-left: units("05");
    padding-right: units("05");
    transition: box-shadow 0.25s;

    &:hover,
    &:focus {
      box-shadow: var(--_link-bg-color) 0 -100px 0 inset;
    }
  }
}

.bix-emphasis-blocks {
  // The grid container.
  &__body {
    display: flex;
    flex-direction: column;
    gap: units(2);

    @include at-media("tablet") {
      flex-flow: row wrap;
      justify-content: center;
      align-items: stretch;
    }

    .bix-emphasis-block {
      @include at-media("tablet") {
        width: calc(50% - #{units(1)});
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    margin-top: units(3);
  }
}
