{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% set emphasis_classes = [
  "bix-emphasis-blocks",
] | merge(additional_classes | default([])) %}

<div{{ attributes.addClass(emphasis_classes | default([])) }}>
  {{ content.contextual_links }}
  <div class="bix-emphasis-blocks__body">
    {% if blocks %}
      {% for block in blocks %}
        {% include "@components/emphasis-block/emphasis-block.html.twig" with block %}
      {% endfor %}
    {% endif %}
    {{ blocks_content }}
  </div>

  <div class="bix-emphasis-blocks__footer">
    {% if cta.label %}
      {% include "@components/button/button.html.twig" with cta %}
    {% endif %}
  </div>
</div>
