<div class="bix-emphasis-block">
  {% if prefix %}
  <p class="bix-emphasis-block__prefix">
    {{ prefix }}
  </p>
  {% endif %}
  {# @TODO: Fix heading order, ex: use `h3`. #}
  <h4 class="bix-emphasis-block__title">
    {% if href %}
    <a
      rel="noreferrer"
      target="_blank"
      href="{{ href }}"
      class="bix-emphasis-block__link"
    >
    {% endif %}

    {{ title }}

    {% if href %}</a>{% endif %}
  </h4>
  <div class="bix-emphasis-block__postfix">{{ postfix }}</div>
</div>
