<div class="bix-emphasis-block">
  <p class="bix-emphasis-block__prefix">
    Cloud &amp; Compliance
  </p>
  <h4 class="heading">
    <a
      rel="noreferrer"
      target="_blank"
      href="https://jobs.lever.co/bixal/4ff54a1e-bc38-4bf0-8c67-158d4907e5e0"
    >
      Cybersecurity Resilience Lead - USAID Kosovo Critical Infrastructure
      Activity
    </a>
  </h4>
  <div class="bix-emphasis-block__postfix">Pristina</div>
</div>
