{#
/**
  * Prose
  *
  * Available variables:
  * - content (string): The content to be placed inside of prose.
**/
#}
{% if content %}
  <div class="bix-prose">
    {% block content %}
    {{ content }}
    {% endblock %}
  </div>
{% endif %}
