<section class="bix-section">
  <div class="bix-section__container">
    <div class="bix-section__overview">
      <div class="bix-section__pretitle piped-title">
        Who we are
      </div>
      <div class="bix-section__heading">
        <h2>
          Bixal is a diverse group of strategists, designers, engineers, and
          thinkers.
        </h2>
      </div>
      <div class="section-overview__decoration-divider"></div>
    </div>
    <div class="who-we-are__description">
      <p>
        Our common belief is that everyone has the right to an effective government. Every day, we come to work focused on helping our federal partners deliver a better customer experience to the American public and communities around the world. We value kindness, humility, and collaboration. Our culture is felt the moment you walk in the door, and it is reflected across our entire team.
      </p>
      <div class="who-we-are__link">
        <a href="/about/">
          <div class="bixal-button link">
            <div class="bixal-button-content">
              <div>
                Learn More About Us
                <div class="icon-container" aria-hidden="true">
                  <svg
                    class="icon right-arrow"
                    width="20px"
                    fill="#000"
                    version="1.1"
                    id=""
                    xmlns="http://www.w3.org/2000/svg"
                    x="0px"
                    y="0px"
                    viewBox="0 0 24 12"
                  >
                    <polygon
                      class="st0"
                      points="24,6 18,0 18,5.4 0,5.4 0,6.7 18,6.7 18,12 "
                    ></polygon>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<style>
  .bix-section {
    background-position: top;
    background-repeat: no-repeat;
    padding: 100px 0;
  }

  .bix-section__container {
    height: 100%;
    margin: 0 auto;
    max-width: 1350px;
    width: 85%;
  }

  .section-overview__decoration-divider {
    border-bottom: 2px solid #03c5bc;
    margin-top: 20px;
    width: 30%;
  }
</style>
