@use "uswds-core" as *;

.bix-button {
  align-items: first baseline;
  background-color: transparent;
  border-radius: units(1);
  border: 1px solid currentColor;
  color: color("ink");
  column-gap: units(1);
  cursor: pointer;
  display: inline-flex;
  line-height: 1;
  outline-color: var(--c-accent-cool-alt);
  padding: units(2) units(3);
  transition: 0.2s ease-in;

  &:hover,
  &:focus {
    background-color: color("ink");
    color: color("white");
    outline-offset: 3px;
  }

  svg {
    fill: currentColor;
  }
}

.bix-button--icon-before {
  flex-direction: row-reverse;
}

.bix-button.bix-button--inverse {
  color: color("white");

  &:is(:focus, :hover) {
    background-color: color("white");
    color: color("ink");
    outline-offset: 3px;
  }
}

.bix-button--unstyled {
  border: none;
  border-radius: 0;
  appearance: none;
  text-decoration: underline;
  text-decoration-thickness: px-to-rem(1px);
  text-underline-offset: px-to-rem(2px);

  &:hover,
  &:focus {
    background: none;
    color: color("ink");
  }
}
