@use "uswds-core" as *;

.bix-graphic-list {
  display: flex;
  flex-direction: column;
  gap: units(3);

  @include at-media("desktop") {
    flex-flow: row wrap;
  }

  &__item {
    @include at-media("mobile-lg") {
      display: flex;
      flex: 1 0 100%;
      flex-flow: row nowrap;
      column-gap: units(3);
    }
  }

  &__image {
    flex-shrink: 0;
  }

  &__title {
    margin-top: units(2);
  }

  dt {
    padding-left: 0;
  }

  &__body {
    flex-grow: 1;
  }
}

.bix-graphic-list--background {
  grid-column: full-bleed !important;
  display: grid;
  row-gap: 4rem;
  // grid-template-columns: subgrid;

  .bix-graphic-list__inner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .bix-graphic-list__item {
    background-color: var(--c-graphic-list-background-color, white);
    color: var(--c-graphic-list-text-color, currentColor);
    padding: 2rem;
    width: 85%;

    dd {
      padding-inline-start: 0;
    }

    &:nth-child(odd) {
      border-start-end-radius: 1rem;
      border-end-end-radius: 1rem;
      margin-inline-end: auto;
      padding-inline-start: 7vw;
      flex-direction: row-reverse;
    }

    &:nth-child(even) {
      border-start-start-radius: 1rem;
      border-end-start-radius: 1rem;
      margin-inline-start: auto;
    }

    &:nth-of-type(1) {
      --c-graphic-list-background-color: var(--c-accent-vivid);
      --c-graphic-list-text-color: var(--c-primary);
    }

    &:nth-of-type(2) {
      --c-graphic-list-background-color: var(--c-accent-cool);
      --c-graphic-list-text-color: var(--c-primary);
    }

    &:nth-of-type(3) {
      --c-graphic-list-background-color: var(--c-primary-alt);
      --c-graphic-list-text-color: white;
    }

    &:nth-of-type(4) {
      --c-graphic-list-background-color: var(--c-accent-cool-alt);
      --c-graphic-list-text-color: var(--c-primary);
    }

    &:nth-of-type(5) {
      --c-graphic-list-background-color: var(--c-accent-warm);
      --c-graphic-list-text-color: var(--c-primary);
    }
  }
}
