@use "uswds-core" as *;
@use "../../assets/styles/utils/mixins/alert-base-styles" as *;

.bix-alert {
  @include alert-base-styles;

  --_alert-color: var(--alert-color, currentColor);

  border-left: 4px solid var(--_alert-color);

  &__body {
    padding: units(1) units(2.5);
    padding-inline-start: units(5);
    position: relative;
  }

  &__icon {
    fill: var(--_alert-color);
    position: absolute;
    z-index: 1;
    margin-inline-start: -1.9rem;
    margin-block-start: 0.25rem;
    width: units(2.5);
    height: units(2.5);
  }

  &:where(:not(:first-child)) {
    margin-block-start: units(1);
  }
}

.bix-alert--info {
  --alert-color: var(--c-info-darker);
}

.bix-alert--warning {
  --alert-color: var(--c-warning);
}

.bix-alert--error {
  --alert-color: var(--c-error);
}

.bix-alert--success {
  --alert-color: var(--c-success);
}
