<a class="case-study-item__link case-studies button--inverted" href="/our-work/digital-apex/">
  <div class="case-study-list__item-content">
    <div data-gatsby-image-wrapper="" class="gatsby-image-wrapper case-study-list__item-image">
      <img src="https://bixal.com/static/d6b25ad6c22c438dde0709d18958c405/e30f5/digital-apex-1.webp" alt="">
    </div>
  </div>
  <div>
    <h3 class="case-study-list__item-client">
      Building cybersecurity capacity to improve digital health and protect
      against cyber threats
    </h3>
  </div>
  <div class="case-study-list__item-title">USAID Digital APEX</div>
</a>
