@use "uswds-core" as *;

// @TODO: Move to color partial
$c-blue--dark: #162d6a;
$c-blue--light: #bee9f7;
$c-teal: #05c5bc;
$c-purple: #7d0096;
$c-green: #deec1c;
$c-maroon: #55052a;
$c-orange: #fda307;
$c-red-orange: #e02f00;

$font-ui: "Proxima Nova", Arial, Helvetica, sans-serif;
$font-heading: "novel-pro", Georgia, Times, "Times New Roman", serif;

:root {
  --c-primary: #{$c-blue--dark};
  --c-primary-alt: #{$c-purple};
  --c-accent-cool: #{$c-blue--light};
  --c-accent-cool-alt: #{$c-teal};
  --c-accent-warm: #{$c-orange};
  --c-accent-warm-alt: #{$c-red-orange};
  --c-accent-warm-dark: #{$c-maroon};
  --c-accent-vivid: #{$c-green};
  --font-heading: #{$font-heading};
  --font-ui: #{$font-ui};
}

// Modern normalize - CSS Reset.
@import url("https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css");

// Novel pro fontface.
@import url("https://use.typekit.net/wfu7yyr.css");

//
// Typography
//

body {
  color: color("ink");
  font-family: $font-ui;
  font-size: 20px;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  font-weight: 800;
  font-weight: font-weight(800);
  line-height: 1.2;
  margin: 0;
}

h1 {
  font-size: 64px;
  line-height: 1;
  text-wrap: balance;
}

h2 {
  font-size: 47px;
  font-weight: 700;
  letter-spacing: -2.4px;
}

h3 {
  font-size: 43px;
  letter-spacing: -0.75px;
}

h4 {
  font-size: 30px;
  letter-spacing: -0.75px;
}

h5 {
  font-size: 22px;
  letter-spacing: -0.5px;
}

.bix-piped-title {
  border-left: 2px solid var(--c-accent-cool-alt);
  border-right: 2px solid var(--c-accent-cool-alt);
  display: inline-flex;
  font-family: $font-ui;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1;
  margin: 14px 0;
  padding: 0 10px;
  text-transform: uppercase;
}

dl {
  line-height: 1.75;
  margin-top: units(2);
  margin-bottom: units(2);
}

dt,
dd {
  margin-left: 0;
  padding-left: units(3);
}

dt {
  font-family: var(--font-heading);
}

dd {
  font-size: 1rem;
}

ul,
ol {
  list-style-position: inside;
  margin-top: units(2);
  margin-bottom: units(2);
  padding: 0;

  ul,
  ol {
    margin-top: 0;
    margin-bottom: units(1);
    padding-left: units(3);
  }
}

a {
  color: inherit;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

p {
  &[lang="en"] {
    hyphens: auto;
  }

  margin-top: 0;
  margin-bottom: units("205");
}

img {
  max-width: 100%;
  vertical-align: middle; // Remove extra space from images.
}

address {
  font-style: normal;
}

.bix-container {
  height: 100%;
  margin: 0 auto;
  max-width: 1350px;
  width: 85%;
}

// Form elements

.bix-input {
  border: 1px solid currentColor;
  border-radius: 3px;
  font-size: px-to-rem(14px);
  margin-bottom: units(1);
  outline-offset: 2px;
  padding: units(1);
}
