@use "uswds-core" as *;

.bix-section {
  --_section-background-color: var(--section-background-color, none);

  background-color: var(--_section-background-color);
  padding-block-start: units(5);
  padding-block-end: units(5);

  @include at-media("tablet") {
    padding-block-start: units(10);
    padding-block-end: units(10);
  }

  .bix-section__title:not(:first-of-type) {
    margin-block-start: units(8);
  }

  &__body p {
    max-width: 60ch;
    widows: 3;
  }

  &__footer {
    margin-block-start: units(6);
  }
}

.bix-section--base {
  --section-background-color: var(--c-base);
}

.bix-section--primary {
  --section-background-color: var(--c-primary);

  color: color("white");

  .bix-input {
    background-color: transparent;
    color: inherit;

    &:focus,
    &:active {
      background-color: color-mix(in srgb, var(--c-primary) 5%, black 30%);
    }

    &::placeholder {
      color: rgba(white, 0.6);
    }
  }

  legend {
    color: inherit;
  }
}

.bix-section--primary-alt {
  --section-background-color: var(--c-primary-alt);

  color: color("white");

  .bix-input {
    background-color: transparent;
    color: inherit;

    &::placeholder {
      color: rgba(white, 0.6);
    }
  }

  legend {
    color: inherit;
  }
}

.bix-section--accent-cool {
  --section-background-color: var(--c-accent-cool);
}

.bix-section--center-content {
  text-align: center;

  .bix-section__body p {
    // max-width: none;
    margin-left: auto;
    margin-right: auto;
  }

  .bix-section__title::after {
    margin-left: auto;
    margin-right: auto;
  }
}

.bix-section--image-bg {
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  min-height: px-to-rem(300px);
  padding-block-start: units(5);
  padding-block-end: units(5);

  @include at-media("desktop") {
    min-height: px-to-rem(600px);
    padding-block-start: px-to-rem(160px);
    padding-block-end: px-to-rem(160px);
  }
}

.bix-section--tall {
  min-height: px-to-rem(960px);
}
