@use "uswds-core" as *;

// @TODO Create mixin.
.bix-section {
  padding: 100px 0;

  &__body p {
    max-width: px-to-rem(725px);
    widows: 3;
  }

  &__footer {
    margin-top: units(6);
  }
}

.bix-section--base {
  background-color: var(--c-base);
}

.bix-section--primary {
  background-color: var(--c-primary);
  color: color("white");

  .bix-input {
    background-color: transparent;
    color: inherit;

    &:focus,
    &:active {
      background-color: color-mix(in srgb, var(--c-primary) 5%, black 30%);
    }

    &::placeholder {
      color: rgba(white, 0.6);
    }
  }
}

.bix-section--primary-alt {
  background-color: var(--c-primary-alt);
  color: color("white");

  .bix-input {
    background-color: transparent;
    color: inherit;

    &::placeholder {
      color: rgba(white, 0.6);
    }
  }
}

.bix-section--centered {
  text-align: center;

  .bix-section__body p {
    max-width: none;
  }

  .bix-section__title::after {
    content: none;
  }
}

.bix-section--tall {
  min-height: px-to-rem(800px);
}

.bix-section--image-bg {
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-top: px-to-rem(160px);
  padding-bottom: px-to-rem(160px);
}
