<section class="bix-section bix-section--{{ variant }}">
  <div class="bix-container">
    <div class="bix-section__overview">
      <div class="bix-title-prefix">
        Who we are
      </div>
      <h2>
        Bixal is a diverse group of strategists, designers, engineers, and
        thinkers.
      </h2>
    </div>
    <div class="who-we-are__description">
      <p>
        Our common belief is that everyone has the right to an effective government. Every day, we come to work focused on helping our federal partners deliver a better customer experience to the American public and communities around the world. We value kindness, humility, and collaboration. Our culture is felt the moment you walk in the door, and it is reflected across our entire team.
      </p>
    </div>
  </div>
</section>
