{% extends "@pages/base/base.html.twig" %}

{% block content %}

  {% embed "@components/section/section.html.twig" %}
    {% block body %}
      <h2>A focus on federal</h2>
      <p>
        Bixal partners with federal agencies and organizations for two reasons: We believe that everyone has the right to effective government, and we believe that our government has the potential to deliver on its promise of promoting the general welfare of all people. Helping federal agencies create tangible change—by providing an agile, people-first approach to fixing complex organizational issues—is what we do best. Our dedicated teams work with stakeholders to deliver powerful data-driven customer experiences through digital and communications solutions to real-life problems.
      </p>

      <h2>Capabilities</h2>
      <p>
        There’s no better way to reach communities and transform organizations than with effective technology and digital communications. The services we offer start with meaningful dialogue to gain an understanding of user needs and institutional goals and end with effective, customer-centric solutions to even the most intricate of problems.
      </p>

      <h2>Contract vehicles</h2>
      <p>
        Government agencies can seek our services through several contract vehicles, which are designed to provide an efficient and effective way to procure a range of services—including IT, marketing and communications, administrative management, consulting services, and an array of other professional support products and services—for all contract types.
      </p>

      <ul>
        <li><a href="">OASIS SB Pool 1 & OASIS 8(a) SubPool 1</a></li>
        <li><a href="">USDA Indefinite Delivery Indefinite Quantity (IDIQ)</a></li>
        <li><a href="">USAID EVAL-ME II IDIQ</a></li>
        <li><a href="">US Department of the Treasury (USDT) Office of Technical Assistance (OTA) </a></li>
        <li><a href="">Blanket Purchase Agreement (BPA)</a></li>
        <li><a href="">GSA TOTAL BPA</a></li>
        <li><a href="">GSA Multiple Award Schedule (MAS)</a></li>
      </ul>

    {% endblock %}
  {% endembed %}
{% endblock %}
