{% extends "@components/section/section.html.twig" %}

{% set additional_classes = section_additional_classes %}
{% set variant = section_variant %}
{% set prefix = section_prefix %}
{% set title = section_title %}

{% set body %}

<form class="bix-contact-form" id="emailContactForm">

  {% if hint %}
    {{ hint }}
  {% endif %}

  <div{{ attributes.addClass(form.grid)}}>

    {% for item in form.items %}
      <div class="{{ item.class }}">
        {% include "@components/input/input.html.twig" with item only %}
      </div>
    {% endfor %}

    {% if captcha %}
      {{ captcha }}
    {% endif %}

    {% if actions %}
      <div class="bix-contact__actions">
        {% for action in actions %}
          {% include "@components/button/button.html.twig" with action only %}
        {% endfor %}
      </div>
    {% endif %}

  </div>
</form>

{% endset %}
