@use "uswds-core" as *;

.bix-contact {
  @include at-media("desktop") {
    background-image: url("/static/img-contact-1124f113171200a67715b157b11c6c19.jpg");
    background-position: 130% 0%;
    background-size: 50% 100%;
    background-repeat: no-repeat;
  }

  &__actions {
    display: flex;
    gap: units(1);
  }
}

.bix-contact-form {
  @include at-media("desktop") {
    max-width: 45%;
  }
}

.captcha {
  margin-bottom: units(1);

  &__description {
    font-size: size("sans", "xs");
    line-height: 1.1;
    margin-top: units(1);
  }
}
