@use "uswds-core" as *;

.bix-contact {
  @include at-media("desktop") {
    background-image: url("https://www.bixal.com/static/img-contact-1124f113171200a67715b157b11c6c19.jpg");
    background-position: 130% 0%;
    background-size: 50%;
    background-repeat: no-repeat;
  }

  &__content {
    @include at-media("desktop") {
      max-width: 45%;
    }
  }

  &__form {
    @include at-media("tablet") {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: units(1);
    }

    .bix-input {
      width: 100%;
    }

    .bix-input--textarea, .bix-input[name=name] {
      grid-column: 1 / -1;
    }
  }

  &__actions {
    grid-row-start: 4;
  }
}
