# Storybook assets pushed into Drupal.
/static
/icons

#### Appended to by mattsqd/drupal-env. ####

/core
/libraries
/*/contrib
/sites/*/files
# Ignore test environment.
/sites/simpletest
/sites/*/settings.local.php

#### End of appended content by mattsqd/drupal-env. ####
