# Ignore drupal-core scaffolding.
/.csslintrc
/.eslintrc.json
/.ht.router.php
/.htaccess
/example.gitignore
/INSTALL.txt
/README.md
/index.php
/robots.txt
/update.php
/autoload_runtime.php

# Storybook assets pushed into Drupal.
/static
/icons

#### Appended to by mattsqd/drupal-env. ####

/core
/libraries
/*/contrib
/sites/*/files
# Ignore test environment.
/sites/simpletest
/sites/*/settings.local.php

#### End of appended content by mattsqd/drupal-env. ####
